<?php
    $path = Flywheel_Factory::getDocument()->getPublicPath();
?>
<div class="grid_24" style="margin-top: 20px;">
    <p> <a class="add-new" href="<?php echo $path; ?>admin.php?com=content_category&act=new" >[ Add new ]</a></p>
</div>
<?php if (isset($categoryTree)) { ?>
    <div class="box-body-content grid_24 ">
        <table class="category" width="100%;" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <th style="width:40px;">
                    <input id="check-all" name="" type="checkbox" value="" />
                    <a href=""><img src="admin/images/icon-lock.gif" /></a>
                    <a href="" style="display:none"><img src="admin/images/icon-unlock.gif" /></a>
                </th>
                <th>Tên danh mục</th>
                <th style="width:50px;">Thứ tự</th>
                <th class="end" style="width: 70px;">Trạng thái</th>
                <th style="width: 180px; text-align: center;">#</th>
            </tr>
            <?php

            function showTree(array $param, $space) {
                $path = Flywheel_Factory::getDocument()->getPublicPath();
                foreach ($param as $value) {
                    ?>
                    <tr class="alt cate-tool-<?php echo $value->id; ?>">
                        <td><input class="check" name=""  type="checkbox" value="" /></td>
                        <?php $temp = $space; ?>
                        <td>
                            <p>
                                <?php if ("" != $space)
                                    echo $space . '<sup> L </sup>'; ?>
                                <a href="<?php echo $path; ?>admin.php?com=content_category&act=edit&id=<?php echo $value->id; ?>">
                                    <?php echo $value->name; ?>
                                </a>
                            </p>
                        </td>
                        <td align="center">
                            <?php echo $value->ordering; ?> 
                        </td>
                        <td align="center"><?php if (1 == $value->published) : ?>
                                <img src="admin/images/icon-unlock.gif" title="Mở" >
                            <?php else : ?>
                                <img src="admin/images/icon-lock.gif" title="Khóa" >
                            <?php endif; ?>
                        </td>
                        <td>
                            <a class="cate-edit" href="<?php echo $path; ?>admin.php?com=content_category&act=edit&id=<?php echo $value->id; ?>">[ Edit ]</a>
                            <a class="cate-del" onclick="return confirm('Xóa danh mục này ?');"
                               href="<?php echo $path; ?>admin.php?com=content_category&del=<?php echo $value->id; ?>">[ Delete ]</a>
                        </td>
                        <?php
                        if (0 != sizeof($value->childs)) :
                            $space.="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";
                            showTree($value->childs, $space);
                        endif;
                        $space = $temp;
                        ?>
                    </tr>
                <?php
                }
            }

            showTree($categoryTree, "");
            ?>
        </table>
    </div>
    <div class="grid_24">
        <br/>
        <a class="add-new" href="<?php echo $path; ?>admin.php?com=content_category&act=new" >[ Add new ]</a>
    </div>
<?php } ?>
<div class="clear"></div>

<style type="text/css">
    .title-box-body { cursor: default; }
    div .de_active { font-weight: normal;}
    a:hover { text-decoration: none; font-weight: bold;}
    a:hover span { font-weight: bold;}
</style>
