<div id="body" class="container_24">

    <div class="clear"></div>
    <?php echo $message ?>
    <div class="clear"></div>
    <form name="content_category_form" class="admin-form" method="POST" action="">

        <div class="grid_24" style="margin-top: 10px;">
            <h2>
                <?php if (true === $category->isNew()) : ?>
            		Tạo mới danh mục 
                <?php else : ?> 
            		Sửa danh mục: <?php echo $category->name; ?>
                <?php endif; ?>
                <a href="?com=content_category&act=default" class="goList" title="Xem danh sách"></a>
            </h2>
            <fieldset>
                <legend>Thông tin danh mục</legend>
                <table cellpadding="3" cellspacing="0" width="80%;" style="margin: auto;">
                    <tr>
                        <td width="15%">Tiêu đề</td>
                        <td width="55%"><input name="name" value="<?php echo $category->name; ?>" type="text" class="text-field large" /></td>
                        <td width="10%">Thứ tự</td>
                        <td><input value="<?php echo $category->ordering; ?>" name="ordering" type="text" class="text-field small" /></td>
                    </tr>
                    <tr>
                        <td>Danh mục cha</td>
                        <td><?php echo $category_tree; ?></td>
                        <td>Trạng thái</td>
                        <td><?php echo $radio_status; ?></td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top">Mô tả</td>
                        <td colspan="3">
                            <textarea class="text-field large" name="description" rows="5"><?php echo $category->description; ?></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="3" class="action">
                            <input type="hidden" name="is_new" value="<?= $category->isNew() ?>" />
                            <input type="hidden" name="<?= Flywheel_Factory::getSession()->getToken(); ?>" value="1" />
                            <input type="submit" name="submi" value="Lưu" class="button-content-yell" />
                            <input type="reset" name="reset" value="Làm lại" class="button-content-grays" />
                        </td>
                        
                    </tr>
                </table>
            </fieldset>
        </div>
        <div class="grid_24" style="display:none;">
            <h4>Cấu hình danh mục</h4>
            <div id="category-option-form">
                <?= $config_form ?>
            </div>
        </div>
    </form>
</div>
<style type="text/css">
    .grid_24 fieldset { border: 1px solid #DDD; border-radius:5px; -moz-border-radius: 5px; }
    .grid_24 fieldset legend { padding: 5px; font-size: 20px; }
    div .grid_24 fieldset table td { border-bottom: 0; }
    .system-message { margin: 5px; }
    .goList { float: right; padding: 16px; background: url('frontend/images/back.png') no-repeat; }
    .action input {font-size: 14px; height: auto; padding: 8px 15px; font-weight: bold; border: 1px solid #DDD; width: 100px; }
    .button-content-grays { color: #444; }
</style>
