<table cellspacing="0" cellpadding="3" width="100%">
  <tr>
    <td width="30%">Giao diện hiển thị: </td>
    <td><?php echo render_content_category_layout_option($category->getConfigParam('view')); ?></td>
  </tr>
  <tr>
  	<td width="30%">Tiêu đề có khả năng liên kết: </td>
  	<td><?php echo render_radio_option('config[link_title]', array('Có' => 1, 'Không' => 0), $category->getConfigParam('link_title', Flywheel_Filter::TYPE_INT, 1)) ?></td>
  </tr>
  <tr>
  	<td width="30%">Số lượng bài viết trong một trang</td>
  	<td><?php echo render_form_select('config[page_size]', array('10 bài' => 10, '20 bài' => 20, '30 bài' => 30, 'không giới hạn' => 0), $category->getConfigParam('page_size', Flywheel_Filter::TYPE_INT, 20)) ?></td>
  </tr>
  <tr>
  	<td width="30%">Sắp xếp theo</td>
  	<td><?php echo render_form_select('config[order_by]', array('Mới nhất trước' => 'modified_time_desc', 'Thứ tự bài viết' => 'ordering'), $category->getConfigParam('order_by', Flywheel_Filter::TYPE_STRING)) ?></td>
  </tr>
</table>