<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <?php
        $document = Flywheel_Factory::getDocument();
        $url_path = $document->getPublicPath();
        $base_url = $document->getBaseUrl();
        $user = Flywheel_Authen::getInstance()->getUser();
        ?>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" media="all" href="<?php echo $url_path; ?>admin/stylesheet/reset.css" />
        <link rel="stylesheet" type="text/css" media="all" href="<?php echo $url_path; ?>admin/stylesheet/960_24_col.css" />
        <link rel="stylesheet" type="text/css" media="all" href="<?php echo $url_path; ?>admin/stylesheet/text.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $url_path; ?>admin/stylesheet/include.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $url_path; ?>admin/stylesheet/styles.css" />

        <title><?php echo Flywheel_Factory::getDocument()->title; ?></title>
        <style type="text">
            #body { clear: both; }
        </style>
        <script type="text/javascript" src="<?php echo $url_path; ?>js/plugins/jquery/jquery-1.7.1.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#body').height($(window).height() - 220 + 'px');
            });
        </script>
    </head>
    <body>
        <div class="container_24" id="header">
            <!-- hello user -->
            <div class="grid_8 mar-top-8">
                Xin chào <a href="" id="acc-name"><?php echo $user->username ?></a>
                <a href="?com=login&act=logout">[ Thoát ]</a>
            </div>
            <!-- back home -->
            <div class="grid_3 prefix_13" id="backhome">
                <a href="<?php echo $url_path ?>" title="Quản trị"><span class="home">Home</span></a>
                <a href="<?php echo $url_path ?>" target="_blank" title="Trang người dùng"><span>Preview</span></a>
            </div>
            <div class="clear"></div>
            <!-- logo -->
            <div id="header-content" class="grid_7">
                <a href=""><img src="admin/images/logo.gif" /></a>
            </div>
            <div class="admin-title">
                HỆ THỐNG QUẢN TRỊ
            </div>
        </div>     
        
        <?php require_once MODULES_DIR . 'admin_menu.php'; ?>     
        
        <!-- box body -->
        <div id="body" class="container_24">
            <?php echo Flywheel_Factory::getDocument()->getComponentData(); ?>
        </div>

        <!-- list body -->
        <div id="footer" class="container_24 clearfix">
            <div class="grid_24">Copyright © 2012 - <?php echo WEBSITE_NAME; ?>, All Rights Reserved</div>
        </div>
    </body>

</html>

