<?php $url_path = Flywheel_Factory::getDocument()->getPublicPath(); ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="<?php echo $url_path; ?>admin/stylesheet/include.css" rel="stylesheet" type="text/css" />
<link href="<?php echo $url_path; ?>admin/stylesheet/styles.css" rel="stylesheet" type="text/css" />
<link href="<?php echo $url_path; ?>admin/stylesheet/login.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="<?php echo $url_path; ?>js/plugins/jquery/jquery-1.4.2.js"></script>
<title><?php echo Flywheel_Factory::getDocument()->title; ?></title>
</head>
<body>
<div class="container_24">
	<div class="grid_24">
		<?php echo Flywheel_Factory::getDocument()->getComponentData(); ?>
	</div>
</div>
</body>
<script type="text/javascript" src="<?php echo $url_path; ?>admin/js/admin.js"></script>
</html>
