<?php
/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */
?>
<div id="footer">
    <p>
        CÔNG TY TNHH QUẢNG CÁO THƯƠNG MẠI XUẤT NHẬP KHẨU KHẢI KHUÊ
    </p>
    <p>
        * ĐC: 255/85A Nơ Trang Long Phường 13 quận Bình Thạnh , TP.HCM
    </p>
    <p>
        *VP: 311/2/2 Nơ TRang Long ,Phường 13 Quận Bình Thạnh
    </p>
    <p>
        * ĐT: 083 5534773 - 0913056538 - 0913756499
    </p>
    <p>
        * FAX: 083 5534772
    </p>
    <p>
        * Email: khaikhueltd@gmail.com
    </p>
    <p>
        * Website: khangiaykhaikhue.com
    </p>
</div>