<?php

/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */

// Get list content categories
$_ContentCategory = new ContentCategory();
$_content_category = $_ContentCategory->selectList("`published`=1 AND `parent_id`=0", "`ordering` ASC");

$router = Flywheel_Factory::getRouter();
$req    = Flywheel_Factory::getRequest();
$controller = $router->getController();

?>

<div class="menu-style">
    <ul class="main">
        <li class="<?php echo strtolower($controller) != 'arts' ? 'active' : '' ?>">
            <a href="<?php echo $url_path ?>" title="Trang chủ">Trang chủ</a>
        </li>
        <!--
        <li>
            <a href="" title="Giấy các loại">Khăn giấy</a>
            <ul class="child">
                <li><a href="">Khăn giấy lau tay</a></li>
                <li><a href="">Khăn Giấy Facail Tissue</a></li>
                <li><a href="">Khăn Giấy Napkin</a></li>
                <li><a href="">Giấy vệ sinh</a></li>
            </ul>
        </li>
        <li>
            <a href="" title="Hộp đựng khăn giấy các loại">Hộp đựng</a>
            <ul class="child">
                <li><a href="">Hộp nhựa</a></li>
                <li><a href="">Hộp Inox</a></li>
            </ul>
        </li>
        <li>
            <a href="" title="Sản phẩm hóa chất tẩy rửa">Hóa chất tẩy rửa</a>
            <ul class="child">
                <li><a href="">Nước rửa tay</a></li>
                <li><a href="">Nước lau sàn</a></li>
                <li><a href="">Nước rửa bồn</a></li>
                <li><a href="">Nước Xả vải</a></li>
                <li><a href="">Nước xịt phòng</a></li>
                <li><a href="">Nước Xả vải</a></li>
            </ul>
        </li>
        <li>
            <a href="" title="Sáp thơm">Sáp thơm</a>
            <ul class="child">
                <li><a href="">Khăn lạnh</a></li>
                <li><a href="">Bao dựng rác</a></li>
                <li><a href="">Vải không rệt</a></li>
            </ul>
        </li>
        <li>
            <a href="" title="Sản phẩm hóa chất tẩy rửa">Hàng Order</a>
            <ul class="child">
                <li><a href="">Văn phòng phẩm</a></li>
                <li><a href="">Phụ kiện, trang trí cô dâu</a></li>
                <li><a href="">Túi xách, dày dép</a></li>
            </ul>
        </li>
        -->
        <?php 
        $inc = 0;
        foreach($_content_category as $k => $v) {
            $_last = "";
            $inc++;
            $_active = strtolower($controller) == 'arts' & $v['id'] == $req->get('cid') ? "active" : "";
            if($inc == count($_content_category)) {
                $_last = "last";
            }
            ?>
        <li class="<?php echo $_active . " " . $_last ?>"><a href="<?php echo FrontendUtil::url_format('arts', 'default', array('title' => $v['name'], 'cid' => $v['id'])) ?>" title=""><?php echo $v['name'] ?></a></li>
        <?php
        } 
        ?>
        <li class="cart">
            <a href="<?php echo FrontendUtil::url_format('cart', 'default') ?>" title="Giỏ hàng">Giỏ hàng</a>
        </li>
    </ul>
</div>
<div class="clear_fix"></div>