<?php

/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */
// Require browse left menu
require_once MODULES_DIR . 'BrowseLeft/default.php';

?>
<div class="main-content fl">
    <?php 
    if (file_exists(CACHE_DIR . 'contact_temp.html')) {
        $content = require_once CACHE_DIR . 'contact_temp.html';
    }
    ?>
</div>

<?php
// Require browse left menu
require_once MODULES_DIR . 'BrowseRight/default.php';
?>
<div class="clear_fix"></div>