<?php

// Require browse left menu
require_once MODULES_DIR . 'BrowseLeft/default.php';

?>

<div class="main-content fl">
    <div class="arts">
        <h2 class="tab">
            <?php echo $_category->name ?>
        </h2>
        <?php 
        if(!empty($_arts)) {
            echo '<ul>';
            foreach($_arts as $k=>$v) {
                ?>
        <li>
            <h2>
                <a href="<?php echo FrontendUtil::url_format('arts', 'detail', array('title' => $v['title'], 'id' => $v['id'])) ?>">
                    <?php echo $v['title'] ?>
                </a>
            </h2>
            <div>
                <?php echo $v['excerpt'] ?>
            </div>
            <span class="time"><?php echo date('d/m/Y H:i:s', $v['created_time']) ?></span>
            <a class="read-more" href="<?php echo FrontendUtil::url_format('arts', 'detail', array('title' => $v['title'], 'id' => $v['id'])) ?>" rel="no-follow">
                Xem tiếp
            </a>
        </li>
                <?php
            }
            echo '</ul>';
        } else {
            echo '<div class="no-art"><i>Chưa có bài viết nào thuộc danh mục này.</i></div>';
        }
        ?>
    </div>
</div>

<?php
// Require browse left menu
require_once MODULES_DIR . 'BrowseRight/default.php';
?>
<div class="clear_fix"></div>