<?php
// Require browse left menu
require_once MODULES_DIR . 'BrowseLeft/default.php';
?>

<div class="main-content fl">

    <div class="art-detail">
        <h2 class="title"><?php echo $_art->title ?></h2>
        <div class="excerpt">
            <?php echo $_art->excerpt ?>
        </div>
        <div class="art-content">
            <?php echo $_art->content ?>
        </div>
    </div>

    <div class="arts same">
        <h2>
            Bài viết cùng danh mục: 
        </h2>
        <?php
        echo '<ul>';
        if (!empty($_arts)) {
            foreach ($_arts as $k => $v) {
                ?>
                <li>
                    <a href="<?php echo FrontendUtil::url_format('art', 'detail', array('title' => $v['title'], 'id' => $v['id'])) ?>">
                        <?php echo $v['title'] ?>
                    </a>
                    <span class="time"><?php echo date('d/m/Y H:i:s', $v['created_time']) ?></span>
                </li>
                <?php
            }
        } else {
            echo '<li class="no-more"><i>Không có bài viết nào cùng danh mục này.</i></li>';
        }
        echo '</ul>';
        ?>
    </div>
</div>

<?php
// Require browse left menu
require_once MODULES_DIR . 'BrowseRight/default.php';
?>
<div class="clear_fix"></div>