<table cellspacing="0" cellpadding="3" width="50%">
    <?php foreach($acls as $acl){ ?>
    <tr>
        <td align="right" width="50%"><?php echo $acl->name; ?></td>
        <td align="right"><?php echo ${$acl->alias}; ?></td>
    </tr>
    <?php } ?>
</table>
