<style>
.button-content-blue{
	background:#7FB6F9 url(../public_html/admin/images/button-bg-blue.gif) repeat-x 0 100%;
	height:24px;
	border:0;
	color:#fff;
    padding: 0 8px;
	cursor:pointer;
}
</style>
<?php
$document = Flywheel_Factory::getDocument(); 
$url_path = $document->getPublicPath();
$base_url = $document->getBaseUrl(); 
?>         
<div class="clear"></div>
<?php if(isset ($message)) {
    echo $message;
}?>
<div class="clear"></div>
<div id="fillder" class="box-body">
    <div id="fillder-header" class="title-box-body"><span>Lọc nhóm người dùng</span></div>
    <div id="fillder-content" class="box-body-content">
    <form class="admin-from" method="GET" action="">
        <input type="hidden" name="com" value="<?php echo $com; ?>" />
        <input type="hidden" name="act" value="default" />
        <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
            <tr>
                <td class="label-fillder">Tên nhóm: </td>
                <td><input type="text" value="<?php echo $title; ?>" class="fillder-input" name="title" /></td>
                
                <td><input style="width: 90px;" class="button-content-yell" name="" value="Tìm" type="submit" /></td>
                <td><input style="width: 90px;" class="button-content-blue" name="" value="Thêm mới" type="button" onclick="window.location.href='admin.php?com=<?php echo $com; ?>&act=new'" /></td>
            </tr>
            </tbody>
        </table>    
    </form>
    </div>
</div>
<?php  if (isset ($datas)) { ?>
<div class="grid_10 title-box-body">
    <span>Danh sách quyền</span>
</div>
<div class="clear"></div>
<div class="grid_10">
    <p>
    Có <?php echo $count; ?> kết quả.
    </p>
</div>

<div class="clear"></div>
<div class="box-body-content grid_24 user">
    <table class="admin-table user" width="100%;" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <th width="3%">STT</th>
            <th width="15%">Tên nhóm</th>
            <th width="15%">Mã nhóm</th>
            <th width="15%">Người dùng trong nhóm</th>
            <th width="15%">Quyền hệ thống</th>
            <th width="7%">Thao tác</th>   
        </tr>
        <?php
        $i = 1; 
        $obj = new UserGroup;
        if($datas)   
        foreach ($datas as $row) 
        {?>
            <tr class="alt">
                <td><?php echo $i; ?></td>
                
                <td>
                    <?php echo $row['group_name']; ?>
                </td>
                
                <td>
                    <?php echo $row['group_code']; ?>
                </td>
                
                <td>
                    
                    <?php
                    $data_gid = $obj->getNameUser($row['user_ids']);//var_dump($data_gid);
                    $str_u = '';
                    if($data_gid)
                    {
                        foreach($data_gid as $_id)
                        {
                            $str_u .= ' '.$_id['username'].'(<a href="?com='.$com.'&act=delone&id='.$row['id'].'&uid='.$_id['id'].'">x</a>),';
                        }
                    }
                    echo substr($str_u,0,-1);
                    ?>
                    <p class="tool-hover right add-user"><a onclick="addGroupUser(<?php echo $row['id']; ?>)" class="tool-hover-edit" href="javascript:;" id="add-user-<?php echo $row['id']; ?>">Thêm user</a></p>
                </td>
                
                <td>
                    <?php 
                    $data_pri = $obj->getCodePrivilege($row['id']);
                    $str_pri = '';
                    if($data_pri)
                    {
                        foreach($data_pri as $dp)
                            $str_pri .= '<p title="'.$dp['privilege_name'].'">'.$dp['privilege_code'].'(<a href="?com=user_group&act=deloneguser&gid='.$row['id'].'&id='.$dp['id'].'">x</a>)</p>';
                        echo $str_pri;
                    }
                    else echo '-';
                    ?>
                    <p class="tool-hover right add-user"><a onclick="addPrToGroup(<?php echo $row['id']; ?>)" class="tool-hover-edit" href="javascript:;" id="add-user-<?php echo $row['id']; ?>">Thêm quyền</a></p>
                </td>
                    
                <td>
                    <p>                
    					<a title="Sửa quyền" href="<?php echo $link_edit.$row['id']; ?>" class="">Sửa</a>&nbsp;|&nbsp;					                      
    					<a title="Xoá quyền" href="<?php echo $link_del.$row['id']; ?>" class="">Xoá</a>					                      
                    </p>
                </td>
                
            </tr>
            <?php
            ++$i;
        }?>
    </table>
</div>
<?php }?>