<?php
$document = Flywheel_Factory::getDocument(); 
$url_path = $document->getPublicPath();
$base_url = $document->getBaseUrl(); 
?>         
<div class="clear"></div>
<?php if(isset ($message)) {
    echo $message;
}?>
<div class="clear"></div>
<div id="fillder" class="box-body">
    <div id="fillder-header" class="title-box-body"><span>Sửa nhóm người dùng</span></div>
    <div id="fillder-content" class="box-body-content">
    <form class="admin-from" method="POST" action="">
        <input type="hidden" name="com" value="<?php echo $com; ?>" />
        <input type="hidden" name="act" value="edit" />
        <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
            <tr>
                <td class="label-fillder">Tên nhóm: </td>
                <td><input type="text" class="fillder-input" name="title" value="<?php echo $data['group_name']; ?>" /></td>
            </tr>
            
            <tr>
                <td style="text-align: left;" class="label-fillder" colspan="2">Danh sách user( các username cách nhau bởi dấu phẩy '<strong>,</strong>' ): </td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea style="text-align: left;" rows="2" cols="80" name="user_names" >
                        <?php echo trim($user_names);?>
                    </textarea>
                </td>
            </tr>
            <tr>
                <td><input style="width: 90px;" class="button-content-yell" name="ok" value="Cập nhật" type="submit" /></td>
            </tr>
            </tbody>
        </table> 
        <input type="hidden" name="id" id="id" value="<?php echo $data['id']; ?>" />   
    </form>
    </div>
</div>

<script>
$(function() {
    
});
</script>