<style>
   input.small{
      width: 100%;
   }
   .text-field{
      width: 66%;
   }
   .label_user{
      text-align: right;
      margin-right: 10px;
   }
</style>
<div>
   <?php if(isset ($message)) {
        echo $message;
    }?>
</div>
<form class="admin-form" method="POST" action="">
    <div class="grid_24">
       <h4>Form thêm người dùng</h4>
       <br/>
        <table cellpadding="5" width="80%" >
            <tr>
               <td class="label_user">Tên đăng nhập<span style="color: red;">*</span></td>
               <td colspan="3">
                   <input name="username" type="text"  class="text-field" value="<?php echo $user->username?>" />
                </td>
            </tr>
            <tr>
               <td class="label_user"></td>
                <td colspan="3" style="vertical-align: top">Không dấu, không dấu cách, không ký tự đặc biệt</td>
            </tr>
            <tr>
                <td class="label_user">Mật khẩu <span style="color: red;">*</span></td>
                <td colspan="3">
                    <input name="password" type="password" class="text-field" />
                </td>
            </tr>
            <tr>
               <td class="label_user"></td>
                <td colspan="3" style="vertical-align: top">Lớn hơn 6 ký tự, dễ nhớ, dễ bảo mật.</td>
            </tr>
            <tr>
                <td class="label_user">Nhập lại mật khẩu <span style="color: red;">*</span></td>
                <td colspan="3">
                    <input name="repassword" type="password" class="text-field" />
                </td>
            </tr>
            <tr>
                <td class="label_user">Họ và tên <span style="color: red;">*</span></td>
                <td colspan="3">
                    <input name="fullname" type="text" class="text-field" />
                </td>
            </tr>
            <tr>
                <td class="label_user">Email <span style="color: red;">*</span></td>
                <td colspan="3">
                    <input name="email" type="text" class="text-field" />
                </td>
            </tr>
           <tr>
               <td class="label_user"></td>
                <td colspan="3" style="vertical-align: top">Dùng để kích hoạt tài khoản.</td>
            </tr>
            <tr>
               <td class="label_user">Số điện thoại  </td>
                <td>
                    <input name="mobile" type="text" class="text-field small"  />
                </td>
                <td style="width:13%;text-align: right;" >Di động  </td>
                <td><input name="phone" type="text" class="text-field small" style="width: 40%;" /></td>
                
            </tr>
            <tr>
                <td class="label_user">Địa chỉ </td>
                <td colspan="3">
                    <input name="address" type="text" class="text-field"  />
                </td>
            </tr>
            <tr>
                <td class="label_user">Tỉnh thành </td>
                <td>
                   <select style="width: 98%;">
                      <option>Chọn một</option>
                   </select>
                    
                    
                </td>
                <td class="label_user">Quận huyện </td>
                <td>
                   <select style="width: 42%;">
                      <option>Chọn một</option>
                   </select>
                </td>
            </tr>
            <tr>
                <td class="label_user">Giới tính </td>
                <td colspan="3">
                    <input style="margin-left: 20px;" name="gender" type="radio" value="0"/> Nam
                    <input style="margin-left: 30px;" name="gender" type="radio" value="1"/> Nữ
                </td>
            </tr>
            <tr>
                <td class="label_user">Ngày sinh </td>
                <td colspan="3">
                    <input name="birthday" type="text" class="text-field"  />
                </td>
            </tr>
            <tr>
                <td class="label_user">Chứng minh thư nhân dân  </td>
                <td colspan="3">
                    <input name="cmtnd" type="text" class="text-field"  />
                </td>
            </tr>
            <tr>
                <td class="label_user" >Số TKNH  </td>
                <td style="width:18%">
                   <input name="bank_account" type="text" class="text-field small"   />
                </td>
                <td style="width:13%;text-align: right;" >Chủ TK  </td>
                <td ><input name="bank_sname" type="text" class="text-field small" style="width: 40%;" /></td>
            </tr>
            <tr>
                <td class="label_user">Ngân hàng  </td>
                <td>
                    <input name="bank_name" type="text" class="text-field small"  />
                    
                </td>
                <td style="width:13%;text-align: right;" >Chi nhánh  </td>
                <td><input name="bank_brand" type="text" class="text-field small" style="width: 40%;" /></td>
            </tr>
            <tr>
                <td class="label_user">Ngân lượng  </td>
                <td>
                    <input name="acc_nl" type="text" class="text-field small"  />
                    
                </td>
                <td style="width:13%;text-align: right;" >Bảo kim  </td>
                <td><input name="acc_bk" type="text" class="text-field small" style="width: 40%;" /></td>
            </tr>
            <tr>
                <td class="label_user">YM  </td>
                <td>
                    <input name="yahoo" type="text" class="text-field small"  />
                </td>
                <td style="width:13%;text-align: right;" >Skype  </td>
                <td><input name="skype" type="text" class="text-field small" style="width: 40%;" /></td>
            </tr>
            <tr>
               <td></td>
               <td colspan="3" style="text-align: center;">
                  <input style="background: greenyellow;padding: 7px 21px;font-family: tahoma;cursor: pointer;" class="button" value="XÁC NHẬN" type="submit" />
                  <input style="margin-left: 10px;padding: 7px 21px;cursor: pointer;" name="reset" class="button" value="LÀM LẠI" type="reset" />
               </td>
            </tr>
        </table>
    </div>
    
    
</form>
</div>
