<?php
$document = Flywheel_Factory::getDocument(); 
$url_path = $document->getPublicPath();
$base_url = $document->getBaseUrl(); 
?>         
<div class="clear"></div>
<?php if(isset ($message)) {
    echo $message;
}?>
<div class="clear"></div>
<div id="fillder" class="box-body">
    <div id="fillder-header" class="title-box-body"><span>Thêm mới nhóm người dùng</span></div>
    <div id="fillder-content" class="box-body-content">
    <form class="admin-from" method="POST" action="">
        <input type="hidden" name="com" value="<?php echo $com; ?>" />
        <input type="hidden" name="act" value="new" />
        <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
            <tr>
                <td style="text-align:left;" class="label-fillder">Tên nhóm: </td>
                <td><input type="text" value="" class="fillder-input" name="title" /></td>
            </tr>
            
            <tr>
                <td style="text-align:left;" class="label-fillder" colspan="2">Danh sách user( các username cách nhau bởi dấu phẩy '<strong>,</strong>' ): </td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea rows="2" cols="80" name="user_ids"></textarea>
                </td>
            </tr>
            <tr>
                <td><input style="width: 90px;" class="button-content-yell" name="ok" value="Thêm" type="submit" /></td>
            </tr>
            </tbody>
        </table>    
    </form>
    </div>
</div>