<?php
/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */

$req = Flywheel_Factory::getRequest();
$url = Flywheel_Factory::getDocument()->getPublicPath();

?>

<style type="text/css">
    .filter { border: 1px solid #DDD; margin-top: 10px; padding: 10px 10px 0;}
    .filter td.title { padding-left: 20px; text-align: right; }
    .datepicker { width: 60px !important; }
    table img { width: 350px; }
</style>

<div>
    <h3 style="color: orange; margin-top: 10px;">Danh sách banner</h3>
    <div>
        <a class="add-new" href="?com=banner&act=edit" title="Thêm mới" style="float: right;">[Thêm mới]</a>
    </div>

    <div id="paging" class="grid_24 mar-5-0">
        <div id="paging-content" class="grid_12 alpha prefix_12">
            <div class="right">
                <?php echo $pagination; ?>
            </div>
        </div>
    </div>

    <div class="box-body-content grid_24">
        <table cellspacing="0" style="width: 100%">
            <tr>
                <th style="width: 30px;">STT</th>
                <th>Tiêu đề</th>
                <th>Link</th>
                <th>Ảnh</th>
                <th>Ngày tạo</th>
                <th style="width: 60px;">Trạng thái</th>
                <th style="width: 80px;">#</th>
            </tr>
            <?php
            $arr_status = array('Ẩn', "Hiển thị");
            if (!empty($_itemList)) {
                $inc = 0;
                foreach ($_itemList as $k => $v) {
                    $inc++;
                    ?>
                    <tr>
                        <td><?php echo $inc; ?></td>
                        <td><?php echo $v['title'] ?></td>
                        <td><?php echo $v['link']; ?></td>
                        <td><img src="<?php echo $url . 'medias/banners/' .  $v['img'] ?>" alt="<?php echo $v['title'] ?>" /></td>
                        <td><?php echo date("d/m/Y H:i:s", $v['created_time']) ?></td>
                        <td><?php echo $arr_status[$v['status']] ?></td>
                        <td align="center">
                            <a href="?com=banner&act=edit&id=<?php echo $v['id'] ?>" title="Edit">Edit</a>
                            | <a href="?com=banner&act=del&id=<?php echo $v['id'] ?>" title="delete">Delete</a>
                        </td>
                    </tr>
                    <?php
                }
            } else {
                ?>
                <tr>
                    <td colspan="9"><i>Chưa có ảnh banner nào</i></td>
                </tr>
                <?php
            }
            ?>
        </table>
    </div>

    <div id="paging" class="grid_24 mar-5-0">
        <div id="paging-content" class="grid_12 alpha prefix_12">
            <div class="right">
                <?php echo $pagination; ?>
            </div>
        </div>
    </div>

</div>