<?php

/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */
$req = Flywheel_Factory::getRequest();
$id = $req->get('id', Flywheel_Filter::TYPE_INT, 0);

?>

<style type="text/css">
    table td { border-right: 0 !important; }
    .required { color: red; }
</style>

<div class="box-body-content grid_24" style="margin-top: 10px; padding: 10px; width: 930px;">
    <h3><?php echo $id == 0 ? "Thêm mới" : "Cập nhật" ?> banner</h3>
    <?php 
    echo !$_result['status'] ? '<h5 style="color: red; padding: 2px; border: 1px solid; width: 60%; text-align: center;">' . $_result['msg'] . '</h5>' 
            : (!empty($_result['msg']) ? '<h5 style="color: green; padding: 2px; border: 1px solid; width: 60%; text-align: center;">' . $_result['msg'] . '</h5>' : "");
    ?>
    <form action="" method="post" name="frm_category" enctype="multipart/form-data" onsubmit="return confirm('<?php echo $id == 0 ? "Thêm mới" : "Cập nhật" ?> banner?')">
        <table cellspacing="0" width="95%">
            <tr>
                <td align="right">Tiêu đề <span class="required">(*) :</span></td>
                <td colspan="3">
                    <input type="text" class="text-medium" name="title" value="<?php echo $req->post('title') != "" ? $req->post('title') : $_item->title ?>" />
                </td>
            </tr>
            <tr>
                <td align="right">Link click :</span></td>
                <td colspan="3">
                    <input type="text" class="text-medium" name="link" value="<?php echo $req->post('link') != "" ? $req->post('link') : $_item->link ?>" />
                </td>
            </tr>
            <tr>
                <td align="right">Ảnh đại diện :</td>
                <td colspan="3">
                    <input type="file" name="img" />
                </td>
            </tr>
            <tr>
                <td align="right">Vị trí hiển thị :</td>
                <td style="width: 100px;"><input type="text" class="text-small" name="pos" value="<?php echo $req->post('pos') != "" ? $req->post('pos') : $_item->pos ?>" /></td>
                <td align="right" style="width: 100px;">Trạng thái :</td>
                <td><input type="checkbox" name="status" <?php echo $_item->status || $req->post('status') != "" ? "checked" : "" ?> /> <i>(Tích chọn để cho phép hiển thị)</i></td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    <input type="submit" value="<?php echo $id == 0 ? "Thêm mới" : "Cập nhật" ?>" />
                    <input type="reset" value="Làm mới" />
                </td>
                <td colspan="2"></td>
            </tr>
        </table>
    </form>
</div>
