<div class="fr">
    <div class="box-body-content grid_24">
        <div class="grid_21 omega alpha left">
            <div class="grid_10 title-box-body">
                <span>Quản trị Tiền của user </span>
            </div>
            <!--div class="padding-10">
                <div class="clear"></div>
                <label> Tìm kiếm : </label>

                <div class="clear"></div>
                <div class="left" style="padding:20px 20px 0px 0px;">Tên: <input type="text" value="" id="user_name" name="user_name"></div><br/>
                <div style="padding:0px 20px 0px 20px;">Sắp xếp: 
                        <select id="money_order" name="order">
                            <option value="" >Sắp xếp</option>
                            <option value="DESC" checked="<?php  if($_GET['status'] == 0){ echo 'checked'; } ?>" >Nhiều tiền nhất</option>    
                            <option value="ASC" checked="<?php  if($_GET['status'] == 1){ echo 'checked'; } ?>" >Ít tiền nhất</option>    
                        </select>
                        <br/>
                </div>
                
              <div class="clear"></div>
                <div class="left" style="padding:10px 0px 0px 30px"><button id="filter" class="button-content-yell">Lọc</button>            </div><br/><br/>
            </div-->
        </div>
        <div style="clear:both"></div>
        <table class="margin-10 table-item">
            <tr class="header-box">
                <th>Tên user</th>

                <th>Tiền đang có (đ)</th>
                <th>Tiền giao dịch</th>
            </tr>
<?php 
        if ($accounts) { 
            $tranObj=new Transaction();
    ?>
    <?php foreach ($accounts as $key => $account):
	
          $num=$tranObj->getLoanForList($account['user_id']);
          
        ?>
                    <tr <?php echo (intval($num)!=intval($account['money'])?'style="background-color:red"':'')?> class="element-des <?php if ($key % 2 != 0): echo 'tr_old';
        endif; ?> " id="tran_<?php echo $account['id']; ?>">
                       
                        <td class="user_name "><a href="?com=transaction&user_name=<?php echo $account['user_name']; ?>" class="a_color"><?php echo $account['user_name']; ?></a></td>
						
                        <td class="money" class="left" style="color: #4068A0 ;"><?php echo number_format($account['money'],0,',','.'); ?></td>
                        <td>
                           <?php 
                              echo number_format($num,0,',','.');
                           ?>
                        </td>
                    </tr>
    <?php endforeach; ?>
<?php } else { ?>
                <tr><td colspan="8" align="center">Chưa có tài khoản account</td></tr>
            <?php } ?>
        </table>

    </div>
    <div class="clear"></div>
    <div id="paging" class="grid_24 mar-5-0">
        <div id="paging-content" class="grid_24 alpha">
<?php echo $pagination; ?>

            <div class="grid_12"></div>

        </div>
    </div>
</div>

<div id="tran_approval" style="display: none">
    <strong>nội dung duyệt</strong> : <br/><textarea id="tran_log" name="tran_log" value="" style="width:450px"> </textarea>
</div>
<div id="tran_unapproval" style="display: none">
    <strong>nội dung hủy duyệt</strong> : <br/><textarea id="tran_un_log" name="tran_un_log" value="" style="width:450px"> </textarea>
</div>
<div id="tran_detail" style="display: none">
    <form action="" method="post">
        <table class="table-form-large">
            <tbody>
                <tr>
                    <td>Ngày giao dịch</td>
                    <td id="detail_time"></td>
                </tr>
                <tr>
                    <td>Loại giao dịch:</td>
                    <td id="detail_type">#</td>
                </tr>
                <tr>
                    <td>Số tiền:</td>
                    <td ><span id="detail_money"></span><span class="red"> đ</span></td>
                </tr>
                <tr>
                    <td>Hình thức:</td>
                    <td id="detail_method">#</td>
                </tr>
                <tr>
                    <td>Ngân hàng:</td>
                    <td id="detail_bank">#</td>
                </tr>
                <tr>
                    <td>User thanh toán:</td>
                    <td id="detail_user">#</td>
                </tr>

                <tr>
                    <td>Ghi chú:</td>
                    <td id="detail_content">#</td>
                </tr>
            </tbody></table>
    </form>
</div>

<script type="text/javascript">
    jQuery(function () {
        $('#filter').click(function () {
            var user_name = $('#user_name').val();
            var order_code = $('#order_code').val();
            var money_order = $('#money_order').val();
		
            var url = '<?php echo Flywheel_Factory::getRouter()->getBaseUrl(); ?>?com=account';

            if ('' != user_name) {
                url += '&user_name=' +user_name;
            }
            if ('' != money_order) {
                url += '&order=' +money_order;
            }
            window.location = url;				
        });
       
        
    });

    //-->
</script>