<div class="fr">
<?php
$total_system_debit=0;
?>
    <div class="box-body-content grid_24">
        <div class="grid_21 omega alpha left">
            <div class="grid_10 title-box-body">
                <span>Quản trị Tiền của user </span>
            </div>
            <div class="padding-10">
                <div class="clear"></div>
                <label> Tìm kiếm : </label>

                <div class="clear"></div>
                <div class="left" style="padding:20px 20px 0px 0px;">Tên: <input type="text" value="" id="user_name" name="user_name"></div><br/>
                <div style="padding:0px 20px 0px 20px;">Sắp xếp: 
                        <select id="money_order" name="order">
                            <option value="" >Sắp xếp</option>
                            <option value="DESC" checked="<?php  if($_GET['status'] == 0){ echo 'checked'; } ?>" >Nhiều tiền nhất</option>    
                            <option value="ASC" checked="<?php  if($_GET['status'] == 1){ echo 'checked'; } ?>" >Ít tiền nhất</option>    
                        </select>
                        <br/>
                </div>
                
              <div class="clear"></div>
                <div class="left" style="padding:10px 0px 0px 30px"><button id="filter" class="button-content-yell">Lọc</button>            </div><br/><br/>
            </div>
        </div>
        <div style="clear:both"></div>
        <table class="margin-10 table-item">
            <tr class="header-box">
                <th>Tên user</th>
                
                <th>Tổng khiếu nại</th>
                <th>Tổng tiền nạp</th>
				<!--<th>Tổng Mua Hàng</th>-->
				<th>Tổng Trả lại</th>
                <th>Tổng Vay nợ</th>
                <th>Tiền đang có (đ)</th>
                <th>Nợ thực tế</th>
                <th>Tổng tiền hàng chưa về</th>
            </tr>
<?php if ($accounts) { 
                  
    ?>
    <?php foreach ($accounts as $key => $account):
	
        ?>
                    <tr class="element-des <?php if ($key % 2 != 0): echo 'tr_old';
        endif; ?> " id="tran_<?php echo $account['id']; ?>">
                       
                        <td class="user_name "><a href="?com=transaction&user_name=<?php echo $account['user_name']; ?>" class="a_color"><?php echo $account['user_name']; ?></a></td>
						<td class="money red" class="left">
                            <?php
                         ///   $co='user_id='.$account['user_id'].' and status=1 and service_type='.Transaction::SERVICES_KHIEUNAI;
                            $co=array(
                                      'user_id'=>$account['user_id'],
                                      'status'=>1,
                                      'service_type'=>Transaction::SERVICES_KHIEUNAI,
                                        );
                            $complain=Transaction::getTotalMoney2($co);
                            ?>
                            <?php echo number_format(intval($complain)); ?>
                        </td>
                        <td class="money "><?php echo number_format(intval(Transaction::getTotalMoney($account['user_id']))); ?></td>
						<!--<td class="money "><?php //echo number_format(intval(Transaction::getTotal_MH($account['user_id']))); ?></td>-->
						<td class="money "><?php echo number_format(intval(Transaction::getTotal_Refund($account['user_id']))); ?></td>
						<td class="money red" class="left">
                            <?php 
                                $total_debit= intval(Transaction::getTotalMoneyDebt($account['user_id']));
                                echo number_format($total_debit); 
                            ?>
                        </td>
                        <td class="money" class="left" style="color: #4068A0 ;">
                            <?php echo number_format($account['money']); ?>
                        </td>
                        <td>
                            <?php
                            //$real_loan=($total_debit>0?$total_debit-intval($account['money']):0);
                            $real_loan=$total_debit-intval($account['money']);
                            $total_system_debit+= $real_loan;
                            ?>
                             <?php echo ($real_loan>0?number_format($real_loan):number_format($real_loan))?>
                        </td>
                        <td>
                             <?php 
                                $order_yet_money=(isset($list_orders[$account['user_id']])?$list_orders[$account['user_id']]:0);
                                echo number_format($order_yet_money);
                                if($real_loan>$order_yet_money*0.3)
                                {
                                   ?>
                                   <!--br/><a style="color:red" class="form_debit" href="javascript:void(0)">Yêu cầu trả nợ</a-->
                                   <?php 
                                }
                             ?>
                        </td>
                    </tr>
    <?php endforeach; ?>
<?php } else { ?>
                <tr><td colspan="8" align="center">Chưa có tài khoản account</td></tr>
            <?php } ?>
        </table>

    </div>
    
    
    <div class="clear"></div>
    <div id="paging" class="grid_24 mar-5-0">
        <div id="paging-content" class="grid_24 alpha">
<?php echo $pagination; ?>

            <div class="grid_12">
            <?php
                echo '<b>Tổng nợ thực tế:</b>: <b style="color:red">'.number_format($total_system_debit).'</b>';
            ?></div>

        </div>
    </div>
</div>

<div id="tran_approval" style="display: none">
    <strong>nội dung duyệt</strong> : <br/><textarea id="tran_log" name="tran_log" value="" style="width:450px"> </textarea>
</div>
<div id="tran_unapproval" style="display: none">
    <strong>nội dung hủy duyệt</strong> : <br/><textarea id="tran_un_log" name="tran_un_log" value="" style="width:450px"> </textarea>
</div>
<div id="tran_detail" style="display: none">
    <form action="" method="post">
        <table class="table-form-large">
            <tbody>
                <tr>
                    <td>Ngày giao dịch</td>
                    <td id="detail_time"></td>
                </tr>
                <tr>
                    <td>Loại giao dịch:</td>
                    <td id="detail_type">#</td>
                </tr>
                <tr>
                    <td>Số tiền:</td>
                    <td ><span id="detail_money"></span><span class="red"> đ</span></td>
                </tr>
                <tr>
                    <td>Hình thức:</td>
                    <td id="detail_method">#</td>
                </tr>
                <tr>
                    <td>Ngân hàng:</td>
                    <td id="detail_bank">#</td>
                </tr>
                <tr>
                    <td>User thanh toán:</td>
                    <td id="detail_user">#</td>
                </tr>

                <tr>
                    <td>Ghi chú:</td>
                    <td id="detail_content">#</td>
                </tr>
            </tbody></table>
    </form>
</div>
<div id="create_debit" style="display: none">
    <strong>Số tiền</strong> :<br/> 
        <input type="text" value="" name="debit_money_amount" id="debit_money_amount"/> <font color="red">(*)</font><br/>
    <strong>User</strong> : <br/>
         <input type="text" value="" name="debit_username" id="debit_username"/> <font color="red">(*)</font><br/>
  
    <strong>Nội dung</strong> : <br/>
    <textarea id="debit_log" name="debit_log" value="" style="width:450px"> </textarea>
</div>
<script type="text/javascript">
    jQuery(function () {
        //form nap tien 
        $('.form_debit').click(function(){
            
            $("#create_debit").dialog({
                title:'Yêu cầu trả nợ',
                width:'500px',
                modal: true,
                buttons:{
                    'Yêu cầu':function(){
                        var debit_money = $('#debit_money_amount').val();
                        var debit_username = $('#debit_username').val();
                        var debit_log = $('#debit_log').val();
                        //var debit_transfer_code = $('#charge_transfer_code').val();
                        
                        $.ajax({
                            url:base_url + '?com=account&act=createDebit',
                            data: {'debit_money':debit_money,'debit_username':debit_username,'debit_log':debit_log},
                            type: 'POST',
                            success: function(data){
                                var result = $.parseJSON(data);
                                if(result.error == '1' ){
                                    
                                    alert('Nạp tiền thành công');
                                    window.location.reload();
                                }else{

                                    alert(result.msg);
                                    return false;
                                }  
                            }
                        });
                    },
                    'Hủy':function(){
                        $(this).dialog("close");
                    }

                }
            });
        });
        $('#filter').click(function () {
            var user_name = $('#user_name').val();
            var order_code = $('#order_code').val();
            var money_order = $('#money_order').val();
		
            var url = '<?php echo Flywheel_Factory::getRouter()->getBaseUrl(); ?>?com=account';

            if ('' != user_name) {
                url += '&user_name=' +user_name;
            }
            if ('' != money_order) {
                url += '&order=' +money_order;
            }
            window.location = url;				
        });
       
        
    });

    //-->
</script>