<?php

/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */
?>
<div id="body" class="container_24" style="margin-top: 10px;">
    <h2 style="color: orange">Thông tin liên hệ</h2>
    <div class="fr padd-5-0">
        <a class="add-new" href="javascript:;" onclick="save_content()" >[ Save Content ]</a>
    </div>
    <div class="grid_24">
        <form name="content_form" id="content_form" method="POST" action="">
            <textarea name="content" id="content" style="width: 950px; height: 400px;"><?php 
            if (file_exists(CACHE_DIR . 'contact_temp.html')) {
                $content = require_once CACHE_DIR . 'contact_temp.html';
            } ?></textarea>
        </form>
    </div>
</div>

<script type="text/javascript" src="admin/js/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
    tinyMCE.init({
        // General options
        mode : "exact",
        elements : "content",
        theme : "advanced",
        plugins : "pagebreak,style,layer,table,save,advhr,advimage,advlink,imagemanager,emotions,iespell,inlinepopups,insertdatetime,"
            + "preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,"
            + "xhtmlxtras,template,wordcount,advlist,autosave",
        // Theme options
        theme_advanced_buttons1 : "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,styleselect,formatselect,fontselect,fontsizeselect,cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo",
        theme_advanced_buttons2 : "link,unlink,anchor,image,cleanup,help,code,|,tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,insertimage,|",
        theme_advanced_buttons3 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak,restoredraft",
        theme_advanced_toolbar_location : "top",
        theme_advanced_toolbar_align : "left",
        theme_advanced_statusbar_location : "bottom",
        theme_advanced_resizing : false
    });
    
    function save_content() {
        if(confirm('Lưu nội dung liên hệ?')) {
            document.content_form.submit();
        }
    }
    
</script>