<?php
/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */

$req = Flywheel_Factory::getRequest();
?>

<style type="text/css">
    .filter { border: 1px solid #DDD; margin-top: 10px; padding: 10px 10px 0;}
    .filter td.title { padding-left: 20px; text-align: right; }
    .datepicker { width: 60px !important; }
</style>

<div>
    <fieldset class="filter">
        <legend>Tìm kiếm</legend>
        <form action="" method="get">
            <table>
                <tr>
                    <td class="title">Tên sản phẩm:</td>
                    <td><input type="text" name="title" value="<?php echo $req->get('title') ?>" /></td>
                    <td class="title">Mã sản phẩm:</td>
                    <td><input type="text" name="code" value="<?php echo $req->get('code') ?>" /></td>
                    <td class="title">Danh mục</td>
                    <td><?php echo $_cateSelect ?></td>
                </tr>
                <tr>
                    <td class="title">Ngày tạo từ:</td>
                    <td>
                        <input type="text" class="datepicker" name="df" value="<?php echo $req->get('df') ?>" /> 
                        đến <input type="text" class="datepicker" name="dt" value="<?php echo $req->get('dt') ?>" />
                    </td>
                    <td class="title">Vị trí:</td>
                    <td><select name="pos_type">
                            <option value="0">Tất cả</option>
                            <option value="1">Nổi bật</option>
                            <option value="2">Mới đăng</option>
                        </select></td>
                    <td class="title">Trạng thái:</td>
                    <td><select name="pos_type">
                            <option value="-1">Tất cả</option>
                            <option value="1">Hiển thị</option>
                            <option value="0">Ẩn</option>
                        </select>
                        <input style="float: right;" type="submit" value="Tìm kiếm" />
                    </td>
                </tr>
            </table>
        </form>
    </fieldset>
    <div style="margin-top: 10px;">
        <a class="button yell" href="?com=item&act=edit" title="Thêm mới" style="float: right;">Thêm mới</a>
    </div>

    <div id="paging" class="grid_24 mar-5-0">
        <div id="paging-content" class="grid_12 alpha prefix_12">
            <div class="right">
                <?php echo $pagination; ?>
            </div>
        </div>
    </div>

    <div class="box-body-content grid_24">
        <table cellspacing="0" style="width: 100%">
            <tr>
                <th style="width: 30px;">STT</th>
                <th>Tiêu đề</th>
                <th>Danh mục</th>
                <th>Nội dung</th>
                <th style="width: 100px;">Ngày tạo</th>
                <th style="width: 60px;">Trạng thái</th>
                <th style="width: 80px;">#</th>
            </tr>
            <?php
            $arr_status = array('Ẩn', "Hiển thị");
            if (!empty($_itemList)) {
                $inc = 0;
                foreach ($_itemList as $k => $v) {
                    $inc++;
                    ?>
                    <tr>
                        <td><?php echo $inc; ?></td>
                        <td><?php echo $v['title'] ?></td>
                        <td><?php echo array_key_exists($v['category_id'], $_allCate) ? $_allCate[$v['category_id']]['title'] : "---"; ?></td>
                        <td><?php echo $v['excerpt']; ?></td>
                        <td><?php echo date("d/m/Y H:i:s", $v['created_time']) ?></td>
                        <td><?php echo $arr_status[$v['status']] ?></td>
                        <td align="center">
                            <a href="?com=item_category&act=edit&id=<?php echo $v['id'] ?>" title="Edit">Edit</a>
                            | <a href="?com=item_category&act=del&id=<?php echo $v['id'] ?>" title="delete">Delete</a>
                        </td>
                    </tr>
                    <?php
                }
            } else {
                ?>
                <tr>
                    <td colspan="9"><i>Chưa có sản phẩm nào</i></td>
                </tr>
                <?php
            }
            ?>
        </table>
    </div>

    <div id="paging" class="grid_24 mar-5-0">
        <div id="paging-content" class="grid_12 alpha prefix_12">
            <div class="right">
                <?php echo $pagination; ?>
            </div>
        </div>
    </div>

</div>