<?php 
$path = Flywheel_Factory::getDocument()->getPublicPath(); 
?>

<?php echo $message; ?>
<div id="notify-msg"></div>

<div class="grid_24 mar-top-8">    
    <div class="grid_3">
        <a class="add-new" href="<?php echo $path; ?>admin.php?com=content&act=new" >[ Add new ]</a>
    </div>
    <div class="grid_21 omega alpha right">
        <label> Tìm kiếm : </label>
        <input name="keyword" id="keyword" value="<?php echo $keyword; ?>" type="text" />		
        <?php echo $filter_cats; ?>
        <?php echo $state_select; ?>		
        <button id="filter" class="button-content-yell">Lọc</button>            
    </div>
</div>
<?php if ($total > 0) : ?>
    <div class="clear"></div>
    <div id="paging" class="grid_24 mar-5-0">
        <div id="paging-content" class="grid_24 alpha">
            <div class="grid_6">
                <input type="submit" name="public" value="Mở" class="button-content-yell" />
                <input type="submit" name="unpublic" value="Khóa" class="button-content-yell" />
                <input type="submit" name="delete" value="Xóa" class="button-content-yell" />
            </div>
            <div style="float: right; margin-right: 5px;">
                <?php echo $pagination; ?>
            </div>
        </div>
    </div>
    <div class="clear"></div>

    <div class="box-body-content grid_24 ">
        <table width="100%;" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <th style="width:15px;">#</th>
                <th style="width:20px; text-align: center;">
                    <input name="check_all" id="check-all" type="checkbox" value="" />
                </th>
                <th style="width: 150px;">Tên bài viết</th>
                <th style="width: 100px;">Danh mục</th>
                <th>Nội dung</th>
                <th style="width:65px;">Ngày tạo</th>
                <th style="width: 40px;">Thứ tự</th>
                <th style="width:50px;">Trạng thái</th>
                <th style="width:50px;">Lượt xem</th>
                <th style="width:65px;">#</th>
            </tr>
            <?php
            $j = $current;
            foreach ($contents as $content) :
                ?>
                <tr class="alt">
                    <td>
                        <p><?php echo $j; ?></p>
                    </td>
                    <td style="text-align: center;">
                        <input class="check" name="selectContent[]" type="checkbox" value="<?php echo $content->id; ?>" />
                    </td>
                    <td>
                        <p><?php echo $content->title; ?> </p>
                    </td>
                    <td><?php echo ContentCategory::retrieveByPk($content->category_id)->name; ?></td>
                    <td>
                        <?php
                        $words = explode(' ', $content->content);
                        if (count($words) > 20) {
                            for ($i = 0; $i < 19; $i++) {
                                echo $words[$i] . ' ';
                            }
                            echo '...';
                        } else {
                            echo $content->content;
                        }
                        ?>
                    </td>
                    <td>
                        <p><?php echo date('d/m/Y', $content->created_time); ?></p>
                    </td>
                    <td style="text-align: center;"><?php echo $content->ordering; ?></td>
                    <td style="text-align: center;"><?php echo $content->status == Content::_PUBLIC ? 'MỞ' : 'KHÓA'; ?></td>
                    <td style="text-align: center;">
                        <?php echo $content->hits; ?>
                    </td>
                    <td>
                        <a class="cate-edit" href="<?php echo $path ?>admin.php?com=content&act=edit&id=<?php echo $content->id; ?>" title="Sửa bài viết" >[Edit]</a>
                    </td>
                </tr>
                <?php
                $j++;
            endforeach;
            ?>
        </table>
    </div>
    
    <div class="clear"></div>
    <div id="paging" class="grid_24 mar-5-0">
        <div id="paging-content" class="grid_24 alpha">
            <div style="float: right; margin-right: 5px;">
                <?php echo $pagination; ?>
            </div>
        </div>
    </div>
    <div class="clear"></div>
<?php endif; ?>
    
<script type="text/javascript">
    jQuery(function () {
        $('#filter').click(function () {
            var keyword = $('#keyword').val();
            var catId = $('#filter-by-categories').val();
            var state = $('#filter-by-states').val();
            var url = '<?php echo Flywheel_Factory::getRouter()->getBaseUrl(); ?>?com=content';
            keyword = keyword.replace(/([?*#<>!$%^&()/]+)/g,"");
            keyword = keyword.replace(/([ ]+)/g," ");
            keyword = keyword.replace(/"/g, '');		
            if ('' != keyword) {
                url += '&k=' +keyword;
            }
            if (0 != catId) {
                url += '&cat_id=' +catId;
            }
            if ('all' != state) {
                url += '&state=' +state;
            }
            window.location = url;				
        });
    
        $("input[name=delete]").click(function(e){
            var cid = '';
            $('.box-body-content').find('input[type=checkbox]').each(function(i){
                if($(this).attr('checked') == 'checked' & $(this).val() != '') {
                    cid += $(this).val() + ',';
                }
            }); 
            if(confirm('Bạn có muốn xóa bài viết vừa chọn?')) {
                $.ajax({
                    url: '?com=content&act=del&t=' + Math.random(),
                    type: 'POST',
                    data: { 'id' : cid.substring(0, cid.length -1) },
                    success: function(d) {
                        if(d == 1) {
                            alert('Bạn đã xóa thành công!');
                            location.reload();
                        } else { 
                            _html = '<dl class="system-message msg-error">'
                                +      '<dt>THÔNG BÁO</dt>'
                                +      '<dd>Xóa không thành công!</dd>'
                                +  '</dl>';
                        
                            $('#notify-msg').html(_html);
                        }
                    },error: function(err) { }
                });
            }
        });
        $("input[name=public]").click(function(e){
            var cid = '';
            $('.box-body-content').find('table').find('.check').each(function(){
                if($(this).attr('checked') == 'checked') {
                    cid += $(this).val() + ',';
                }
            });
            if(cid == '') {
                alert('Bạn chưa chọn bài viết nào.');
                return false;
            }
            if(confirm('Bạn muốn mở những bài viết đã chọn?'))
            $.ajax({
                url: base_url + '?com=content&act=public&t=' + Math.random(),
                type: 'POST',
                data: { 'cid' : cid.substr(0, cid.length -1) },
                success: function(d) {
                    d = $.parseJSON(d);
                    if(d.status == true) {
                        $('.box-body-content').find('table').find('.check').each(function() {
                            if($(this).attr('checked') == 'checked') {
                                $(this).parent().parent().children('td:nth-child(8)').html('MỞ');
                            }
                        });
                    }
                }
            });
        });
        $("input[name=unpublic]").click(function(e){
            var cid = '';
            $('.box-body-content').find('table').find('.check').each(function(){
                if($(this).attr('checked') == 'checked') {
                    cid += $(this).val() + ',';
                }
            });
            if(cid == '') {
                alert('Bạn chưa chọn bài viết nào.');
                return false;
            }
            if(confirm('Bạn muốn khóa những bài viết đã chọn?'))
            $.ajax({
                url: base_url + '?com=content&act=unpublic&t=' + Math.random(),
                type: 'POST',
                data: { 'cid' : cid.substr(0, cid.length -1) },
                success: function(d) {
                    d = $.parseJSON(d);
                    if(d.status) {
                        $('.box-body-content').find('table').find('.check').each(function() {
                            if($(this).attr('checked') == 'checked') {
                                $(this).parent().parent().children('td:nth-child(8)').html('KHÓA');
                            }
                        });
                    }
                }
            });
        });
    });
    <!--
    //-->
</script>

<style type="text/css">
    .title-box-body { cursor: default; }
    div .de_active { font-weight: normal;}
    a:hover { text-decoration: none; font-weight: bold;}
    a:hover span { font-weight: bold;}
    .grid_3 a:hover { font-weight: normal; }
    #paging-content input { margin-left: 2px; }
    .grid_24 .grid_3 { margin-left: 0;}
    .box-body-content img { width: 100%; }
    .cate-edit { margin: 0;}
</style>
