<?php $url_path = Flywheel_Factory::getDocument()->getPublicPath(); ?>
<div id="body" class="container_24" style="margin-top: 10px;">
    <h2>
        <?php if (true === $content->isNew()) : ?>
        		Thêm bài mới
        <?php else: ?>
        		Sửa bài viết: <?php echo $content->title; ?>
        <?php endif; ?>

        <a href="?com=content&act=default" class="goList" title="Xem danh sách"></a>
    </h2>
    <?= MessageUtil::render($message); ?>
    <form name="content_from" class="admin-form" method="POST" action="">
        <div class="grid_13 alpha padd-15-0 border" style="height: 144px;">
            <table cellpadding="5" cellspacing="0" width="100%" class="no-border" style="margin-left: 10px;">
                <tr>
                    <?php if ($message->hadErrorOnField('title')) : ?>
                        <td width="30%" class="label-error"><strong>Tiêu đề</strong><br />
                            <span class="small-text"><?php echo $message->getMessageOfField('title', MessageUtil::TYPE_ERROR, ', '); ?></span>
                        </td>
                    <?php else: ?>
                        <td width="30%"><strong>Tiêu đề</strong></td>
                    <?php endif; ?>
                    <td><input name="title" value="<?php echo $content->title; ?>" type="text" class="text-field medium" /></td>				
                </tr>
                <tr>				
                    <?php if ($message->hadErrorOnField('category_id')) : ?>
                        <td class="label-error"><strong>Nhóm nội dung</strong><br />
                            <span class="small-text"><?php echo $message->getMessageOfField('category_id', MessageUtil::TYPE_ERROR, ', '); ?></span>
                        </td>
                    <?php else: ?>
                        <td><strong>Nhóm nội dung</strong></td>
                    <?php endif; ?>
                    <td><?php echo $select_category; ?></td>				
                </tr>
                <tr>
                    <td><strong>Thứ tự</strong>
                        <br />
                        <span class="small-text">Dành cho các danh mục sắp xếp theo tieu chí này</span>
                    </td>
                    <td><input name="ordering" value="<?php echo $content->pos; ?>" type="text" class="text-field tiny" /></td>				
                </tr>
            </table>
        </div>
        <div class="grid_11 omega padd-15-0 border">
            <table cellpadding="5" cellspacing="0" width="100%" class="no-border">
                <tr>
                    <td align="right" width="25%">Tác giả / Nguồn</td>
                    <td>
                        <textarea name="source" class="text-filed large"><?php echo $content->source; ?></textarea>
                    </td>
                </tr>
                <tr>
                    <td align="right">Công khai: từ</td>
                    <td>
                        <input type="text" name="published_f" value="<?php echo $content->publish_from != 0 ? $content->publish_from : "" ?>" style="width: 80px;"/>
                        tới <input type="text" name="published_t" value="<?php echo $content->publish_to != 0 ? $content->publish_to : "" ?>" style="width: 80px;" />
                    </td>
                </tr>
                <tr>
                    <td align="right">Số lần xem</td>
                    <td><input name="hits" type="text" value="<?php echo $content->hits; ?>" class="text-filed" style="width: 80px;" /></td>
                </tr>
            </table>
        </div>
        <div style="clear: both;">
            <table style="width: 100%;" cellspacing="0">

                <tr>
                    <td width="120px"><strong>Trích dẫn</strong></td>
                    <td class="media-buttons"><em>Upload / Thêm</em>
                        <a title="Thêm ảnh" class="thickbox" id="add_image" href="?com=media_upload&act=image&article_id=<?= $content->id; ?>&tei=excerpt&amp;type=image&amp;TB_iframe=1&amp;width=640&amp;height=249"><img alt="Thêm ảnh" src="<?= $url_path ?>admin/images/media-button-image.gif"></a>
                        <a title="Thêm video" class="thickbox" id="add_video" href="?com=media_upload&act=video&article_id=<?= $content->id; ?>&tei=excerpt&amp;type=video&amp;TB_iframe=1&amp;width=640&amp;height=249"><img alt="Thêm video" src="<?= $url_path ?>admin/images/media-button-video.gif"></a>
                        <a title="Thêm âm thanh" class="thickbox" id="add_audio" href="?com=media_upload&act=audio&article_id=<?= $content->id; ?>&tei=excerpt&amp;type=audio&amp;TB_iframe=1&amp;width=640&amp;height=249"><img alt="Thêm âm thanh" src="<?= $url_path ?>admin/images/media-button-music.gif"></a>
                        <a title="Thêm media" class="thickbox" id="add_media" href="?com=media_upload&act=media&article_id=<?= $content->id; ?>&tei=excerpt&amp;TB_iframe=1&amp;width=640&amp;height=249"><img alt="Thêm media" src="<?= $url_path ?>admin/images/media-button-other.gif"></a> 
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <textarea id="excerpt" name="excerpt"><?php echo $content->excerpt; ?></textarea>
                    </td>				
                </tr>
                <tr>
                    <td><strong>Nội dung chi tiết</strong></td>
                    <td class="media-buttons"><em>Upload / Thêm</em>
                        <a title="Thêm ảnh" class="thickbox" id="add_image" href="?com=media_upload&act=image&article_id=<?= $content->id; ?>&tei=content&amp;type=image&amp;TB_iframe=1&amp;width=640&amp;height=249"><img alt="Thêm ảnh" src="<?= $url_path ?>admin/images/media-button-image.gif"></a>
                        <a title="Thêm video" class="thickbox" id="add_video" href="?com=media_upload&act=video&article_id=<?= $content->id; ?>&tei=content&amp;type=video&amp;TB_iframe=1&amp;width=640&amp;height=249"><img alt="Thêm video" src="<?= $url_path ?>admin/images/media-button-video.gif"></a>
                        <a title="Thêm âm thanh" class="thickbox" id="add_audio" href="?com=media_upload&act=audio&article_id=<?= $content->id; ?>&tei=content&amp;type=audio&amp;TB_iframe=1&amp;width=640&amp;height=249"><img alt="Thêm âm thanh" src="<?= $url_path ?>admin/images/media-button-music.gif"></a>
                        <a title="Thêm media" class="thickbox" id="add_media" href="?com=media_upload&act=media&article_id=<?= $content->id; ?>&tei=content&amp;TB_iframe=1&amp;width=640&amp;height=249"><img alt="Thêm media" src="<?= $url_path ?>admin/images/media-button-other.gif"></a> 
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <textarea id="content" name="content"><?php echo $content->content; ?></textarea>
                    </td>				
                </tr>
            </table>
        </div>
        <div class="clear"></div>
        <div class="grid_24 padd-15-0 action">
            <input name="submit" value="Lưu" type="submit" class="button-content-yell" />
            <input name="reset" value="Làm lại" type="reset" class="button-content-grays"/>
            <input type="hidden" name="<?php echo Flywheel_Factory::getSession()->getToken(); ?>" value="1" />
        </div>
    </form>         
</div>

<style  type="text/css">
    .system-message { margin: 5px; }
    .goList { float: right; padding: 16px; background: url('frontend/images/back.png') no-repeat; }
    td { vertical-align: top; }
    .mceEditor > table {
        width: 950px/* my width */ !important;
    }
    .mceEditor #content_tbl iframe {
        height: 300px !important;
    }
    form.admin-form table tr td { border-bottom: 0;}
    .grid_24.action input {font-size: 15px; height: auto; padding: 10px 20px; font-weight: bold; border: 1px solid #DDD; width: 100px; }
    .button-content-grays { color: #444; }
</style>

<script type="text/javascript" src="admin/js/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
    tinyMCE.init({
        // General options
        mode : "exact",
        elements : "excerpt,content",
        theme : "advanced",
        plugins : "pagebreak,style,layer,table,save,advhr,advimage,advlink,imagemanager,emotions,iespell,inlinepopups,insertdatetime,"
            + "preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,"
            + "xhtmlxtras,template,wordcount,advlist,autosave",
        // Theme options
        theme_advanced_buttons1 : "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,styleselect,formatselect,fontselect,fontsizeselect,cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo",
        theme_advanced_buttons2 : "link,unlink,anchor,image,cleanup,help,code,|,tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,insertimage,|",
        theme_advanced_buttons3 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak,restoredraft",
        theme_advanced_toolbar_location : "top",
        theme_advanced_toolbar_align : "left",
        theme_advanced_statusbar_location : "bottom",
        theme_advanced_resizing : false
    });
    // tinyMCE.removeMCEControl(tinyMCE.getEditorId('abc'));
    $(document).ready(function(){
        $('input[name^=published_]').datepicker(); 
       
    });
</script>
<!-- /TinyMCE -->