<?php $public_path = Flywheel_Factory::getDocument()->getPublicPath(); ?>
<div id="login">
	<div class="login-logo"><img src="<?php echo $public_path ?>admin/images/logo.gif" alt="" /></div>
	<div class="login-form admin-form">
		<form action="<?php echo $action ?>" method="POST">
		<?php if ('' != $message) : ?>
		<?php echo $message; ?>
		<label style="margin-top:5px;">Tên đăng nhập</label>
		<?php else :?>
		<label>Tên đăng nhập</label>
		<?php endif;?>
		<div class="login-form-input"><input name="username" type="text" class="input-login" /></div>
		<label>Mật khẩu</label>
		<div class="login-form-input"><input name="password" type="password" class="input-login" /></div>
		<div>
			<input name="submit" type="submit" value="Đăng nhập" class="big_button" />
			<a href="<?php echo $public_path ?>" style="float:right; color: #4766a1; font-size:14px; text-decoration:underline; padding-top: 13px;">về trang chủ &raquo;</a>		
		</div>
		</form>            	
	</div>
</div>