<?php
/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */

$req = Flywheel_Factory::getRequest();
?>

<style type="text/css">
    .filter { border: 1px solid #DDD; margin: 10px 0; padding: 10px 10px 0;}
    .filter table { margin-bottom: 10px; }
    .filter td.title { padding-left: 20px; text-align: right; }
    .filter td { padding: 5px 10px; }
    .box-body-content th { text-align: center;}
    .stt { text-align: right; }
    .total_money { text-align: right; color: green; font-weight: bold; }
</style>

<div>
    <fieldset class="filter">
        <legend>Tìm kiếm</legend>
        <form action="" method="get">
            <input type="hidden" name="com" value="order" />
            <input type="hidden" name="act" value="default" />
            <table>
                <tr>
                    <td class="title">Tên khách hàng:</td>
                    <td><input type="text" name="name" value="<?php echo $req->get('name') ?>" /></td>
                    <td class="title">Trạng thái:</td>
                    <td>
                        <select name="status">
                            <option value="-1"> - Tất cả</option>
                            <option value="0" <?php echo $req->get('status', Flywheel_Filter::TYPE_INT, -1) == 0? 'selected':''  ?>>Chưa giao</option>
                            <option value="1" <?php echo $req->get('status', Flywheel_Filter::TYPE_INT, -1) == 1? 'selected':''  ?>>Đã giao</option>
                        </select>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="title">Ngày tạo từ:</td>
                    <td>
                        <input type="text" class="datepicker" name="df" value="<?php echo $req->get('df') ?>" /> 
                    </td>
                    <td class="title">
                        đến:
                    </td>
                    <td>
                        <input type="text" class="datepicker" name="dt" value="<?php echo $req->get('dt') ?>" />
                    </td>
                    <td><input style="float: right;" type="submit" value="Tìm kiếm" /></td>
                </tr>
            </table>
        </form>
    </fieldset>

    <div id="paging" class="grid_24 mar-5-0">
        <div id="paging-content" class="grid_12 alpha prefix_12">
            <div class="right">
                <?php echo $pagination; ?>
            </div>
        </div>
    </div>

    <div class="box-body-content grid_24">
        <table cellspacing="0" style="width: 100%">
            <tr>
                <th style="width: 20px;">STT</th>
                <th style="width: 120px;">Ngày tạo đơn</th>
                <th style="width: 120px;">Khách hàng</th>
                <th>Địa chỉ / Email</th>
                <th style="width: 100px;">Điện thoại/Fax</th>
                <th style="width: 100px;">Tổng tiền hàng (VNĐ)</th>
                <th style="width: 80px;">Trạng thái</th>
                <th style="width: 100px;">#</th>
            </tr>
            <?php
            $arr_status = array("<span style='color: red'>Chưa giao</span>", '<span styl"color:green">Đã giao</span>');
            if (!empty($_orders)) {
                $inc = 0;
                foreach ($_orders as $k => $v) {
                    $inc++;
                    ?>
                    <tr>
                        <td class="stt"><?php echo $inc; ?></td>
                        <td><?php echo date("d/m/Y", $v['created_time']) . " <i style='font-size: 11px;'>" . date("H:i:s", $v['created_time']) . "</i>" ?></td>
                        <td><?php echo $v['username'] ?></td>
                        <td>
                            <?php echo $v['address']; ?>
                            <br/>
                            Email: <?php echo $v['email'] ?>
                        </td>
                        <td>
                            <?php echo $v['phone'] ?>
                            <br/>
                            <?php echo $v['fax'] ?>
                        </td>
                        <td class="total_money"><?php echo Backend_Utility::currency_format($v['total_money']) ?></td>
                        <td><?php echo $arr_status[$v['status']] ?></td>
                        <td align="center">
                            <?php if($v['status'] == 0) { ?>
                            <a href="javascript:;" onclick="deliver_order(<?php echo $v['id'] ?>)" title="">[Giao hàng]</a>
                            <br/>
                            <?php } ?>
                            <a href="?com=order&act=detail&id=<?php echo $v['id'] ?>" title="Chi tiết đơn hàng">[Chi tiết]</a> 
                            <?php if($v['status'] == 0) { ?>
                            | 
                            <a href="javascript:;" onclick="delete_order(<?php echo $v['id'] ?>)" title="Xóa đơn hàng">[Xóa]</a>
                            <?php } ?>
                        </td>
                    </tr>
                    <?php
                }
            } else {
                ?>
                <tr>
                    <td colspan="8"><i>Chưa có đơn hàng nào.</i></td>
                </tr>
                <?php
            }
            ?>
        </table>
    </div>

    <div id="paging" class="grid_24 mar-5-0">
        <div id="paging-content" class="grid_12 alpha prefix_12">
            <div class="right">
                <?php echo $pagination; ?>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('.datepicker').datepicker();
    });
    function deliver_order(id) {
        if(confirm('\u0110ơn hàng đã được giao?')) {
            $.ajax({
                url: '?com=order&act=deliver',
                type: 'POST',
                data: {
                    'id' : id
                }, success: function(d) {
                    d = $.parseJSON(d);
                    if(d.status) {
                        window.location.reload();
                    } else {
                        alert(d.msg);
                    }
                }, error: function(e) { alert(e); }
            })
        }
    }
    
    function delete_order(id) {
        if(confirm('Xóa \u0111ơn hàng này?')) {
            $.ajax({
                url: '?com=order&act=del',
                type: 'POST',
                data: {
                    'id' : id
                }, success: function(d) {
                    d = $.parseJSON(d);
                    if(d.status) {
                        window.location.reload();
                    } else {
                        alert(d.msg);
                    }
                }, error: function(e) { alert(e); }
            })
        }
    }
</script>