<?php
/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */

$req = Flywheel_Factory::getRequest();
?>

<style type="text/css">
    .info { border: 1px solid #DDD; margin: 10px 0; padding: 10px 10px 0;}
    .info table { margin-bottom: 10px; width: 100%; }
    .info .title { width: 30%; text-align: right; }
    .info td.title { padding-left: 20px; text-align: right; font-weight: bold; }
    .info td { padding: 5px 10px; }
    .box-body-content th { text-align: center;}
    .stt { text-align: right; }
    .money { text-align: right; }
    legend { font-weight: bold; }
</style>

<div>
    <fieldset class="info">
        <legend>Thông tin đơn hàng</legend>
        <form action="" method="get">
            <table>
                <tr>
                    <td class="title">Tên khách hàng:</td>
                    <td><?php echo $_order->username ?></td>
                </tr>
                <tr>
                    <td class="title">Địa chỉ:</td>
                    <td><?php echo $_order->address ?></td>
                </tr>
                <tr>
                    <td class="title">Điện thoại:</td>
                    <td><?php echo $_order->phone ?></td>
                </tr>
                <tr>
                    <td class="title">Số Fax:</td>
                    <td><?php echo $_order->fax ?></td>
                </tr>
                <tr>
                    <td class="title">Email liên hệ:</td>
                    <td><?php echo $_order->email ?></td>
                </tr>
                <tr>
                    <td class="title">Ghi chú đơn hàng:</td>
                    <td><?php echo $_order->note ?></td>
                </tr>
            </table>
        </form>
    </fieldset>

    <div id="paging" class="grid_24 mar-5-0">
        <div id="paging-content">
            <h5>Sản phẩm trong đơn hàng</h5>
        </div>
    </div>

    <div class="box-body-content grid_24">
        <table cellspacing="0" style="width: 100%">
            <tr>
                <th style="width: 20px;">STT</th>
                <th>Tiêu đề sản phẩm</th>
                <th style="width: 120px;">Giá (VNĐ)</th>
                <th style="width: 80px;">Số lượng</th>
                <th style="width: 120px;">Tổng tiền (VNĐ)</th>
            </tr>
            <?php
            if (!empty($_items)) {
                $inc = 0;
                foreach ($_items as $k => $v) {
                    $inc++;
                    ?>
                    <tr>
                        <td class="stt"><?php echo $inc; ?></td>
                        <td><?php echo $v['title'] ?></td>
                        <td class="money"><?php echo Backend_Utility::currency_format($v['price']); ?></td>
                        <td class="money"><?php echo $v['amount'] ?></td>
                        <td class="money"><?php echo Backend_Utility::currency_format($v['price'] * $v['amount']) ?></td>
                    </tr>
                    <?php
                }
            } else {
                ?>
                <tr>
                    <td colspan="8"><i>Chưa có đơn hàng nào.</i></td>
                </tr>
                <?php
            }
            ?>
        </table>
    </div>

</div>