<?php
$_user = Flywheel_Authen::getInstance()->getUser();
$user = new Users;
$user->read($_user->id);
$password_payment = new UserPaymentPassword;
$payment = $password_payment->read($user->id);
?>
<?php
if ($user->type == 2)
    $la = 'cn';
else
    $la='vi';
$langs = _getLang();
?>
<div id="form_change_pass"  style="display: none;">
    <p id="change_pass_status" style="color:red;"></p>
    <table style="width: 100%">
        <tr>
            <td style="text-align: right;width: 32%;"><?php echo _e('mat-khau-cu', $la, 'Mật khẩu cũ', $langs) ?></td>
            <td style="text-align: left;"><input type="password"  name="old_pass"/></td>
        </tr>
        <tr>
            <td style="text-align: right"><?php echo _e('mat-khau-moi', $la, 'Mật khẩu mới', $langs) ?></td>
            <td style="text-align: left;"><input type="password" name="new_pass"/></td>
        </tr>
        <tr>
            <td style="text-align: right"><?php echo _e('go-lai-mat-khau-moi', $la, 'Gõ lại mật khẩu mới', $langs) ?></td>
            <td style="text-align: left;"><input type="password" name="renew_pass"/></td>
        </tr>

    </table>
</div>

<div class="profile_message" style="display: none;width: 98%;;padding: 6px;margin: 10px auto;border: 1px solid orange">

</div>
<form id="profile_form">
    <h2 class="header-title"><?php echo _e('thong-tin-ca-nhan', $la, 'THÔNG TIN CÁ NHÂN', $langs) ?>:</h2>
    <div class="field">
        <label class="caption"><?php echo _e('ten-dang-nhap', $la, 'Tên đăng nhập', $langs) ?>:</label>
        <div class="fieldtext">
            <a href="#"><?php echo $user->username; ?></a> &nbsp;&nbsp;&nbsp;[ <a href="javascript:;" id="change_pass" class="margin-10"><?php echo _e('doi-mat-khau', $la, 'Đổi mật khẩu', $langs) ?> </a> ]
            <div class="small"><?php echo _e('tham-gia-tu', $la, 'Tham gia từ', $langs) ?>: <?php echo date("d-m-Y", $user->time_join); ?></div>
        </div>
    </div>
    <div class="field">
        <label class="caption"><?php echo _e('ma-order-code', $la, 'Mã Order', $langs) ?>:</label>
        <div class="fieldtext">
            <?php echo $user->code != '' ? $user->code : 'Chưa có mã Order'; ?> &nbsp;&nbsp;&nbsp;

        </div>
    </div>

    <div class="field">
        <label class="caption"><?php echo _e('ho-ten', $la, 'Họ tên', $langs) ?>:</label>
        <div class="fieldtext">
            <input type="text" name="fullname" value="<?php echo $user->fullname; ?>"  />
        </div>
    </div>
    <div class="field">
        <label class="caption"><?php echo _e('gioi-tinh', $la, 'Giới tính', $langs) ?>:</label>
        <div class="fieldtext">
            <label><input type="radio" name="gender" <?php if ($user->gender == 0)
                echo 'checked'; ?> value="0"/> <?php echo _e('gioi-tinh-nam', $la, 'Nam', $langs) ?></label>
            <label><input type="radio" name="gender" <?php if ($user->gender == 1)
                              echo 'checked'; ?> value="1" style="margin-left: 20px;"/> <?php echo _e('gioi-tinh-nu', $la, 'Nữ', $langs) ?></label>
        </div>
    </div>
    <div class="field">
        <label class="caption"> <?php echo _e('ngay-sinh', $la, 'Ngày sinh', $langs) ?>:</label>
        <div class="fieldtext">
            <?php
            $birthday = explode("-", $user->birthday);
            ?>
            <select class="comb-time" name="date_born">
                <option value="-1"><?php echo _e('ngay-sinh-ngay', $la, 'Ngày', $langs) ?></option>
                <?php
                $i = 1;
                for ($i = 1; $i <= 31; $i++) {
                    if (strlen($i) == 1)
                        $i = '0' . $i;
                    if ($i == $birthday[2])
                        echo "<option selected value=$i>" . $i . "</option>";
                    else
                        echo "<option value=$i>" . $i . "</option>";
                }
                ?>
            </select>
            <select class="comb-time" name="month_born">
                <option value="-1"><?php echo _e('ngay-sinh-thang', $la, 'Tháng', $langs) ?></option>
                <?php
                $i = 1;
                for ($i = 1; $i <= 12; $i++) {
                    if (strlen($i) == 1)
                        $i = '0' . $i;
                    if ($i == $birthday[1])
                        echo "<option selected value=$i>$i</option>";
                    else
                        echo "<option value=$i>$i</option>";
                }
                ?>
            </select>
            <select class="comb-time" name="year_born">
                <option value="-1"><?php echo _e('ngay-sinh-nam', $la, 'Năm', $langs) ?></option>
                <?php
                $i = 1900;
                for ($i = 1900; $i <= 2012; $i++) {
                    if ($i == $birthday[0])
                        echo "<option selected value=$i>$i</option>";
                    else
                        echo "<option value=$i>$i</option>";
                }
                ?>
            </select>
        </div>
    </div>
    <div class="field">
        <label class="caption"><?php echo _e('dien-thoai-di-dong', $la, 'Điện thoại di động', $langs) ?>:</label>
        <div class="fieldtext">
            <input type="text" name="phone" value="<?php echo $user->phone; ?>" />
        </div>
    </div>
    <div class="field">
        <label class="caption"><?php echo _e('dien-thoai-co-dinh', $la, 'Điện thoại cố định', $langs) ?>:</label>
        <div class="fieldtext"><input type="text" value="<?php echo $user->mobile; ?>" name="mobile" class="text"/></div>
    </div>
    <div class="field">
        <label class="caption"><?php echo _e('dia-chi-email', $la, 'Địa chỉ Email', $langs) ?>:</label>
        <div class="fieldtext">
            <input type="text" name="email" value="<?php echo $user->email; ?>"  />
            <?php if ($user->active != 1) { ?>
                <a href="javascript:;" title="<?php echo _e('gui-lai-mail-kich-hoat', $la, 'Gửi lại mail kích hoạt', $langs) ?>" id="resend_mail_active" rel="noflow" class="margin-10">[ <?php echo _e('kich-hoat', $la, 'Kích hoạt', $langs) ?> ]</a>
            <?php } ?>
        </div>
    </div>
    <div class="field">
        <label class="caption"><?php echo _e('chung-minh-thu', $la, 'CMTND', $langs) ?>:</label>
        <div class="fieldtext"><input type="text" value="<?php echo $user->cmtnd; ?>" name="cmtnd" class="text"/>
        </div>
    </div>

    <div class="field">
        <label class="caption"><?php echo _e('dia-chi', $la, 'Địa chỉ', $langs) ?>:</label>
        <div class="fieldtext">
            <input type="text" value="<?php echo $user->detail_address; ?>" name="detail_address" class="text medium"/>


            <select class="province" name="tt_address" id="cb_city">
                <option><?php echo _e('dia-chi-tinh-thanh', $la, 'Tỉnh thành', $langs) ?></option>
                <?php
                $tts = Location::getTt_Defined();
                foreach ($tts as $key => $tt) {
                    if ($user->tt_address == $key)
                        echo "<option selected value='" . $key . "'>" . $tt . "</option>";
                    else
                        echo "<option value='" . $key . "'>" . $tt . "</option>";
                }
                ?>
            </select>

            <select class="district" name="qh_address" id="cb_district">
                <option><?php echo _e('dia-chi-quan-huyen', $la, 'Quận huyện', $langs) ?></option>
                <?php
                $qhs = Location::getQh();
                foreach ($qhs as $qh) {
                    if ($user->qh_address == $qh['id'])
                        echo "<option selected value='" . $qh['id'] . "'>" . $qh['label'] . "</option>";
                    else
                        echo "<option value='" . $qh['id'] . "'>" . $qh['label'] . "</option>";
                }
                ?>
            </select>
        </div>
    </div>
    <div class="field">
        <label class="caption"><?php echo _e('dia-chi-yahoo', $la, 'Yahoo', $langs) ?>:</label>
        <div class="fieldtext">
            <input type="text" value="<?php echo $user->yahoo; ?>" name="yahoo" /> &nbsp;&nbsp;&nbsp;
            <span class="m-0_10"><?php echo _e('dia-chi-skype', $la, 'Skype', $langs) ?></span>
            <input type="text" value="<?php echo $user->skype; ?>" name="skype" />
        </div>
    </div>
    <div class="field">
        <label class="caption"><?php echo _e('dia-chi-qq', $la, 'QQ', $langs) ?>:</label>
        <div class="fieldtext">
            <input type="text" value="<?php echo $user->qq; ?>" name="qq" />&nbsp;&nbsp;&nbsp;
            <span class="m-0_10"><?php echo _e('dia-chi-alioangoang', $la, 'Aliwangwang', $langs) ?></span>
            <input type="text" value="<?php echo $user->alioangoang ? $user->alioangoang : ''; ?>" name="alioangoang"  />
        </div>
    </div>
    <h2 class="header-title"><?php echo _e('tai-khoan-thanh-toan', $la, 'Tài khoản thanh toán', $langs) ?>:</h2>
    <table class="infor-payment">
        <tbody><tr>
                <th><?php echo _e('so-tai-khoan', $la, 'Số tài khoản', $langs) ?></th>
                <td>
                    <input type="text" value="<?php echo $user->bank_account; ?>" name="bank_account"  />
                </td>
                <th><?php echo _e('chu-tai-khoan', $la, 'Chủ tài khoản', $langs) ?></th>
                <td>
                    <input type="text" value="<?php echo $user->bank_self; ?>" name="bank_self" />
                </td>
            </tr>
            <tr>
                <th><?php echo _e('ngan-hang', $la, 'Ngân hàng', $langs) ?></th>
                <td>
                    <input type="text" value="<?php echo $user->bank_name; ?>" name="bank_name"  />
                </td>
                <th><?php echo _e('chi-nhanh', $la, 'Chi nhánh', $langs) ?></th>
                <td>
                    <input type="text" value="<?php echo $user->bank_brand; ?>" name="bank_brand" />
                </td>
            </tr>
            <tr>
                <th><?php echo _e('ngan-luong', $la, 'Ngân lượng', $langs) ?></th>
                <td>
                    <input type="text" value="<?php echo $user->acc_nl; ?>" name="acc_nl"  />
                </td>
                <th><?php echo _e('bao-kim', $la, 'Bảo kim', $langs) ?></th>
                <td>
                    <input type="text" value="<?php echo $user->acc_bk; ?>" name="acc_bk" />
                </td>
            </tr>

        </tbody></table>  
    <div class="field">
        <div class="fieldtext">
            <button class="btn" id="profile_submit"><?php echo _e('cap-nhat', $la, 'Cập nhật', $langs) ?></button>
        </div>
    </div> 
</form>


