<div class="fl info-center">
        <div class="group-box border-1 ov-fl-auto">
           <div style="width: 96%;margin: 5px auto;">
              <h3 style="color:orange;">Thư viện ảnh của bạn</h3>
              <hr/>
              <p> Ảnh upload không được quá <b> 2 Mb </b></p>
              <p>
                 <span>
                    <a href="javascript:;" class="set_avatar" style="color: blue;">[ Đặt làm avatar ]</a>
                    &nbsp;
                    <a href="javascript:;" class="delete_user_img" style="color: blue;">[ Xóa ]</a>
                 </span>
                 <span style="float: right;">
                    <a href="javascript:;" class="uploadfile">Upload ảnh</a>
                    <div style="display: none;" class="upload_img">
                        
                        <form action="<?php echo Flywheel_Factory::getDocument()->getPublicPath().'/profile/upload_image';?>" 
                              method="post" enctype="multipart/form-data" 
                              id="frm_uploadfile">
                        <p>
                            Mô tả: 
                            <input type="text" name="title_img"/>
                        </p>
                        <p><input type="file" name="upload_img"/></p>
                        </form>
                        
                    </div>
                 </span>
              </p>
              
           </div>
           
           <div class="user_img_content" style="width: 96%;padding: 5px;height: 500px;">
              <?php
                  if(isset($imgs) and !empty($imgs)){
                     foreach ($imgs as $img){
                        ?>
                        <div style="float: left;position: relative;">
                            <input type="checkbox" class="checkbox_user_img" img_id="<?php echo $img['id'];?>" img_name="<?php echo $img['name'];?>" style="position: absolute;top: 118px;left: 56px;"/>
                            <img style="width:100px;height:100px;padding:18px;" class="show_user_img" img_id="<?php echo $img['id'];?>" img_name="<?php echo $img['name'];?>" src="<?php echo Images::getImageUrl($img['name'],$img['username'],Item::SIZE_120);?>"/>
                        </div>
                        <?php
                     }
                  }
              ?>
           </div>
            <div id="paging" class="mar-5-0" style="padding: 5px;
margin-top: 20px;
margin-right: 40px;
float: left;
width: 97%;">    
                <div id="paging-content" class="clearfix">
                    <div class="grid_14 omega right">
                        <?php
                            if(isset($strpage))echo $strpage;
                        ?>
                    </div>        
                </div>
            </div>
        </div>
         
    </div>

    
   

