<?php
/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */

// Code confirm
$code = $request->post("code");
$is_post = $request->isPost();

?>

<style type="text/css">
    .col-800 { border: 1px solid #DDD; min-height: 200px; }
    .from-wrap {
        padding: 10px;
    }.from-wrap h3 {
        padding: 0 5px 20px;
    }
    h2.header-title { margin-bottom: 0; }
    .hidden { display: none; }
    h3.mail-notify {
        border-radius: 5px 5px 5px 5px;
        box-shadow: 0 0 5px 0 #AAAAAA;
        margin: auto;
        padding: 10px;
        text-align: center;
        width: 80%;
        margin-top: 50px;
    }
</style>

<script type="text/javascript">
    $(document).ready(function() {
        $('input.repair').click(function() {
            $('.group-repair').removeClass('hidden');
            $(this).addClass('hidden');
        });
        $('.cancel-button').click(function() {
            window.location.href = "<?php echo $url_path ?>mat-khau-thanh-toan";
        });
    });
</script>

<h2 class="header-title"><?php echo _e('mat-khau-thanh-toan', $la, 'MẬT KHẨU THANH TOÁN', $langs) ?>:</h2>

<form action="" method="POST" class="from-wrap" <?php echo !empty($code) ? "onsubmit='return confirm(\"Thay đổi mật khẩu?\")'" : "" ?>>
    <?php
    // Check form submit change password
    
    if ($is_post & $result['status']) {
        // Xác thực thay đổi mật khẩu
        if (!empty($code) & $result['msg'] == '') {
            ?>
            <div class="info_content">
                <h3 class="mail-notify">
                    Mật khẩu đã được thay đổi thành công!
                </h3>
            </div>
            <?php
        } else {
            ?>
            <div class="info_content">
                <h3 class="mail-notify">
                    Mã bảo mật đã được gửi vào hòm thư <a href="mailto:<?php echo $result['email']; ?>"><?php echo $result['email']; ?></a> thành công!
                </h3>
                <p style="font-size: 13px; margin-left: 85px; margin-top: 25px;">
                    Hãy kiểm tra mail và điền mã xác nhận vào ô dưới đây để hoàn tất quá trình thay đổi mật khẩu:
                </p>

                <div class="field">
                    <label class="caption">Mã xác nhận<span class="red">(*)</span>:</label>
                    <div class="fieldtext">
                        <input type="text" value="" name="code" placeholder="Mã xác nhận" size="30" />
                        <div class="message">
                            <i class="red"><?php echo $result['pos'] == 1 ? $result['msg'] : '' ?></i>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="caption"></label>
                    <div class="fieldtext">
                        <input type="submit" class="btn submit" value="Xác nhận" />
                    </div>
                </div>

            </div>
            <?php
        }
    } else {
        if (!empty($payment)) {
            ?>
            <div class="info_content">
                <h3>
                    <?php echo _e('mat-khau-thanh-toan-da-duoc-tao', $la, 'Mật khẩu thanh toán đã được tạo! Bạn muốn sửa?', $langs) ?>
                    <span style="float: right; font-size: 13px; font-weight: normal;">Quên mật khẩu? Hãy <a href="<?php echo $url_path ?>quen-mat-khau-thanh-toan">click vào đây</a>.</span>
                </h3>
                <?php 
                if($result['pos'] == 0 & $result['status'] == false) {
                ?>
                <div class="message" style="margin-bottom: 10px;">
                    <i class="red"><?php echo $result['msg'] ?></i>
                </div>
                <?php } ?>

                <div class="group-repair <?php echo $is_post ? "" : "hidden" ?>">
                    <div class="field">
                        <label class="caption">Mật khẩu thanh toán cũ<span class="red">(*)</span>:</label>
                        <div class="fieldtext">
                            <input type="password" value="" name="pwd_old" placeholder="Mật khẩu thanh toán cũ" size="30" />
                            <i class="red" style="margin-left: 10px;"><?php echo $result['pos'] == 1 & $result['status'] == false ? $result['msg'] : '' ?></i>
                        </div>
                    </div>
                    <div class="field">
                        <label class="caption">Mật khẩu thanh toán mới<span class="red">(*)</span>:</label>
                        <div class="fieldtext">
                            <input type="password" value="" name="pwd_new" placeholder="Mật khẩu thanh toán mới" size="30" />
                            <i class="red" style="margin-left: 10px;"><?php echo $result['pos'] == 2 & $result['status'] == false ? $result['msg'] : '' ?></i>
                            <br/>
                            <i><u>Chú ý:</u> Mật khẩu bao gồm cả chữ và số</i>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="caption"></label>
                    <div class="fieldtext">
                        <input type="button" class="btn submit repair  <?php echo !$is_post ? "" : "hidden" ?>" value="Sửa mật khẩu" />
                        <div class="group-repair <?php echo $is_post ? "" : "hidden" ?>">
                            <input type="submit" class="btn submit" value="Cập nhật" />
                            <input type="reset" class="btn cancel-button" value="Bỏ qua" />
                        </div>
                    </div>
                </div>
            </div>
            <?php
        } else {
            ?>
            <h3>
                <?php echo _e('mat-khau-thanh-toan-chua-duoc-tao', $la, 'Bạn chưa có mật khẩu thanh toán! Hãy tạo ngay.', $langs) ?>
            </h3>
            <div class="field">
                <label class="caption">Nhập mật khẩu thanh toán <span class="red">(*)</span>:</label>
                <div class="fieldtext">
                    <input type="password" value="" name="pwd" placeholder="Mật khẩu thanh toán" size="30" />
                    <br/>
                    <i><u>Chú ý:</u> Mật khẩu bao gồm cả chữ và số</i>
                    <div class="message">
                        <i class="red"><?php echo $result['pos'] == 1 & $result['status'] == false ? $result['msg'] : '' ?></i>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="caption"></label>
                <div class="fieldtext"><input type="submit" class="btn submit" value="Tạo mật khẩu" /></div>
            </div>
            <?php
        }
    }
    ?>
</form>