<?php
$_user = Flywheel_Authen::getInstance()->getUser();
$user = new Users;
$user->read($_user->id);
$password_payment = new UserPaymentPassword;
$payment = $password_payment->read($user->id);

?>
<div class="fr info-center profile">

    <div class="grid_760 border-1">

        <div class="margin-10 padding-10-b border-bottom-1"><h5>Mật khẩu thanh toán:</h5></div>
        <div>

            <form id="pay_form" class="margin-10 form_ul">
                <ul>
                    <li>
                        <?php 
                        if ($payment) { ?>
                            <label>Mật khẩu thanh toán của bạn là: </label>
                            <div>
                                <strong id="pay_default"><?php echo $payment->password; ?></strong> 
                                <a href="javascript:;" id="pay_edit">[ Sửa ]</a>
                                <?php if ($payment->status_verify == 0 || !$payment->status_verify): ?>
                                    <a href="javascript:;" title="Bãn hãy kiểm tra email để xác minh" id="pay_verify">[ Xác minh ]</a>  
                                <?php endif;
                                ?>
                            </div>
                            <br/>
                            <div class="center">
                                <input type="button" class="bt-red" style="cursor: pointer;display:none" value="Cập nhật" id="pay_change_submit"  />
                            </div>
                        <?php }else { ?>
                            <label>Mật khẩu thanh toán của bạn là: </label>
                            <div><input type="password" class="text" name="payment_password" value="" style="margin-left:20px"/></div>
                            <br/>
                            <div class="center">
                                <input type="button" class="bt-red" style="cursor: pointer;" value="Cập nhật" id="pay_submit"/>
                            </div>
                        <?php } ?>
                    </li>



                </ul>  
            </form> 

        </div>
    </div>
    <br/><br/>
    <div class="grid_760 border-1" id="from_verify_pay" style="display:none">
        <div class="margin-10 padding-10-b border-bottom-1"><h5>Xác minh mật khẩu thanh toán:</h5></div>
        <div>

            <form id="pay_form_verify" class="margin-10 form_ul">
                <ul>
                    <li>
                        <label>Điền mã xác minh chúng tôi đã gửi vào email <strong><?php echo $user->email; ?></strong>: </label>

                        <div style="clear:both;padding-left:120px" class="padding-10">
                            <input type="text" class="gray" name="secure_code" onfocus="if(this.value=='Mã xác minh...')this.value=''" onblur="if(this.value=='')this.value='Mã xác minh...'" value="Mã xác minh..."/> 
                            <input type="button" class="bt-red" style="cursor: pointer;" value="Cập nhật" id="verify_submit"/>
                        </div>



                    </li>



                </ul>  
            </form> 

        </div>
    </div>
</div>




