<?php
/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */

$action = $request->post('action');
?>

<style type="text/css">
    .col-800 { border: 1px solid #DDD; min-height: 500px; }
    .from-wrap {
        padding: 10px;
    }.from-wrap h3 {
        padding: 0 5px 20px;
    }
    h2.header-title { margin-bottom: 0; }
    .hidden { display: none; }
    h3.mail-notify {
        border-radius: 5px 5px 5px 5px;
        box-shadow: 0 0 5px 0 #AAAAAA;
        margin: auto;
        padding: 10px;
        text-align: center;
        width: 80%;
        margin-top: 50px;
    }
</style>

<h2 class="header-title"><?php echo _e('quen-mat-khau-thanh-toan', $la, 'QUÊN MẬT KHẨU THANH TOÁN', $langs) ?>:</h2>

<form action="" method="POST" class="from-wrap">
    <?php
    if ($action != 'verify') {
        if(!empty($user->email)) {
        ?>
        <input type="hidden" name="action" value="verify" />
        <div class="info_content">
            <h3>Bạn quên mật khẩu?</h3>
            <p>
                Click vào nút dưới đây để gửi yêu cầu lấy lại mật khẩu tới hệ thống <a href="http://alimama.vn" target="_blank">Alimama.vn</a>.
            </p>
            <div>
                <input type="submit" class="btn submit" value="Gửi yêu cầu" />
            </div>
        </div>
    <?php
        } else {
            ?>
        <div class="info_content">
            <h3>Bạn quên mật khẩu?</h3>
            <p>
                Bạn chưa tạo email! Hãy <a href="<?php echo $url_path ?>ca-nhan">click vào đây</a> để điền email của bạn..
            </p>
        </div>
        <?php
        }
    } else {
        // Get security code
        if (!$result['status']) {
            ?>
            <input type="hidden" name="action" value="verify" />
            <div class="info_content">
                <h3>Bạn đã gửi yêu cầu lấy lại mật khẩu tới Alimama.vn.</h3>
                <p>
                    Hãy kiểm tra email <a href="<?php echo $user->email ?>"><?php echo $user->email ?></a> của bạn để lấy mã xác thực và điền vào ô trống dưới đây.
                </p>
                <div class="field">
                    <label class="caption">Mã xác thực <span class="red">(*)</span>:</label>
                    <div class="fieldtext">
                        <input type="text" value="" name="code" placeholder="Mã xác thực" size="30" />
                        <br/>
                        <div class="message">
                            <i class="red"><?php echo $result['pos'] == 1 & $result['status'] == false ? $result['msg'] : '' ?></i>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="caption"></label>
                    <div class="fieldtext"><input type="submit" class="btn submit" value="Lấy lại mật khẩu" /></div>
                </div>
            </div>
            <?php
        } else {
            ?>
            <div class="info_content">
                <h3 class="mail-notify">
                    Mật khẩu của bạn là: <b style="color: #027FC0;"><?php echo $result['pwd'] ?></b>
                </h3>
            </div>
            <?php
        }
    }
    ?>
</form>