<div class="fl info-center">
        <div class="group-box border-1 ov-fl-auto">
           <div style="width: 100%;margin: 5px auto;">
              <h3 style="color:orange;">Chúc mừng bạn đã xác minh mã thanh toán thành công</h3>
              
           </div>
           <div class="mar-10-0 padding-5">
               <a href="<?php echo Flywheel_Factory::getDocument()->getPublicPath(); ?>ca-nhan" class="center">Về trang cá nhân</a>
           </div>
          
        </div>
         
    </div>

    
   

