       
<div class=" grid_10 title-box-body">
    <span>Quản trị ngôn ngữ </span>
</div>

<div class="clear"></div>
<div class="box-body-content grid_24 user " style="width:770px">
    <p><button onclick="Lang.add_lang()">Thêm mới</button></p>
    <table class="admin-table" id="table_lang" style="border-bottom: 1px solid #D2D2D2;" width="100%;" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <th width="7%">Thứ tự</th>
            <th>Từ khóa</th>
            <th>Tiếng Việt</th>
            <th>Tiếng Trung</th>
            <th width="15%">Tác vụ</th>          
        </tr>
        <?php
            if (isset($langs) && !empty($langs)) {
                $i = 0;
            foreach ($langs as $k=>$lang) {
                $i++;
         ?>
        <tr class="alt">
            <td align="center">              
                <?php echo $i;?>
            </td>
            <td>
               <?php echo $lang['key'];?>
            </td>
            <td>
               <?php echo $lang['vi'];?>
            </td>
            <td>
               <?php echo $lang['cn'];?>
            </td>
            <td>
                <a href="javascript:;" onclick="Lang.edit_lang(<?php echo $lang['id'];?>)"><button>Sửa</button></a>
                <table id="div_edit_lang_<?php echo $lang['id'];?>" style="display: none;width: 100%;">
        
                    <tr style="margin-top: 10px">
                        <td style="width: 35%;">Từ khóa</td>
                        <td><input id="key_<?php echo $lang['id'];?>" type="text" value="<?php echo $lang['key']?>" style="width: 290px;"/></td>
                    </tr>
                    <tr>
                        <td>Tiếng Việt</td>
                        <td><input id="vi_<?php echo $lang['id'];?>" type="text" value="<?php echo $lang['vi']?>" style="width: 290px;"/></td>
                    </tr>
                    <tr>
                        <td>Tiếng Trung</td>
                        <td><input id="cn_<?php echo $lang['id'];?>" type="text" value="<?php echo $lang['cn']?>" style="width: 290px;"/></td>
                    </tr>
                </table>
                &nbsp;
                <a href="javascript:;" onclick="Lang.delete_lang(<?php echo $lang['id'];?>)"><button>Xóa</button></a>
            </td>
        </tr>
       <?php
            }
           }
        ?>
        <tr>
            <td colspan="5" style="text-align: center;">
                <button onclick="Lang.add_lang()">Thêm mới</button>
            </td>
        </tr>
    </table>
    <table id="div_add_lang" style="display: none;width: 100%;">
        
        <tr style="margin-top: 10px">
            <td style="width: 35%;">Từ khóa</td>
            <td><input id="key" type="text" style="width: 290px;"/></td>
        </tr>
        <tr>
            <td>Tiếng Việt</td>
            <td><input id="vi" type="text" style="width: 290px;"/></td>
        </tr>
        <tr>
            <td>Tiếng Trung</td>
            <td><input id="cn" type="text" style="width: 290px;"/></td>
        </tr>
    </table>
    
</div>

<script>
    var Lang = {
        
        'add_lang':function(){
            $("#div_add_lang").dialog({
                title:'Thêm từ',
                modal:false,
                width:470,
                buttons:{
                    'Xác nhận':function(){
                        var url = base_url+'/?com=lang&act=add';
                        var key = $("#key").val();
                        var vi = $("#vi").val();
                        var cn = $("#cn").val();
                        $.post(url,{key:key,vi:vi,cn:cn},function(data){
                            if(data!=1){
                                alert(data);
                                return false;
                            }else{
                                location.reload(true);
                            }
                        });
                    },
                    'Hủy bỏ':function(){
                        $(this).dialog('close');
                    }
                }
            });
        },
        'edit_lang':function(lid){
            $("#div_edit_lang_"+lid).dialog({
                title:'Thêm từ',
                modal:false,
                width:470,
                buttons:{
                    'Xác nhận':function(){
                        var url = base_url+'/?com=lang&act=update';
                        var key = $("#key_"+lid).val();
                        var vi  = $("#vi_"+lid).val();
                        var cn  = $("#cn_"+lid).val();
                        $.post(url,{lid:lid,key:key,vi:vi,cn:cn},function(){
                            location.reload(true);
                        });
                    },
                    'Hủy bỏ':function(){
                        $(this).dialog('close');
                    }
                }
            });
        },
        'delete_lang':function(lid){
            var url = base_url+'/?com=lang&act=delete';
            $.post(url,{lid:lid},function(){
                location.reload(true);
            });
        }
        
    }
    
    
    $(function(){
        if($("#div_add_lang td").length > 0 ){
            $("#div_add_lang td").css('padding','5px');
        }
    });
</script>