<?php foreach ($messages as $msgGroup => $body) : ?>
	<?php if (is_array($body) && sizeof($body) > 0) : ?>
		<dl class="messages msg-<?php echo strtolower($msgGroup);?> tiny">
			<?php foreach ($body as $title => $message) : ?>
				<?php for ($i = 0, $size = sizeof($message); $i<$size; ++$i) : ?>
					<dd><?php echo $message[$i]?></dd>
				<?php endfor; ?>
			<?php endforeach; ?>
		</dl>
	<?php endif; ?>
<?php endforeach; ?>
