<?php
/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */
$req = Flywheel_Factory::getRequest();
$id = $req->get('id', Flywheel_Filter::TYPE_INT, 0);
?>

<style type="text/css">
    table td { border-right: 0 !important; }
    .required { color: red; }
    fieldset { border: 1px solid #DDD; padding: 10px; border-radius: 5px; }
    legend { padding: 0 10px; }
    div.content-detail { border: 1px solid #DDD; padding: 10px; border-radius: 5px;  }
    td.title { text-align: right; font-weight: bold;}
</style>

<div class="box-body-content grid_24" style="margin-top: 10px; padding: 10px; width: 930px;">
    <h3>Crawl sản phẩm</h3>
    <form action="" method="POST" onsubmit="return before_sumit()">
        <input type="hidden" name="option" value="crawl" />
        <input type="hidden" name="id" value="<?php echo $req->get('id') ?>"/>
        <fieldset>
            <legend>Link crawl</legend>
            <input type="text" name="link" class="text-large" 
                   value="<?php echo $req->post('link') != "" ? 
                           $req->post('link') : ($req->get('link') != "" ? base64_decode($req->get('link')) : "") ?>" />
            <input type="submit" value="Crawl" />
            <input type="button" style="display: none;" value="Crawl Ajax" onclick="get_ajax()" />
        </fieldset>
    </form>

    <?php
    if ($req->getMethod() == Flywheel_Application_Request::POST) {
        ?>
        <div class="content-detail">
            <?php
            echo !$_result['status'] ? 
                '<h5 style="color: red; padding: 2px; border: 1px solid; width: 60%; text-align: center;">' 
                . $_result['msg'] . '</h5>' 
            : 
                (!empty($_result['msg']) ? '<h5 style="color: green; padding: 2px; border: 1px solid; width: 60%; text-align: center;">' 
                    . $_result['msg'] . '</h5>' : "");
            ?>
            <form action="" method="post" name="frm_category" enctype="multipart/form-data" 
                  onsubmit="return confirm('<?php echo $id == 0 ? "Thêm mới" : "Cập nhật" ?> sản phẩm?')">
                
                <input type="hidden" value="<?php echo $req->post('link') ?>" name="link" />
                <input type="hidden" name="id_craw" value="<?php echo $req->post('id_craw') != "" ?
                                                                $req->post('id_craw') : $result['id_craw'] ?>" />
                <input type="hidden" name="type" value="1"/>
                <input type="hidden" name="id" value="<?php echo $req->post('id') ?>"/>
                <table cellspacing="0" width="95%">
                    <tr>
                        <td class="title">Tên sản phẩm <span class="required">(*) :</span></td>
                        <td colspan="3">
                            <input type="text" class="text-medium" name="title" id="title" style="width: 500px;" 
                                   value="<?php echo $req->post('title') != "" ?
                $req->post('title') : $result['title'] ?>" />
                            <input type="hidden" name="title_origin" id="title_origin"
                                   value="<?php echo $req->post('title') != "" ?
                                       $req->post('title') : $result['title'] ?>" />
                            <input type="button" onclick="translate(this, 'title')" value="Dịch" />
                            <input type="button" onclick="text_origin(this, 'title')" value="Tiêu đề gốc"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="title">
                            Mã sản phẩm:
                        </td>
                        <td colspan="3">
                            <input type="text" class="text-field" style="width: 100px" name="code" 
                                   value="<?php echo $req->post('code') != "" ? $req->post('code') : "" ?>" />
                        </td>
                    </tr>
                    <tr>
                        <td class="title">Giá sản phẩm <span class="required">(*) :</span></td>
                        <td colspan="3">
                            <input type="text" class="text-field" name="price" style="width: 60px;" value="<?php echo $req->post('price') != "" ? $req->post('price') : 0 ?>" /> 
                            <i>vnđ</i>,
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <b>Khuyến mãi</b>: <input type="text" class="text-field" style="width: 50px;" 
                                                      name="pro_price" value="<?php echo $req->post('pro_price') != "" ? $req->post('pro_price') : "0" ?>" /> 
                            <i>vnđ</i>
                            <div style="padding: 5px;"></div>
                            Giá web gốc: <span style="color: red"><?php echo $result['price'] ?></span> <sup>NDT</sup>
                        </td>
                    </tr>
                    <tr>
                        <td class="title">Ảnh đại diện :</td>
                        <td colspan="3">
                            <img src="<?php echo $req->post('img') != "" ? $req->post('img') : $result['image'] ?>" />
                            <input type="hidden" name="img" value="<?php echo $req->post('img') != "" ? $req->post('img') : $result['image'] ?>" />
                        </td>
                    </tr>
                    <tr>
                        <td class="title">Danh mục cha <span class="required">(*) :</td>
                        <td colspan="3"><?php echo $_cateSelect ?></td>
                    </tr>
                    <tr>
                        <td class="title">Từ khóa :</td>
                        <td colspan="3"><input type="text" class="text-medium" name="tags" value="<?php echo $req->post('tags') != "" ? $req->post('tags') : $_item->tags ?>" /></td>
                    </tr>
                    <tr>
                        <td class="title">Vị trí hiển thị :</td>
                        <td style="width: 100px;"><input type="text" class="text-small" name="pos" value="<?php echo $req->post('pos') != "" ? $req->post('pos') : $_item->pos ?>" /></td>
                        <td class="title">Trạng thái :</td>
                        <td><input type="checkbox" name="status" <?php echo $_item->status || $req->post('status') != "" ? "checked" : "" ?> /> <i>(Tích chọn để cho phép hiển thị)</i></td>
                    </tr>
                    <tr>
                        <td class="title">Kiểu sản phẩm :</td>
                        <td style="width: 150px;">
                            <input type="checkbox" name="is_new" <?php echo $_item->is_new || $req->post('is_new') != "" ? "checked" : "" ?> /> Sản phẩm mới
                            <br/>
                            <input type="checkbox" name="is_front" <?php echo $_item->is_front || $req->post('is_front') != "" ? "checked" : "" ?> /> Sản phẩm nổi bật
                        </td>
                        <td class="title">Tồn kho:</td>
                        <td>
                            <input type="text" name="instock" value="<?php echo $req->post('instock') != "" ? $req->post('instock') : $_item->instock ?>" style="width: 50px;" /> sản phẩm
                        </td>
                    </tr>
                    <tr>
                        <td class="title">Mô tả :</td>
                        <td colspan="3">
                            <textarea name="brief" id="brief" style="width: 640px;"><?php echo $req->post('brief') != "" ? $req->post('brief') : $result['proper_html'] ?></textarea>
                            <input type="button" value="Dịch" onclick="translate(this, 'brief')"
                                   style="float: right; left: -29px; position: relative; top: -128px;"/>
                            <input type="button" onclick="text_origin(this, 'brief')" value="Quay lại"
                                   style="float: right; left: 44px; position: relative; top: -100px;"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="title">Chi tiết sp :</td>
                        <td colspan="3">
                            <textarea name="des" id="des" style="width: 700px; height: 500px;"><?php echo $req->post('des_content') != "" ? $req->post('des_content') : $result['img_description'] ?></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">
                            <input type="submit" value="<?php echo $id == 0 ? "Thêm mới" : "Cập nhật" ?>" />
                            <input type="reset" value="Làm mới" />
                        </td>
                        <td colspan="2"></td>
                    </tr>
                </table>
            </form>
        </div>

    <?php } ?>

</div>
<script type="text/javascript" src="admin/js/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
    tinyMCE.init({
        // General options
        mode : "exact",
        elements : "des",
        theme : "advanced",
        plugins : "autolink,lists,spellchecker,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,imagemanager",

        // Theme options
        theme_advanced_buttons1 : "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleselect,formatselect,fontselect,fontsizeselect",
        theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
        theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
        theme_advanced_buttons4 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,spellchecker,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,blockquote,pagebreak,|,insertfile,insertimage",
        theme_advanced_toolbar_location : "top",
        theme_advanced_toolbar_align : "left",
        theme_advanced_statusbar_location : "bottom",
        theme_advanced_resizing : true,
        relative_urls : false,
        
        // Example content CSS (should be your site CSS)
        content_css : "css/content.css",

        // Drop lists for link/image/media/template dialogs
        template_external_list_url : "lists/template_list.js",
        external_link_list_url : "lists/link_list.js",
        external_image_list_url : "lists/image_list.js",
        media_external_list_url : "lists/media_list.js",
        
        // Style formats
        style_formats : [
            {title : 'Bold text', inline : 'b'},
            {title : 'Red text', inline : 'span', styles : {color : '#ff0000'}},
            {title : 'Red header', block : 'h1', styles : {color : '#ff0000'}},
            {title : 'Example 1', inline : 'span', classes : 'example1'},
            {title : 'Example 2', inline : 'span', classes : 'example2'},
            {title : 'Table styles'},
            {title : 'Table row 1', selector : 'tr', classes : 'tablerow1'}
        ],
        // Replace values for the template plugin
        template_replace_values : {
            username : "Some User",
            staffid : "991234"
        }
        
    });
    
    // simple style
    tinyMCE.init({
        // General options
        mode : "exact",
        elements : "brief",
        theme : "simple",
        // Replace values for the template plugin
        template_replace_values : {
            username : "Some User",
            staffid : "991234"
        }
        
    });
    
    // tinyMCE.removeMCEControl(tinyMCE.getEditorId('abc'));
    $(document).ready(function(){
        $('.datepicker').datepicker(); 
    });
    
    function get_ajax() {
        $('.content-detail').css( { 'display' : 'none'});
        var url = $('input[name=link]').val();
        $.ajax({
            url: 'admin.php?com=item&act=crawl',
            type: 'POST',
            data: { 'link' : url },
            success: function(d) {
                alert(d);
            }
        })
    }
    
    function translate(obj, option) {
        var text = "";
        switch(option) {
            case 'title':
                text = $('#title_origin').val();
                break;
            case 'brief':
                text = $('#brief').val();
                break;
            default: break;
        }
        $.ajax({
            url: 'admin.php?com=item&act=crawl',
            type: 'POST',
            data: {
                'text' : text,
                'option' : 'translate'
            }, success: function(d) {
                switch(option) {
                    case 'title':
                        $('#title').val(d);
                        break;
                    case 'brief':
                        tinyMCE.get('brief').setContent(d);
                        break;
                    default: break;
                }
            }
        });
    }
    
    function text_origin(obj, opt) {
        switch(opt) {
            case 'title':
                $('#title').val($('#title_origin').val());
                break;
            case 'brief':
                tinyMCE.get('brief').setContent($('#brief').text());
                break;
            default: break;
        }
    }
    
    function before_sumit() {
        $('.content-detail').fadeOut('slow');
    }
</script>