<?php

/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */
$req = Flywheel_Factory::getRequest();
$id = $req->get('id', Flywheel_Filter::TYPE_INT, 0);

?>

<style type="text/css">
    table td { border-right: 0 !important; }
    .required { color: red; }
</style>

<div class="box-body-content grid_24" style="margin-top: 10px; padding: 10px; width: 930px;">
    <h3><?php echo $id == 0 ? "Thêm mới" : "Cập nhật" ?> sản phẩm</h3>
    <?php 
    echo !$_result['status'] ? '<h5 style="color: red; padding: 2px; border: 1px solid; width: 60%; text-align: center;">' . $_result['msg'] . '</h5>' 
            : (!empty($_result['msg']) ? '<h5 style="color: green; padding: 2px; border: 1px solid; width: 60%; text-align: center;">' . $_result['msg'] . '</h5>' : "");
    ?>
    <form action="" method="post" name="frm_category" enctype="multipart/form-data" onsubmit="return confirm('<?php echo $id == 0 ? "Thêm mới" : "Cập nhật" ?> sản phẩm?')">
        <input type="hidden" name="type" value="<?php echo $_item->type ?>" />
        <table cellspacing="0" width="95%">
            <tr>
                <td align="right">Tên sản phẩm <span class="required">(*) :</span></td>
                <td colspan="3">
                    <input type="text" class="text-medium" name="title" style="width: 500px;" value="<?php echo $req->post('title') != "" ? $req->post('title') : $_item->title ?>" />
                    Mã sản phẩm: <input type="text" class="text-field" style="width: 80px" name="code" value="<?php echo $req->post('code') != "" ? $req->post('code') : $_item->code ?>" />
                    <?php 
                    if(!empty($_item->link_crawl)) {
                        $encodeUri = base64_encode($_item->link_crawl);
                        echo '<br/>';
                        echo "Linh gốc: <a href='{$_item->link_crawl}' target='_blank'>{$_item->title_origin}</a>" 
                        . " <a href='?com=item&act=crawl&link={$encodeUri}&id={$_item->id}'>[Crawl lại]</a>";
                    }
                    ?>
                </td>
            </tr>
            <tr>
                <td align="right">Giá sản phẩm <span class="required">(*) :</span></td>
                <td style="width: 150px;">
                    <input type="text" class="text-field" name="price" style="width: 50px;" value="<?php echo $req->post('price') != "" ? $req->post('price') : $_item->price ?>" /> vnđ
                </td>
                <td align="right">
                    Khuyến mãi:
                </td>
                <td>
                    <input type="text" class="text-field" style="width: 50px;" name="pro_price" value="<?php echo $req->post('pro_price') != "" ? $req->post('pro_price') : $_item->pro_price ?>" /> vnđ
                </td>
            </tr>
            <tr>
                <td align="right">Ảnh đại diện :</td>
                <td colspan="3">
                    <?php if(!$_item->type) { ?>
                    <input type="file" name="img" />
                    <?php } else {
                        ?>
                    <img src="<?php echo $_item->img ?>" />
                    <input type="hidden" name="img" value="<?php echo $_item->img ?>" />
                    <?php
                    } ?>
                </td>
            </tr>
            <tr>
                <td align="right">Danh mục cha <span class="required">(*) :</td>
                <td colspan="3"><?php echo $_cateSelect ?></td>
            </tr>
            <tr>
                <td align="right">Từ khóa :</td>
                <td colspan="3"><input type="text" class="text-medium" name="tags" value="<?php echo $req->post('tags') != "" ? $req->post('tags') : $_item->tags ?>" /></td>
            </tr>
            <tr>
                <td align="right">Vị trí hiển thị :</td>
                <td style="width: 100px;"><input type="text" class="text-small" name="pos" value="<?php echo $req->post('pos') != "" ? $req->post('pos') : $_item->pos ?>" /></td>
                <td align="right" style="width: 100px;">Trạng thái :</td>
                <td><input type="checkbox" name="status" <?php echo $_item->status || $req->post('status') != "" ? "checked" : "" ?> /> <i>(Tích chọn để cho phép hiển thị)</i></td>
            </tr>
            <tr>
                <td align="right">Kiểu sản phẩm :</td>
                <td colspan="">
                    <input type="checkbox" name="is_new" <?php echo $_item->is_new || $req->post('is_new') != "" ? "checked" : "" ?> /> Sản phẩm mới
                    <br/>
                    <input type="checkbox" name="is_front" <?php echo $_item->is_front || $req->post('is_front') != "" ? "checked" : "" ?> /> Sản phẩm nổi bật
                </td>
                <td align="right">Tồn kho:</td>
                <td>
                    <input type="text" name="instock" value="<?php echo $req->post('instock') != "" ? $req->post('instock') : $_item->instock ?>" style="width: 50px;" /> sản phẩm
                </td>
            </tr>
            <tr>
                <td align="right">Mô tả :</td>
                <td colspan="3">
                    <textarea name="brief" id="brief" style="width: 700px;"><?php echo $req->post('brief') != "" ? $req->post('brief') : $_item->brief ?></textarea>
                </td>
            </tr>
            <tr>
                <td align="right">Chi tiết sp :</td>
                <td colspan="3">
                    <textarea name="des" id="des" style="width: 700px; height: 400px;"><?php echo $req->post('des') != "" ? $req->post('des') : $_item->des ?></textarea>
                </td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    <input type="submit" value="<?php echo $id == 0 ? "Thêm mới" : "Cập nhật" ?>" />
                    <input type="reset" value="Làm mới" />
                </td>
                <td colspan="2"></td>
            </tr>
        </table>
    </form>
</div>

<script type="text/javascript" src="admin/js/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
    tinyMCE.init({
        // General options
        mode : "exact",
        elements : "des",
        theme : "advanced",
        plugins : "autolink,lists,spellchecker,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,imagemanager",

        // Theme options
        theme_advanced_buttons1 : "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleselect,formatselect,fontselect,fontsizeselect",
        theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
        theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
        theme_advanced_buttons4 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,spellchecker,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,blockquote,pagebreak,|,insertfile,insertimage",
        theme_advanced_toolbar_location : "top",
        theme_advanced_toolbar_align : "left",
        theme_advanced_statusbar_location : "bottom",
        theme_advanced_resizing : true,
        relative_urls : false,
        
        // Example content CSS (should be your site CSS)
        content_css : "css/content.css",

        // Drop lists for link/image/media/template dialogs
        template_external_list_url : "lists/template_list.js",
        external_link_list_url : "lists/link_list.js",
        external_image_list_url : "lists/image_list.js",
        media_external_list_url : "lists/media_list.js",
        
        // Style formats
        style_formats : [
            {title : 'Bold text', inline : 'b'},
            {title : 'Red text', inline : 'span', styles : {color : '#ff0000'}},
            {title : 'Red header', block : 'h1', styles : {color : '#ff0000'}},
            {title : 'Example 1', inline : 'span', classes : 'example1'},
            {title : 'Example 2', inline : 'span', classes : 'example2'},
            {title : 'Table styles'},
            {title : 'Table row 1', selector : 'tr', classes : 'tablerow1'}
        ],
        // Replace values for the template plugin
        template_replace_values : {
            username : "Some User",
            staffid : "991234"
        }
        
    });
    
    // simple style
    tinyMCE.init({
        // General options
        mode : "exact",
        elements : "brief",
        theme : "simple",
        // Replace values for the template plugin
        template_replace_values : {
            username : "Some User",
            staffid : "991234"
        }
        
    });
    
    // tinyMCE.removeMCEControl(tinyMCE.getEditorId('abc'));
    $(document).ready(function(){
        $('.datepicker').datepicker(); 
    });
</script>