<div>
	<?php if ($pagination->showTotalPage) :?>
	<p><?php echo $pagination->total?> / <?php echo $pagination->totalPage?> trang</p>
	<?php endif; ?>
	<ul>
		<?php if ($pagination->currentPage != 1) :?>
		<li><a href="<?php echo $pagination->createLink(1); ?>">&laquo; Đầu</a></li>
		<?php endif; ?>
		<?php if ($pagination->currentPage > 1) : ?>
		<li><a href="<?php echo $pagination->createLink($pagination->currentPage - 1); ?>">&lt;</a></li>
		<?php endif; ?>
		<?php if ($pagination->startPage > 2) :?>
			<li><span>...</span></li>
		<?php endif ;?>
		<?php for ($i = $pagination->startPage; $i <= ($pagination->startPage + $pagination->numPageShow - 1) && ($i <= $pagination->totalPage); ++$i) : ?>
			<?php if ($i == $pagination->currentPage) : ?>
				<li><span><?php echo $i; ?></span></li>
			<?php else : ?>
				<li><a href="<?php echo $pagination->createLink($i); ?>"><?php echo $i; ?></a></li>
			<?php endif; ?>
		<?php endfor; ?>
		<?php if ($i< $pagination->totalPage) : ?>
			<li><span>...</span></li>
		<?php endif; ?>
		<?php if ($pagination->currentPage < $pagination->totalPage) : ?>	
		<li><a href="<?php echo $pagination->createLink($pagination->currentPage + 1); ?>">&gt;</a></li>
		<?php endif; ?>
		<?php if ($pagination->currentPage != $pagination->totalPage) : ?>
		<li><a href="<?php echo $pagination->createLink($pagination->totalPage); ?>">Cuối &raquo;</a></li>
		<?php endif; ?>
	</ul>	
</div>
