<?php
/* 
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */

?>

<div>
    <div style="margin-top: 10px;">
        <a class="add-new" href="?com=item_category&act=edit" title="Thêm mới" style="float: right;">Thêm mới</a>
    </div>
    
    <div id="paging" class="grid_24 mar-5-0">
        <div id="paging-content" class="grid_12 alpha prefix_12">
            <div class="right">
                <?php echo $pagination; ?>
            </div>
        </div>
    </div>
    
    <div class="box-body-content grid_24">
        <table cellspacing="0" style="width: 100%">
            <tr>
                <th>STT</th>
                <th>Tên danh mục</th>
                <th>Danh mục cha</th>
                <th>Vị trí</th>
                <th>Ngày tạo</th>
                <th>Trạng thái</th>
                <th style="width: 80px;">#</th>
            </tr>
            <?php
            $arr_status = array('Ẩn', "Hiển thị");
            if(!empty($_cateList)) {
                $inc = ($_page - 1) * $_perPage;
                foreach($_cateList as $k => $v) {
                    $inc++;
                    ?>
            <tr>
                <td><?php echo $inc; ?></td>
                <td><?php echo $v['title'] ?></td>
                <td><?php echo array_key_exists($v['pid'], $_allCate) ? $_allCate[$v['pid']]['title'] : "---"; ?></td>
                <td><?php echo $v['pos'] ?></td>
                <td><?php echo date("d/m/Y H:i:s", $v['created_time']) ?></td>
                <td><?php echo $arr_status[$v['status']] ?></td>
                <td align="center">
                    <a href="?com=item_category&act=edit&id=<?php echo $v['id'] ?>" title="Edit">Edit</a>
                    | <a href="?com=item_category&act=del&id=<?php echo $v['id'] ?>" title="delete">Delete</a>
                </td>
            </tr>
            <?php
                }
            }
            ?>
        </table>
    </div>
    
    <div id="paging" class="grid_24 mar-5-0">
        <div id="paging-content" class="grid_12 alpha prefix_12">
            <div class="right">
                <?php echo $pagination; ?>
            </div>
        </div>
    </div>
    
</div>