<?php

/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */
$req = Flywheel_Factory::getRequest();
$id = $req->get('id', Flywheel_Filter::TYPE_INT, 0);

?>

<style type="text/css">
    table td { border-right: 0 !important; }
    .required { color: red; }
</style>

<div class="box-body-content grid_24" style="margin-top: 10px; padding: 10px;">
    <h3><?php echo $id == 0 ? "Thêm mới" : "Cập nhật" ?> danh mục</h3>
    <?php 
    echo !$_result['status'] ? '<h5 style="color: red; padding: 2px; border: 1px solid; width: 60%; text-align: center;">' . $_result['msg'] . '</h5>' 
            : (!empty($_result['msg']) ? '<h5 style="color: green; padding: 2px; border: 1px solid; width: 60%; text-align: center;">' . $_result['msg'] . '</h5>' : "");
    ?>
    <form action="" method="post" name="frm_category">
        <table cellspacing="0" width="80%">
            <tr>
                <td align="right">Tên danh mục <span class="required">(*) :</span></td>
                <td><input type="text" class="text-field large" name="title" value="<?php echo $req->post('title') != "" ? $req->post('title') : $_item->title ?>" /></td>
            </tr>
            <tr>
                <td align="right">Danh mục cha <span class="required">(*) :</td>
                <td><?php echo $_cateSelect ?></td>
            </tr>
            <tr>
                <td align="right">Miêu tả :</td>
                <td>
                    <textarea name="des" style="width: 80%; height: 80px;"><?php echo $req->post('des') != "" ? $req->post('des') : $_item->des ?></textarea>
                </td>
            </tr>
            <tr>
                <td align="right">Từ khóa :</td>
                <td><input type="text" class="text-field large" name="tags" value="<?php echo $req->post('tags') != "" ? $req->post('tags') : $_item->tags ?>" /></td>
            </tr>
            <tr>
                <td align="right">Vị trí hiển thị :</td>
                <td><input type="text" class="text-small" name="pos" value="<?php echo $req->post('pos') != "" ? $req->post('pos') : $_item->pos ?>" /></td>
            </tr>
            <tr>
                <td align="right">Trạng thái :</td>
                <td><input type="checkbox" name="status" <?php echo $req->post('status') != "" || $_item->status ? "checked" : "" ?> /></td>
            </tr>
            <tr>
                <td align="center" colspan="2"><input type="submit" value="<?php echo $id == 0 ? "Thêm mới" : "Cập nhật" ?>" /></td>
            </tr>
        </table>
    </form>
</div>