/* 
    Document   : style
    Created on : Mar 24, 2013, 8:51:49 AM
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
div.wrapper {
    margin: auto; width: 1000px;
    box-shadow: 0 0 2px 1px #BBB;
}
#body { padding: 5px;}

/* ------------- Topbar ---------------- */
div.topbar {
    overflow: auto;
}
h1.logo { }
h1.logo a { 
    background: url("../img/logo.png") no-repeat scroll left center transparent;
    display: block; height: 85px; text-indent: -1000px; width: 330px;
}
/* -------------- Menu style ----------------- */
div.menu-style {
    background: #1E8058;
    font-weight: bold; 
    height: 28px;
    position: relative;
    text-transform: uppercase;
}
div.menu-style li { float: left; padding: 6px 0; border-right: 1px solid #F1F1F1; }
div.menu-style li.last { border-right: 0; }
div.menu-style li a { color: #FFF; padding: 5px 15px; }
div.menu-style ul.child { display: none; }
div.menu-style li.active, div.menu-style li:hover { background: #FF5A00 !important; }
div.menu-style li.cart { float: right;}
div.menu-style li.cart a {
     width: 20px; height: 16px; border: 1px solid #1E8058; background: url('../img/cart_1.gif') no-repeat; position: relative; padding: 0; left: -10px; cursor: pointer; display: block; font-size: 0;
}
div.menu-style li:hover { background:#1E8058; }
div.menu-style li.cart:hover { background: none repeat scroll 0 0 #1E8058 !important; }
div.menu-style li.cart:hover a { border-color: #DDD; }
/*
div.menu-style ul.main { }
ul.main li:hover ul.child { display: block; }
div.menu-style ul.child {
    background: none repeat scroll 0 0 #1E8058; border-top: 1px solid #FFFFFF; position: absolute; top: 37px;
}
div.menu-style ul.child li { float: none; width: 200px; text-transform: none; }
*/

/* ------------ Browse left ---------------- */
div.browse-left { background: #E9EFF6; width: 200px; }
div.browse-left h2 { background: #FF5A00; color: #FFF; text-transform: uppercase; padding: 5px; }
div.browse-left h3 { background: #1E8058; padding: 7px 5px 7px 10px; border-bottom: 1px solid #DDD; }
div.browse-left h3 a { color: #FFF; }
div.browse-left li { padding: 5px 0 5px 15px; border-bottom: 1px solid #DDD; }
div.browse-left li a { padding: 5px; }
div.browse-left li.active a, div.browse-left li a:hover { color: #FF5A00 !important;}

/* ------------ Main content -------------- */

/* !!!!!!!!!!! Home !!!!!!!!!! */
.breadcrumb {
    font-size: 14px;
    border-bottom: 1px solid #DDD;
    padding: 5px 0;
}
.main-content { margin-left: 5px; width: 580px; }
span.price { float: left; }
span.remain { float: right; }
span.price span, span.remain span { color: red; font-weight: bold; }
.items { overflow: hidden; }
.items li h2 { background: none repeat scroll 0 0 transparent; font-weight: normal; height: 32px; margin-bottom: 5px; overflow: hidden; padding: 0; text-transform: none;}
h2.tab {  
    background: none repeat scroll 0 0 #EBF2F6; border-bottom: 1px solid #D5E2E7; padding: 5px; text-transform: uppercase; 
}
.items img { width: 125px; height: 150px; }
.items li { display: inline-block; border: 1px solid #DDD; margin: 5px 4px; padding: 5px !important; text-align: center; width: 170px; background: #FFF; }
.items li:hover { border-color: #FF5A00; }
/* Slideshow CSS */
div.main-slide { height: 180px !important; text-align:left; margin: 0; padding:0; }
#bigPic { }
#bigPic img{ position:absolute; display:none; width: 580px; height: 180px; }
.thumbpic { 
    background: url("../img/bg-banner.png") repeat scroll 0 0 transparent;
    margin-top:160px;  position:absolute;  z-index:2; width: 580px;
}
ul#thumbs li.active{ background: gray; }
ul#thumbs, ul#thumbs li{ color: white; margin:0; padding:0; }
ul#thumbs li{ float:left; margin-right:7px; padding:2px 8px; cursor:pointer; }
ul#thumbs img{
    float:left; width:80px; height:80px;
    line-height:80px; overflow:hidden; position:relative; z-index:1;		
}
/* Items new */
.items.new h2.tab div { 
    background: url('../img/bc-lr.png'); float: right; height: 17px; width: 17px; margin-left: 2px; cursor: pointer;
}
.items.new h2.tab div.act-slide-group { width: auto; height: auto; background: none;}
.items.new h2.tab div:hover { background-position: 0 -17px; }
.items.new h2.tab div.next { background-position: -17px 0; }
.items.new h2.tab div.next:hover { background-position: -17px -17px; }
.items.new ul { overflow: hidden; height: 227px; position: relative; }

/* !!!!!!!!! Detail !!!!!!!!!!!! */
.items-detail { margin-top: 10px; }
.items-detail .img {
    width: 200px;
}
.items-detail .img img { width: 100%; }
.items-detail div.detail { width: 370px; margin-left: 10px; }
.items-detail span.remain { float: none;}
.items-detail .des { padding: 10px 0;}
.items-detail td { padding: 5px; }
.items-detail h2 { font-weight: normal; font-size: 18px; }
.items-detail .price span, .customer_info .price span { font-size: 25px; font-family: serif; font-weight: normal; }
.item_des { padding: 10px 0;}
.item_des h2.tab { text-transform: inherit; margin-bottom: 10px; }
.item_des img { max-width: 580px; }
.items li.none-item { float: none; margin: 5px 0; text-align: left; width: auto; }

/* !!!!!!!!! Browse !!!!!!!!!!!! */

/* -------------- Browse right -------------- */
div.browse-right { background: #E9EFF6; width: 200px; }
div.browse-right h2 { background: #FF5A00; color: #FFF; text-transform: uppercase; padding: 5px; }
div.browse-right ul.ym_nick img { position: relative; top: 5px; width: 80px; }
div.browse-right ul.ym_nick li { padding: 5px 10px;}
span.hotline {  color: red; font-family: Georgia, serif; font-size: 18px; font-weight: bold; }
img.hotline { top: 10px !important; width: auto !important; }
h2.search { margin-top: 20px; }
.widget.search { padding: 5px; }
.widget.search form { margin-bottom: 10px;}
.widget.search h3 { padding: 5px 0;}
.widget.search input.text { width: 150px; }
.widget.search input.button { border: 0 none; width: 27px; text-indent: -100px; background: url('../img/search-icon.png') no-repeat center; cursor: pointer; }
.widget.art img { width: 200px; margin: 5px 0; }
h2.art { margin-top: 20px;}
div.visitor { padding: 5px; font-family: Georgia,serif; font-size: 18px; font-weight: normal; text-align: center; }

/* !!!!!!! Art !!!!!!!!!!!! */
.arts ul { margin-left: 20px; margin-top: 10px; }
.arts li { border-bottom: 1px dotted #DDDDDD; line-height: 18px; list-style: decimal outside none; margin-bottom: 10px; padding-bottom: 5px; }
.arts a { color: #1E8058; }
.arts a.read-more { float: right; }
.no-art { margin-top: 10px; }
h2.title { font-size: 20px; padding: 0 0 10px 0; }
div.excerpt { font-weight: bold; padding: 5px 0; }
.arts.same { margin-top: 20px; margin-bottom: 10px; }
.arts.same li { border: 0 none; margin-bottom: 0; }
.arts.same ul { margin-top: 5px; margin-left: 25px; }
.arts li.no-more { list-style: none; }
.arts .time { font-size: 11px; color: #777; font-style: italic; font-weight: normal; }

/* !!!!!!!!!!!! Cart !!!!!!!!!!!!!!!!!!! */
div.cart table {
    border: 1px solid #DDD;
    margin-top: 10px;
    width: 100%; 
}
.continue-buy { padding: 10px; text-align: right; }
div.cart input.amount { width: 30px; }
div.cart td, div.cart th { padding: 5px; text-align: center; vertical-align: top; line-height: 20px; }
div.cart th { background: #F1F1F1; }
div.cart td { border-bottom: 1px dotted #DDD; }
div.cart tr.last td { border: 0 none; }
div.customer_info { margin-top: 20px;}
div.customer_info td { padding: 5px;}
div.customer_info td input.text { width: 250px;}
div.customer_info td.label { text-align: right; }
div.customer_info td textarea { resize: none; width: 350px; height: 80px;}
.order_notify { margin-top: 10px; font-style: italic; text-align: right; }

/* --------------- Footer ---------------------- */
#footer { background: none repeat scroll 0 0 #1E8058; text-align: center; color: #FFF; padding: 10px; }