/* 
    Document   : sys
    Created on : Mar 24, 2013, 9:15:41 AM
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

* { margin: 0; padding: 0; }
body {
    font-size: 12px;
    font-family: Arial,tahoma,sans-serif;
    color: #333;
}
.fl { float: left; }
.fr { float: right; }
.hidden { display: none; }
.show { display: block; }
.require { color: red; }

/* Tag */
a:hover {
    color: #1E8058; text-decoration: none;
}
a, a:active, a:visited {
    color: #444; text-decoration: none;
}
li { list-style: none; }
.clear_fix {
    clear: both;
}
.text {
    border: 1px solid #DDD; padding: 3px;
}
select { border: 1px solid #DDD; padding: 3px; }
hr { border-color: #DDD; }
h1, h2, h3, h4, h5 { color: #444; }
h2 { font-size: 13px; }
h3 { font-size: 12px; }
