<div id="body"class="container_24">

    <div class="grid_10 title-box-body">
        <?php if (true === $acl->isNew()) :?>
        <span>Thêm quyền mới  </span>
        <?php else :?>
        <span> Sửa quyền đã có <?php echo $acl->name; ?></span>
        <?php endif; ?>
    </div>
<div class="clear"></div>
<?php echo $message ?>
<div class="clear"></div>
<form name="create_acl" class="admin-from" method="POST" action="">
 <div class="grid_24 padd-15-0 border">

         <div class="grid_4 padd-5-0">
	        <label class="right"> Tên quyền <span class="required">*</span></label>
         </div>
         <div class="grid_7 padd-5-0">
                <input name="name" type="text"  class="medium" value="<?php echo $acl->name?>" />
                <p class="form-desc">Tên quyền từ 3 tới 16 kí tự, không chưa các kí tự đặc biệt</p>
	    </div>
         <div class="grid_4 padd-5-0">
	        <label class="right"> Alias <span class="required">*</span></label>
         </div>
         <div class="grid_7 padd-5-0">
            <?php if (true === $acl->isNew()): ?>
                <input name="alias" type="text"  class="medium" value="<?php echo $acl->alias?>" />
                <p class="form-desc"> Alias chỉ bao gồm các kí tự (0-9)(a-z)_</p>
            <?php else : ?>
                <h4><?php echo $acl->alias ?></h4>
            <?php endif; ?>
	    </div>


        <div class="clear"></div>


	</div>
    <div class="clear"></div>
    <div class="grid_6 padd-5-0"><input name="save" class="button-content-yell right" value="Lưu" type="submit" /></div>
    <div class="grid_6 padd-5-0"><input name="reset" class="button-content-yell left" value="Làm lại" type="reset" /></div>

    </form>
</div>
