<?php
/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */
?>
<div id="form-add-new-user">
    <script>
        $(function() {
            var i=1;
            var i1 =1;
            var j=1;
            var j1 =0;
             countClassForm('email');
            countClassForm('address');
             // add ad remove email form class
             $('#new-email').live('click',function () {

                 newForm('email','');
                 if (i > 1) {
                    j=i;
                    // Visile form
                    visibleForm('email');
                    // delete form input email
                    removeForm('email',''); }

            });
            // add ad remove address form class
             $('#new-address').live('click',function () {
                 newForm('address','province');
                 if (i1 > 1) {
                    j1=i1;
                    // Visile form
                    visibleForm('address');
                    // delete form input
                    removeForm('address','other'); }

            });

            // add new form
            function newForm(class_name,other_class){
                 if(other_class=="") {
                     i++;
                     $('.new_'+class_name).append('<div class="'+class_name+' new-'+class_name+'-'+i+'">'
                                        + '<label>'+class_name +' ' + i +'</label>'
                                        +'<input type="text" name="'+class_name+'_' + i +'" >'
                                        +'Main '+ class_name
                                        +'<input type="radio" name="main_'+ class_name +'" class="radio" value="'+i+'">'
                                        +'<select name="email_'+i+'_status">'
                                        +'<option value="0" selected>Inactive</option>'
                                        +'<option value="1" >Active</option>'
                                        +'</select>'
                                        +'</div>');
                    }
                else {
                    i1++;
                    var other_form='<label>'+other_class +' ' + i1 +'</label><input type="text" name="'+other_class+'_' + i1 +'" >';
                    $('.new_'+class_name).append('<div class="'+class_name+' new-'+class_name+'-'+i1+'">'
                                        + other_form
                                        + '<label>'+ class_name +' ' + i1 +'</label>'
                                        +'<input type="text" name="'+class_name+'_' + i1 +'" >'
                                        +'Main '+ class_name
                                        +'<input type="radio" name="main_'+ class_name +'" class="radio" value="'+i1+'">'
                                        +'</div>');
                  }
                  // get number of form class
                  countClassForm(class_name);
            }
            function removeForm(class_name,other_class) {
                         // delete form input
                         $('#del-'+class_name).live('click',function () {

                             if (other_class ==''){
                                  $('.new-'+class_name+'-'+j).remove();
                                  j--;
                                  i = 1;}
                             else {
                                 $('.new-'+class_name+'-'+j1).remove();
                                 j1--;
                                 i1 = 1;}
                             // get number of form class
                             countClassForm(class_name);
                         });
            }
            function visibleForm(class_name){
                $('#del-'+class_name).css('visibility','visible');
            }
            // function update form
            function countClassForm(class_name) {
                 var count = $('.'+class_name).length;
                 $('#'+class_name+'-count').attr({value : count});
            }
         });

     </script>
    <form action="<?php echo Flywheel_Factory::getDocument()->getPublicPath(); ?>admin.php?com=acl&act=new" method="post">

        <p><?php echo $test; ?><i><?php echo $error; ?></i></p>
        <div id="importion-info">
            <label>Tên quyền:</label>
            <input type="text" name="name" >
        </div>
        <div>
            <label>Alias:</label>
            <input type="text" name="alias" >
        </div>
        <div id="form-submit">
            <input type="reset" name="reset" value="Reset">
            <input type="submit" name="submit" value="Submit">
        </div>
    </form>
</div>