<style>
   input.small{
      width: 100%;
   }
   .text-field{
      width: 66%;
   }
   .label_user{
      text-align: right;
      margin-right: 10px;
   }
   input {
       background: none;
   }
   td,th{
       padding: 5px;
   }
</style>
<div>
   <?php if(isset($message)) {
        echo $message;
    }?>
    
</div>
                                       
<table>
    <tr>
        <td>Danh sách Shop</td>
        <td>
            <input type="hidden" id="ctv_user_id" value="<?php echo $user_id?>" />
            <select style="width:200px" multiple="multiple" name="shop_list" id="shop_list">
                <?php
                if(!empty($shop_list))
                {
                    foreach($shop_list as $shop)
                    {
                        ?>
                        <option value="<?php echo $shop['id']?>"><?php echo $shop['name']?></option>
                        <?php
                    }
                }
                ?>
            </select>
        </td>
    </tr>
    
    <tr><td><input type="button" name="assign-ok" id="assign-ok" value="Cập nhật" /></td><td></td></tr>
</table>
<script>

</script>