<?php
   $public_path = Flywheel_Factory::getDocument()->getPublicPath();
   $base_url = Flywheel_Factory::getDocument()->getBaseUrl();
?>
<style>
   td,th{
      vertical-align: top;
      text-align: left;
      padding:5px;
   }
   .input-field{
      width: 196px;
   }
</style>         
<div class=" grid_10 title-box-body">
    <span>Kết quả lấy sản phẩm</span>
</div>
    <?php if(isset ($message)) {
                    echo $message;
                }?>
    <div class="clear"></div>
    <form class="user_frm" method="GET" action="">

<div class="grid_24 add-new-button mar-5-0 clearfix" style="margin: 5px 5px;">
   <!--input style="border-radius:0px;cursor: pointer;font-weight: bold;color:blue;" type="button" class="search-button" value="Tìm kiếm"/>
   <input type="reset" style="border-radius:0px;cursor: pointer;font-weight: bold;color:blue;" class="cancel-button" value="Hủy tìm kiếm"/>
   <a style="border-radius:0px;" href="<?php echo $base_url?>?com=user&act=new"><b>Thêm mới</b></a>
   <a class="all_user" style="border-radius:0px;" href="<?php echo $base_url?>?com=user"><b>Tất cả nhân viên</b></a-->
   <span>Ngày:<input name="time" id="time_search" value="<?php echo $time?>" class="input-field datepicker"/> <input id="button_search" type="button" value="Tìm kiếm" /></span>
   <span style="float: right;margin-top: 5px;"><em>Tìm thấy <b style="color: red;"><?php echo count($users);?></b> bản ghi thỏa mãn điều kiện</em></span>
</div>
 </form>    
<div class="box-body-content grid_24 user ">
    <table class="admin-table user" style="border-bottom: 1px solid #D2D2D2;" width="100%;" border="0" cellspacing="0" cellpadding="0">
        <tr>
           <th width="3%"><input type="checkbox" class="user_checkbox_all"/></th>
            <th width="7%">Ngày bắt đầu</th>
            <th width="13%">Username</th>
            <th width="">Họ tên</th>
            <th width="15%">Danh sách Shop</th>
            <th width="15%">Tổng số SP đã lấy </th>
            <!--th width="8%">Thao tác</th-->          
        </tr>
        <?php
            if ($users) {
            foreach ($users as $user) {
         ?>
        <tr class="alt">
           <td><input type="checkbox" value="<?php echo $user['id'];?>" class="user_checkbox"/></td>
            <td align="center">
               <p><em><?php echo date('d/m/Y', $user['time_join']); ?></em></p>
            </td>
            <td>
               <p><a href="#"><?php echo $user['username'];?></a></p>
            </td>
            <td>
                <p>
                    <?php
                        echo $user['fullname'];
                    ?> 
                </p>
                <form action="admin.php?com=user&act=crawler_manager" method="post">
                        <input type="hidden" name="com" value="user">
                        <input type="hidden" name="act" value="crawler_manager">
                        <input type="hidden" name="crawler_username" value="<?php echo $user['username']?>">
                      <input type="submit" value="DOWNLOAD FILE ADD-ON LƯU KHO" style="padding:5px;font-size:10px;font-weight:bold" />
                </form>
            </td>
            <td align="center">
               <p id="list_shop_<?php echo $user['id']?>" style="color: blue;">
                    <?php
                    if(isset($user_shop_ids[$user['id']]))
                    {
                        $shop_ids= $user_shop_ids[$user['id']];
                        
                        if(!empty($shop_ids))
                        {
                            foreach($shop_ids as $shop_id)
                            {
                                $item_num=(isset($num_items_user[$shops[$shop_id]['user_id']])?$num_items_user[$shops[$shop_id]['user_id']]:0);
                                echo $shops[$shop_id]['username'].' <font color="red">'.$item_num.'</font> (<a user-id="'.$user['id'].'" shop-url="'.$shops[$shop_id]['url'].'" shop-id="'.$shop_id.'" class="remove_shop" href="javascript:void()">x</a>)<br/>';
                            }
                        }
                    }
                    ?>
               </p>
               <a href="javascript:;"  user_name="<?php echo $user['username'];?>" class="process_content" user_id="<?php echo $user['id'];?>">Thêm shop</a>
            </td>
            <td>
               <p>
                    <?php
                    $num=0;
                    
                   /* if(isset($user_shop_ids[$user['id']]))
                    {
                        $shop_ids= $user_shop_ids[$user['id']];
                    
                        if(!empty($shop_ids))
                        {
                            foreach($shop_ids as $shop_id)
                            {
                                $shop=$shops[$shop_id];
                                $num+=(isset($amounts[$shop['user_id']])?intval($amounts[$shop['user_id']]):0) ;
                            }
                        }
                    }*/
                    $num+=(isset($amounts[$user['id']])?intval($amounts[$user['id']]):0) ;
                    echo $num;
                    ?>
               </p>
            </td>
            <!--td>
            </td-->
              
           </tr>
       <?php
            }
           }
        ?>
    </table>
   
      <div class="clear" style="margin-bottom: 6px;"></div>
      
       <div id="paging-content" class="clearfix">
           <div class="grid_14 omega right">
               <?php echo $pagination; ?>
           </div>        
       </div>
      
</div>
<div class="box-process-content" id="box-process-content" style="display: none;">  
</div> 

<script>
    $(document).ready(function(){
        $('.box-process-content').dialog({
            title: 'THÊM SHOP CẦN LẤY',
            modal: true,
            autoOpen: false,
            width: 450
        });
        $('.process_content').click(function(){
            
            $.post(base_url + '?com=user&act=assign_shop_for_crawler', {'user_id':$(this).attr('user_id'),'user_name':$(this).attr('user_name')}, function(data) {
                $('#box-process-content').html(data);
                $(".box-process-content").dialog('open');
            });
            
        });
        $('#button_search').click(function(){
            
            var time=$('#time_search').val();
            var url = base_url + '?com=user&act=crawler_manager&time='+time;
            window.location.href=url;            
        });
        $('.remove_shop').live('click',function(){
            var url = $(this).attr('shop-url').toUpperCase();
            var user_id = $(this).attr('user-id');
            var shop_id = $(this).attr('shop-id');
            
            if(confirm('Bạn có muốn gỡ bỏ shop '+url+' khỏi danh sách shop của user này?'))
            {
                $.post(base_url + '?com=user&act=remove_shop_for_crawler', {'user_id':user_id,'shop_id':shop_id}, function(data) {
                      alert('Gỡ shop thành công!');
                      $('#list_shop_'+user_id).html(data);
                }); 
            }
        });
        $("#assign-ok").live('click', function(){
            var list_id =$('#shop_list').val();
            var user_id =$('#ctv_user_id').val();
            
            if(list_id==null)
            {
                alert('Bạn chưa chọn shop nào.');
                return;    
            }
            
            $.post(base_url + '?com=user&act=add_shop_for_crawler', {'list_id':list_id,'user_id':user_id}, function(data) {
                alert('Gán Shop cho nhân viên thành công.');
                window.location.reload();
            });
        });
    });
</script>
