<?php
$public_path= Flywheel_Factory::getDocument()->getPublicPath();
$base_url   = Flywheel_Factory::getDocument()->getBaseUrl();
$request    = Flywheel_Factory::getRequest();
?>

<style>
    td,th{
        vertical-align: top;
        text-align: left;
        padding:5px;
    }
    .input-field{
        width: 196px;
    }
</style>         

<div class=" grid_10 title-box-body">
    <span>Danh sách nhân viên</span>
</div>

<div class="clear"></div>
<?php
if (isset($message)) {
    echo $message;
}
?>

<div class="clear"></div>

<form id="frmSearch" class="user_frm" method="GET" action="admin.php?com=user">
    <input type="hidden" value="user" name="com" />
    <div class="grid_24 border" style="width: 99%;border: 1px solid outset;">
        <table style="width: 100%;margin-top: 15px;">
            <tr>
                <td>Tên đăng nhập</td>
                <td><input name="username" class="input-field" value="<?php echo $request->get('username'); ?>"/></td>
                <td>Họ và tên</td>
                <td><input name="fullname" class="input-field" value="<?php echo $request->get('fullname'); ?>"/></td>
                <td>Email</td>
                <td><input name="email" class="input-field" value="<?php echo $request->get('email'); ?>"/></td>
            </tr>
            <tr>
                <td>Số điện thoại</td>
                <td><input name="mobile" class="input-field" value="<?php echo $request->get('mobile'); ?>"/></td>
                <td>Tài khoản NL</td>
                <td><input name="acc_nl" class="input-field" value="<?php echo $request->get('acc_nl'); ?>"/></td>
                <td>Tài khoản BK</td>
                <td><input name="acc_bk" class="input-field" value="<?php echo $request->get('acc_bk'); ?>"/></td>
            </tr>
            <tr>
                <td>Tham gia từ</td>
                <td><input name="time_join_from" class="input-field datepicker" value="<?php echo $request->get('time_join_from'); ?>"/></td>
                <td>Đến</td>
                <td><input name="time_join_to" class="input-field datepicker" value="<?php echo $request->get('time_join_to'); ?>"/></td>
                <td>Trạng thái</td>
                <td>
                    <select name="status" style="height: 24px;width: 200px;">
                        <option>Tất cả</option>
                        <option value="1">Mở</option>
                        <option value="2">Khóa</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>

    <div class="clear"></div>

    <div class="clear"></div>
    <div class="grid_24 add-new-button mar-5-0 clearfix" style="margin: 15px 5px;">
        <input style="border-radius:0px;cursor: pointer;font-weight: bold;color:blue;" 
               type="button" class="search-button" onclick="$('#frmSearch').submit()" value="Tìm kiếm"/>
        <input type="reset" style="border-radius:0px;cursor: pointer;font-weight: bold;color:blue;" 
               class="cancel-button" value="Hủy tìm kiếm"/>
        <a style="border-radius:0px;" href="<?php echo $base_url ?>?com=user&act=new"><b>Thêm mới</b></a>
        <a class="all_user" style="border-radius:0px;" href="<?php echo $base_url ?>?com=user&is_staff=1"><b>Tất cả nhân viên</b></a>
        <a class="syn-button" style="border-radius:0px;" href="<?php echo $base_url ?>?com=user&act=syn_gm_user"><b>Đồng bộ người dùng GM</b></a>
        <span style="float: right;margin-top: 15px;">
            <em>
                Tìm thấy <b style="color: red;"><?php echo ($total); ?></b> bản ghi thỏa mãn điều kiện
            </em>
        </span>
    </div>

    <div class="clear"></div>
    <div class="box-body-content grid_24 user ">
        <table class="admin-table user" style="border-bottom: 1px solid #D2D2D2;" width="100%;" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <th width="3%"><input type="checkbox" class="user_checkbox_all"/></th>
                <th width="7%">Ngày tạo</th>
                <th width="13%">Tên đăng nhập</th>
                <th width="">Họ tên</th>
                <th width="15%">Email</th>
                <th width="15%">Số di động</th>
                <th width="15%">Tình trạng</th>
                <th width="12%">Thao tác</th>          
            </tr>
            <?php
            $base_url = Flywheel_Factory::getDocument()->getPublicPath();
            if ($users) {
                $buyer_ids = array();
                foreach ($users as $user) {
                    $buyer_ids[] = $user['id'];
                }
                $complain_num = ItemComplainPeer::countBuyerIds($buyer_ids);
                foreach ($users as $user) {
                    ?>
                    <tr class="alt">
                        <td><input type="checkbox" value="<?php echo $user['id']; ?>" class="user_checkbox"/></td>
                        <td align="center">
                            <p><em><?php echo date('d/m/Y', $user['time_join']); ?></em></p>
                        </td>
                        <td>
                            <p><a href="#"><?php echo $user['username']; ?></a></p>
                            <p><?php
                        if ($user['is_staff'] == 1) {
                            // echo '<em>Nhân viên</em>';
                        } else {
                            $_shop = new ShopInfo;
                            $_shop->readByUser($user['id']);

                            if ($_shop->id > 0) {
                                echo '<em>shop: <a href="' . $base_url . $_shop->url . '" style="color: blue;">' . ($_shop->name ? $_shop->name : $_shop->url) . '</a></em>';
                            } else {
                                echo '<em class="red">Chưa có shop</em>';
                            }
                        }
                        //get Mktt
                        //add Dunglv

                        echo '<div class="clearfix"></div>';
                        $account = UserPaymentPassword::getByUserId($user['id']);
                        if ($account['status_verify'] == 1) {
                            echo 'MKTT: <font class="red">' . $account['password'] . '</font>';
                        }
                        echo '<div class="clearfix"></div>';
                        if (trim($account['key_verify']) != '') {
                            echo 'Verify Code: <font class="red">' . $account['key_verify'] . '</font>';
                        }
                        echo '<div class="clearfix"></div>';
                        if (isset($complain_num[$user['id']])) {
                            echo 'Số khiếu nại: <font class="red">' . $complain_num[$user['id']] . '</font>';
                        }
                        ?>
                            <div class="clearfix"></div>
                            <!-- mã order của user -->
                            <?php
                            if (!$user['code']) {
                                echo '<a href="javascript:;" class="view_order_code" code="" user_id="' . $user['id'] . '" style="color: blue;">Tạo mã Order</a>';
                            } else {
                                echo 'Mã Order: <strong>' . $user['code'] . '</strong><br/>';
                                echo '<a href="javascript:;" class="view_order_code" code="' . $user['code'] . '" user_id="' . $user['id'] . '" style="color: blue;">Edit</a>';
                            }
                            ?>

                            </p>
                            <p>
                                <?php
                                if (intval($user['is_auto_create']) == 1) {
                                    echo '<em>(Tạo tự động)</em>';
                                }
                                ?>
                            </p>

                        </td>
                        <td>
                            <p>
                                <?php
                                echo $user['fullname'];
                                ?> 
                            </p>
                        </td>
                        <td align="center">
                            <p style="color: blue;"><?php echo $user['email']; ?></p>
                            <p style="color: green;">
                                <?php echo $user['detail_address'] . '<br/>'; ?>
                                <?php
                                if (intval($user['qh_id']) > 0) {
                                    echo $user['qh_address'] . '<br/>';
                                }
                                if (intval($user['tt_id']) > 0) {
                                    echo $user['tt_address'] . '<br/>';
                                }
                                ?>
                            </p>
                        </td>
                        <td>
                            <p><?php echo $user['mobile']; ?></p>
                            <p><?php echo $user['phone']; ?></p>
                        </td>
                        <td>
                            <div class="user_active_info" user_id="<?php echo $user['id']; ?>">
                                <?php
                                if (!$user['active'] or $user['active'] == 0) {
                                    echo '<p>Chưa kích hoạt Email</p>';
                                    ?>
                                    <a class="button user_active" user_name="<?php echo $user['username']; ?>" user_id="<?php echo $user['id']; ?>" href="javascript:;" style="background: #3DB23F;color: #fff;cursor: pointer;">Kích hoạt</a>
                                    <a class="button user_delete" user_id="<?php echo $user['id']; ?>" href="javascript:;" style="background: red;color: #fff;cursor: pointer;margin-left: 2px">Xóa</a>
                                    <?php
                                } else {
                                    echo '<p style="color:green;">Đã kích hoạt Email</p>';
                                }
                                ?>
                            </div>
                            <div class="user_lock_info" user_id="<?php $user['id']; ?>">
                                <?php
                                if ($user['lock_status'] == 1) {
                                    ?>
                                    <p style="color:orange;" title="<?php echo $user['lock_reason']; ?>">Bị khóa từ <?php echo date("d/m/Y", $user['lock_time_begin']); ?> đến <?php echo date("d/m/Y", $user['lock_time_end']); ?> </p>
                                    <?php
                                } else if ($user['lock_status'] == 2) {
                                    ?>
                                    <p style="color:red;" title="<?php echo $user['lock_reason']; ?>">Bị khóa vĩnh viễn</p>
                                    <?php
                                }
                                ?>
                            </div>


                        </td>

                        <td>
                            <p>
                                <a href="?com=user&act=edit&id=<?php echo $user['id']; ?>">Chi tiết</a>
                            </p>
                            <p>
                                <a href="javascript:;" curren_lock="<?php echo $user['lock_status'] ?>" user_name="<?php echo $user['username']; ?>" class="lock_account" user_id="<?php echo $user['id']; ?>"><?php if ($user['lock_status'] == 0) {
                            echo 'Lock';
                        } else {
                            echo 'Un_lock';
                        } ?></a>
                            </p>
                            <p>
                                <a href="javascript:;"  user_name="<?php echo $user['username']; ?>" class="reset_pass" user_id="<?php echo $user['id']; ?>">Reset MK</a>
                            </p>
                            <p>
                                <a href="javascript:;" title="Thay đổi kiểu user"  user_name="<?php echo $user['username']; ?>" class="user_type" user_id="<?php echo $user['id']; ?>" is_staff="<?php echo $user['is_staff']; ?>" type="<?php echo $user['type']; ?>">

                                    <?php
                                    if ($user['is_staff'] == 1) {
                                        echo 'Nhân viên công ty';
                                    } else {
                                        echo $user_type[$user['type']];
                                    }
                                    ?>
                                </a>
                            </p>
                            <p>
                                <?php
                                if ($user['is_staff'] == 1) {
                                    ?>
                                    <a href="javascript:;"  user_name="<?php echo $user['username']; ?>" class="process_content" user_id="<?php echo $user['id']; ?>"><?php echo ($user['is_translate_item'] == 0 ? 'Làm xử lý nội dung' : 'Bỏ xử lý nội dung') ?></a>
                                    <?php
                                }
                                ?>
                            </p>
                            <p>
                                <?php
                                if ($user['is_staff'] == 1) {
                                    ?>
                                    <a href="javascript:;"  user_name="<?php echo $user['username']; ?>" class="make_promotion" user_id="<?php echo $user['id']; ?>"><?php echo ($user['is_make_promotion'] == 0 ? 'Làm Promotion' : 'Bỏ làm Promotion') ?></a>
                                    <?php
                                }
                                ?>
                            </p>
                            <p>
                                <?php
                                if ($user['is_staff'] == 1) {
                                    ?>
                                    <a href="javascript:;"  user_name="<?php echo $user['username']; ?>" class="make_crawler" user_id="<?php echo $user['id']; ?>"><?php echo ($user['is_crawler'] == 0 ? 'Làm NV Crawl' : 'Bỏ NV Crawl') ?></a>
                                    <?php
                                }
                                ?>
                            </p>
                            <p>
                                <?php
                                if ($user['is_staff'] == 1) {
                                    ?>
                                    <a href="javascript:;"  user_name="<?php echo $user['username']; ?>" class="make_maketer_shop" user_id="<?php echo $user['id']; ?>"><?php echo ($user['is_shop_marketer'] == 0 ? 'Làm NV thị trường' : 'Bỏ NV thị trường') ?></a>
                                    <?php
                                }
                                ?>
                            </p> 

                            <div class="lock_account_form" user_id="<?php echo $user['id']; ?>" style="display: none;">
                                <p>
                                    <input type="radio" user_id="<?php echo $user['id']; ?>" class="lock_type" name="lock_type" value="2"/>
                                    Khóa vĩnh viễn
                                </p>
                                <p>
                                    <input type="radio" user_id="<?php echo $user['id']; ?>" class="lock_type" name="lock_type" value="1"/>
                                    Khóa theo thời gian
                                </p>
                                <p class="lock_time">
                                    <span>Từ ngày</span>
                                    <input type="text" user_id="<?php echo $user['id']; ?>" class="datepicker lock_time_begin lock_type_text" style="width: 129px;"/>
                                    <span>Đến ngày</span>
                                    <input type="text" user_id="<?php echo $user['id']; ?>" class="datepicker lock_time_end lock_type_text" style="width: 129px;"/>
                                </p>
                                <p class="lock_reson" user_id="<?php echo $user['id']; ?>">
                                    <textarea class="text_clear lock_type_text" style="width: 96%;">Lý do...</textarea>
                                </p>
                            </div>
                        </td>

                    </tr>
        <?php
    }
}
?>
        </table>

        <div class="clear" style="margin-bottom: 6px;"></div>

        <div id="paging-content" class="clearfix">
            Với những người dùng đã chọn : 
            <select id="user_action_select">
                <option value="0">Không làm gì</option>
                <option value="1">Là nhân viên</option>
                <option value="2">Lock nick</option>
                <option value="3">Xóa</option>
            </select>
            <div class="grid_14 omega right">
<?php echo $pagination; ?>
            </div>        
        </div>

    </div>
    <div class="box-process-content" id="box-process-content" style="display: none;">  
    </div> 
</form>

<div class="user_type_form"  style="display: none;">
    <p> <input type="radio" class="radio_user_type" name="user_type" value="0" id="user_type_0"/><label for="user_type_0">User thường</label></p>
    <p> <input type="radio" class="radio_user_type" name="user_type" value="1" id="user_type_1"/><label for="user_type_1">Kho hàng</label></p>
    <p> <input type="radio" class="radio_user_type" name="user_type" value="2" id="user_type_2"/><label for="user_type_2">Bán hàng</label></p>
    <p> <input type="radio" class="radio_user_type" name="user_type" value="3" id="user_type_3"/><label for="user_type_3">Nhân viên công ty</label></p>
    <br/>
<!--        <p> <input type="checkbox" class="user_is_staff" name="user_is_staff" value="0" id="user_is_staff"/><label for="user_is_staff">Thành viên</label></p>-->
</div>
<div class="form_order_code"  style="display: none;">
    <div class=" ov-fl-auto margin-10">
        Mã Order : <input  name="order_code" style="text-transform: uppercase;" value="" id="order_code" />
    </div>
</div>
<script>
    $(document).ready(function(){
        $('.box-process-content').dialog({
            title: 'GÁN NHÂN VIÊN XỬ LÝ NỘI DUNG',
            modal: true,
            autoOpen: false,
            width: 450
        });
        /* $('.process_content').click(function(){
            
            $.post(base_url + '?com=user&act=assign_shop', {'user_id':$(this).attr('user_id'),'user_name':$(this).attr('user_name')}, function(data) {
                $('#box-process-content').html(data);
                $(".box-process-content").dialog('open');
            });
            
        });*/
        $('.make_promotion').click(function(){
            
            $.post(base_url + '?com=user&act=make_promotion', {'user_id':$(this).attr('user_id'),'user_name':$(this).attr('user_name')}, function(data) {
                alert('Cập nhật thành công!');
                window.location.reload();
            });
            
        });
        $('.make_maketer_shop').click(function(){
            
            $.post(base_url + '?com=user&act=make_shop_marketer', {'user_id':$(this).attr('user_id'),'user_name':$(this).attr('user_name')}, function(data) {
                alert('Cập nhật thành công!');
                window.location.reload();
            });
            
        });
        $('.make_crawler').click(function(){
            
            $.post(base_url + '?com=user&act=make_crawler', {'user_id':$(this).attr('user_id'),'user_name':$(this).attr('user_name')}, function(data) {
                alert('Cập nhật thành công!');
                window.location.reload();
            });
            
        });
        $('.process_content').click(function(){
            
            $.post(base_url + '?com=user&act=make_translate_item', {'user_id':$(this).attr('user_id'),'user_name':$(this).attr('user_name')}, function(data) {
                alert('Cập nhật thành công!');
                window.location.reload();
            });
            
        });
        $("#assign-ok").live('click', function(){
            var list_id =$('#shop_list').val();
            var user_id =$('#ctv_user_id').val();
            
            if(list_id==null)
            {
                alert('Bạn chưa chọn shop nào.');
                return;    
            }
            
            $.post(base_url + '?com=user&act=add_shop', {'list_id':list_id,'user_id':user_id}, function(data) {
                alert('Gán Shop cho nhân viên thành công.');
                $(".box-process-content").dialog('close');
            });
        });
        
        //xu ly order code trong admin
        $(".view_order_code").click(function(){
             
            var code = $(this).attr('code');
            var user_id = $(this).attr('user_id');
            if(code){
                $('#order_code').val(code);
            }
                
            $(".form_order_code").dialog({
                title:'Mã Order',
                width:'430px',
                buttons:{
                    'Cập nhật':function(){
                        var url= base_url+"?com=user&act=order_code";
                        var code_post = $('#order_code').val();
                        if(!code_post){
                            alert('Chưa nhập mã Order');
                            return false;
                        }
                        $.ajax({
                            url:url,
                            type:'POST',
                            async: false,
                            cache: false,
                            data: {'user_id':user_id,'code':code_post},
                            success: function(data){
                                var rs = $.parseJSON(data);
                                //alert("Reset mật khẩu thành công.\n Mật khẩu mới là "+data);return false;
                                if(rs.msg == 'EXIST'){
                                    alert('Mã đơn hàng đã tồn tại.');
                                    return false;
                                }else if(rs.msg == 'ERROR'){
                                    alert('Đã có lôi xẩy ra.');
                                    return false;
                                }else{
                                    alert('Cập nhật mã order thành công');
                                    window.location.reload();
                                    return false;
                                }
                                
                            }
                        });
                          
                    },
                    'Hủy':function(){
                        $(this).dialog("close");
                        $('#order_code').val('');  
                    }
                }
            });
             
              
        });
           
    });
</script>
