<style>
   input.small{
      width: 100%;
   }
   .text-field{
      width: 66%;
   }
   .label_user{
      text-align: right;
      margin-right: 10px;
   }
   input {
       background: none;
   }
   td,th{
       padding: 5px;
   }
</style>
<div>
   <?php if(isset($message)) {
        echo $message;
    }?>
    
</div>
<form class="admin-form" method="POST" action="<?php echo $url_post;?>" >
    <input type="hidden" value="<?php echo $_user->id;?>" name="user_id"/>
    <div class="grid_24">
       <h4>
          <?php
              echo 'Sửa thông tin người dùng: '.$_user->username;
          ?>
       </h4>
       <br/>
        <table cellpadding="5" width="80%" >
            <tr>
               <td class="label_user">Tên đăng nhập<span style="color: red;">*</span></td>
               <td colspan="3">
                   <?php echo "<b>".$_user->username."</b>";?>
                   
                </td>
            </tr>
            <tr>
                <td class="label_user">Email <span style="color: red;">*</span></td>
                <td colspan="3">
                    <?php echo "<b>".$_user->email."</b>";?>
                </td>
            </tr>
            <tr>
                <td class="label_user">Họ và tên <span style="color: red;">*</span></td>
                <td colspan="3">
                    <input name="fullname" type="text" class="text-field" value="<?php echo $_user->fullname?>" />
                </td>
            </tr>
            
           <tr>
               <td class="label_user"></td>
                <td colspan="3" style="vertical-align: top">Dùng để kích hoạt tài khoản.</td>
            </tr>
            <tr>
               <td class="label_user">Số điện thoại  </td>
                <td>
                    <input name="mobile" type="text" class="text-field small"  value="<?php echo $_user->mobile;?>" />
                </td>
                <td style="width:13%;text-align: right;" >Di động  </td>
                <td><input name="phone" type="text" class="text-field small" value="<?php echo $_user->phone;?>" style="width: 40%;" /></td>
                
            </tr>
            <tr>
                <td class="label_user">Địa chỉ </td>
                <td colspan="3">
                   <input name="address" type="text" class="text-field" value="<?php echo $_user->detail_address?>"  />
                </td>
            </tr>
            <tr>
                <td class="label_user">Tỉnh thành </td>
                <td>
                   <select style="width: 98%;" name="state">
                      <option>Chọn một</option>
                      <?php
                           $state = Location::getTt();
                           if($state and !empty($state)){
                              foreach($state as $st){
                              ?>
                              <option <?php if($st['label']==$_user->tt_address){echo 'selected';}?> value="<?php echo $st['label'];?>"><?php echo $st['label'];?></option>
                              <?php
                              }
                           }
                      ?>
                   </select>
                    
                    
                </td>
                <td class="label_user">Quận huyện </td>
                <td>
                   <select style="width: 42%;" name="disctric">
                      <option>Chọn một</option>
                      <?php
                           $disctric = Location::getQh();
                           if($disctric and !empty($disctric)){
                              foreach($disctric as $disc){
                              ?>
                              <option <?php if($disc['label']==$_user->qh_address){echo 'selected';}?> value="<?php echo $disc['label'];?>"><?php echo $disc['label'];?></option>
                              <?php
                              }
                           }
                      ?>
                   </select>
                </td>
            </tr>
            <tr>
                <td class="label_user">Giới tính </td>
                <td colspan="3">
                    <input style="margin-left: 20px;" <?php if($_user->gender==0){echo 'checked';}?> name="gender" type="radio" value="0"/> Nam
                    <input style="margin-left: 30px;" <?php if($_user->gender==1){echo 'checked';}?> name="gender" type="radio" value="1"/> Nữ
                </td>
            </tr>
            <tr>
                <td class="label_user">Ngày sinh </td>
                <td colspan="3">
                    <input name="birthday" value="<?php echo $_user->birthday;?>"  type="text" class="text-field"  />
                </td>
            </tr>
            <tr>
                <td class="label_user">Chứng minh thư nhân dân  </td>
                <td colspan="3">
                    <input name="cmtnd" value="<?php echo $_user->cmtnd;?>" type="text" class="text-field"  />
                </td>
            </tr>
            <tr>
                <td class="label_user" >Số TKNH  </td>
                <td style="width:18%">
                   <input name="bank_account" value="<?php echo $_user->bank_account;?>" type="text" class="text-field small"   />
                </td>
                <td style="width:13%;text-align: right;" >Chủ TK  </td>
                <td ><input name="bank_self" value="<?php echo $_user->bank_self;?>" type="text" class="text-field small" style="width: 40%;" /></td>
            </tr>
            <tr>
                <td class="label_user">Ngân hàng  </td>
                <td>
                    <input name="bank_name" value="<?php echo $_user->bank_name;?>" type="text" class="text-field small"  />
                    
                </td>
                <td style="width:13%;text-align: right;" >Chi nhánh  </td>
                <td><input name="bank_brand" value="<?php echo $_user->bank_brand;?>" type="text" class="text-field small" style="width: 40%;" /></td>
            </tr>
            <tr>
                <td class="label_user">Ngân lượng  </td>
                <td>
                    <input name="acc_nl" value="<?php echo $_user->acc_nl;?>" type="text" class="text-field small"  />
                    
                </td>
                <td style="width:13%;text-align: right;" >Bảo kim  </td>
                <td><input name="acc_bk" value="<?php echo $_user->acc_bk;?>" type="text" class="text-field small" style="width: 40%;" /></td>
            </tr>
            <tr>
                <td class="label_user">YM  </td>
                <td>
                    <input name="yahoo" value="<?php echo $_user->yahoo;?>" type="text" class="text-field small"  />
                </td>
                <td style="width:13%;text-align: right;" >Skype  </td>
                <td><input name="skype" value="<?php echo $_user->skype;?>" type="text" class="text-field small" style="width: 40%;" /></td>
            </tr>
            <tr>
                <td class="label_user">QQ  </td>
                <td>
                    <input name="qq" value="<?php echo $_user->qq;?>" type="text" class="text-field small"  />
                </td>
                <td style="width:13%;text-align: right;" >Aliwangwang(Taobao)   </td>
                <td><input name="alioangoang" value="<?php echo $_user->alioangoang ? $_user->alioangoang : '';?>" type="text" class="text-field small" style="width: 40%;" /></td>
            </tr>
            <tr>
                <td class="label_user">Aliwangwang(Alibaba)  </td>
                <td>
                    <input name="aliwangwang_ali" value="<?php echo $_user->aliwangwang_ali;?>" type="text" class="text-field small"  />
                </td>
                <!---td style="width:13%;text-align: right;" >Aliwangwang   </td>
                <td><input name="alioangoang" value="<?php echo $_user->alioangoang ? $_user->alioangoang : '';?>" type="text" class="text-field small" style="width: 40%;" /></td-->
            </tr>
            <tr>
               <td></td>
               <td colspan="3" style="text-align: center;">
                  <input style="background: greenyellow;padding: 7px 21px;font-family: tahoma;cursor: pointer;" class="button" value="XÁC NHẬN" type="submit" />
                  <input style="margin-left: 10px;padding: 7px 21px;cursor: pointer;" name="reset" class="button" value="LÀM LẠI" type="reset" />
               </td>
            </tr>
        </table>
    </div>
    
    
</form>
</div>
<div class="clear"></div>