<?php
   $public_path = Flywheel_Factory::getDocument()->getPublicPath();
   $base_url = Flywheel_Factory::getDocument()->getBaseUrl();
?>
<style>
   td,th{
      vertical-align: top;
      text-align: left;
      padding:5px;
   }
   .input-field{
      width: 196px;
   }
</style>         
<div class=" grid_10 title-box-body">
    <span>Thanh toán cho CTV xử lý sản phẩm</span>
</div>
    <?php if(isset ($message)) {
                    echo $message;
                }?>
    <div class="clear"></div>
    <form class="user_frm" method="GET" action="">

<div class="grid_24 add-new-button mar-5-0 clearfix" style="margin: 5px 5px;">
   <!--input style="border-radius:0px;cursor: pointer;font-weight: bold;color:blue;" type="button" class="search-button" value="Tìm kiếm"/>
   <input type="reset" style="border-radius:0px;cursor: pointer;font-weight: bold;color:blue;" class="cancel-button" value="Hủy tìm kiếm"/>
   <a style="border-radius:0px;" href="<?php echo $base_url?>?com=user&act=new"><b>Thêm mới</b></a>
   <a class="all_user" style="border-radius:0px;" href="<?php echo $base_url?>?com=user"><b>Tất cả nhân viên</b></a-->
   
   <span>
    Tháng:
        <select style="width:80px" name="month" id="month">    
            <?php
                for($i=1;$i<=12;$i++)
                {
                   ?>
                   <option <?php echo ($i==$month?'selected="selected"':'')?> value="<?php echo $i?>"><?php echo (intval($i)<10?'0'.$i:$i)?></option>
                   <?php 
                }
            ?>
        </select>
   </span>
   <span>
    Năm:
        <select style="width:100px" name="year" id="year">    
            <?php
                for($i=2012;$i<=2015;$i++)
                {
                   ?>
                   <option <?php echo ($i==$year?'selected="selected"':'')?> value="<?php echo $i?>"><?php echo $i?></option>
                   <?php 
                }
            ?>
        </select>
   </span>
   <span>
    <input id="button_search" type="button" value="Tìm kiếm" />
    
   </span>
   <span style="float:right">
    <!--input id="button_add_all" type="button" value="Chốt tất cả các nhân viên" /-->
    
   </span>
   <!--span style="float: right;margin-top: 5px;"><em>Tìm thấy <b style="color: red;"><?php echo count($users);?></b> bản ghi thỏa mãn điều kiện</em></span-->
</div>

<div class="box-body-content grid_24 user ">
    <table class="admin-table user" style="border-bottom: 1px solid #D2D2D2;" width="100%;" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <th width="7%">STT</th>
            <th width="17%">Username CTV</th>
            <th width="">Họ tên CTV</th>
            <th width="15%">Ngày bắt đầu chốt</th>
            <th width="15%">Ngày cuối cùng chốt</th>
            <th width="15%">Số lượng sản phẩm</th>
            <th width="15%">Đã thanh toán hay chưa</th>
        </tr>
        <?php
            if ($users) {
            $i=1;        
            foreach ($users as $user) {
                
              //  if(!isset($item_amounts[$user['id']]) || intval($item_amounts[$user['id']])==0) continue;
         ?>
        <tr class="alt">
           <td>
               <?php echo $i?> 
           </td>
           
            <td>
               <p><a style="color:green" href="#"><?php echo $user['username'];?></a></p>
               <p>Ngày join:<em style="color:red"><?php echo date('d/m/Y', $user['time_join']); ?></em></p>
            </td>
            <td>
                <p>
                    <?php
                        echo $user['fullname'];
                    ?> 
                </p>
            </td>
            <td align="center">
               <p id="list_shop_<?php echo $user['id']?>" style="color: blue;">
                    <?php
                    if(isset($records[$user['id']]))
                    {
                       echo date('d/m/Y',$records[$user['id']]['start_time']); 
                    }else 
                    {
                        ?>
                        <input id="start_date_<?php echo $user['id']?>" type="text" class="datepicker" value="<?php echo date('d/m/Y',$users_last_time[$user['id']])?>"/>
                      <?php  
                    }
                    
                    ?>
               </p>
               
            </td>
            <td align="center">
               <p id="list_shop_<?php echo $user['id']?>" style="color: blue;">
                    <?php
                    if(isset($records[$user['id']]))
                    {
                       echo date('d/m/Y',$records[$user['id']]['end_time']); 
                    }else
                    {
                      ?>  
                      <input  id="end_date_<?php echo $user['id']?>" type="text" class="datepicker" value="<?php echo date('d/m/Y')?>"/> 
                       <?php
                    } 
                    ?>
               </p>
               
            </td>
            <td align="center">
               <p id="list_shop_<?php echo $user['id']?>" style="color: blue;">
                    <?php
                    if(isset($records[$user['id']]))
                    {
                        echo $records[$user['id']]['amount']; 
                    }else 
                    {
                        ?>
                        <input user-name="<?php echo $user['username']?>" rel="<?php echo $user['id']?>" class="add_payment" type="button" value="Chốt sản phẩm" />
                        <?php
                    }
                    
                    ?>
               </p>
               
            </td>
            <td>
                <?php
                if(isset($records[$user['id']]))
                {
                    ?>
                    <input <?php echo ($records[$user['id']]['status']==1?'disabled checked="checked"':'')?> rel="<?php echo $records[$user['id']]['id']?>" type="checkbox" value="1" class="is_paid" /><br/>    
                    <?php
                    if($records[$user['id']]['status']==0)
                    {
                    ?>
                    <input rel="<?php echo $records[$user['id']]['id']?>" class="update_payment" type="button" value="Chốt lại" />
                    <?php
                    }
                    ?>
                    <?php
                }else echo '<font color="red">Chưa chốt</font>';
                ?>
                
            </td>
              
           </tr>
       <?php
                $i++;
            }
           }
        ?>
    </table>
   
      <div class="clear" style="margin-bottom: 6px;"></div>
      
</div>
<div class="box-process-content" id="box-process-content" style="display: none;">  
</div> 
</form>
<script>
    $(document).ready(function(){

        $.datepicker.regional['vi'] = {dateFormat: 'dd/mm/yy'};
         $.datepicker.setDefaults($.datepicker.regional['vi']);

        $('#button_search').click(function(){
            
           // var time=$('#time_search').val();
            var month=$('#month').val();
            var year=$('#year').val();
            
            var url = base_url + '?com=user&act=editor_payment&month='+month+'&year='+year;
            window.location.href=url;            
        });
        $('.is_paid').live('click',function(){
            
            $(this).attr('disabled',true);
            var id = $(this).attr('rel');
       
            $.post(base_url + '?com=user&act=payment_paid', {'id':id}, function(data) {
       //           alert('Gỡ shop thành công!');

            }); 
            
        });
        $('.update_payment').live('click',function(){

            var id = $(this).attr('rel');
       
            $.post(base_url + '?com=user&act=update_payment', {'id':id}, function(data) {
                   window.location.reload();                                                                
            }); 
            
        });
        $('#button_add_all').live('click',function(){
          
            $.post(base_url + '?com=user&act=add_all_payment', {'user_id':0}, function(data) {
                  alert('Chốt thành công!');
                  window.location.reload();
            }); 
            
        });
        $('.add_payment').live('click',function(){
   
            var user_id = $(this).attr('rel');
            var user_name = $(this).attr('user-name');
            var start_date = $('#start_date_'+user_id).val();
            var end_date = $('#end_date_'+user_id).val();
            
            if(confirm('Bạn có muốn chốt thanh toán cho '+user_name+' ?'))
            {
                $.post(base_url + '?com=user&act=add_payment', {'user_id':user_id,'start_date':start_date,'end_date':end_date}, function(data) {
                      window.location.reload();
                }); 
            }
        });
    });
</script>
