<?php
// Require browse left menu
require_once MODULES_DIR . 'BrowseLeft/default.php';
?>

<div class="main-content fl">
    <div class="main-slide">
        <div id="bigPic">
            <?php 
            if(!empty($_banners)) {
                foreach($_banners as $k => $v) {
                    ?>
            <a href="<?php echo $v['link'] ?>" title="<?php echo $v['title'] ?>">
                <img src="<?php echo $url_path ?>medias/banners/<?php echo $v['img'] ?>" alt="<?php echo $v['title'] ?>" />
            </a>
            <?php
                }
            }
            ?>
        </div>
        <div class="thumbpic">
            <ul id="thumbs"><?php 
            if(!empty($_banners)) {
                $inc = 0;
                foreach($_banners as $k => $v) {
                    $inc++;
                    ?>
                <li class="<?php echo $inc == 1 ? 'active' : "" ?>" rel='<?php echo $inc ?>'><?php echo $inc ?></li>
            <?php
                }
            }
            ?>
            </ul>
        </div>
    </div>

    <div class="items new">
        <h2 class="tab">
            Sản phẩm mới
            <div class="act-slide-group">
                <div class="slide next" title="Xem sau" onclick="next_slide(this)"></div>
                <div class="slide preview" title="Xem trước" onclick="preview_slide(this)"></div>
            </div>
        </h2>
        <ul style="width: <?php echo 192 * count($_items_special) ?>px;"> <!-- 192*7 -->
            <?php
            if(!empty($_items_special)) {
                foreach($_items_special as $k => $v) {
                    ?>
            <li>
                <a href="<?php echo FrontendUtil::url_format('item', 'default', array('title' => Flywheel_Inflector::filter($v['title'], true), 'id' => $v['id'])) ?>" title="<?php echo $v['title'] ?>">
                    <?php 
                    $img_src = !empty($v['id_craw']) ? $v['img'] : $url_path . 'medias/items/' .$v['img'];
                    ?>
                    <img src="<?php echo $img_src ?>" alt="<?php echo $v['title'] ?>" />
                </a>
                <h2>
                    <a href="<?php echo FrontendUtil::url_format('item', 'default', array('title' => Flywheel_Inflector::filter($v['title']), 'id' => $v['id'])) ?>" title="<?php echo $v['title'] ?>"><?php echo $v['title'] ?></a>
                </h2>
                <span class="price">Giá: <span><?php echo FrontendUtil::currencyFormat($v['price']) ?></span> VNĐ</span>
                <span class="remain">Còn <span><?php echo $v['instock'] ?></span> sp</span>
            </li>
            <?php
                }
            }
            ?>
        </ul>
    </div>

    <div class="items hot">
        <h2 class="tab">
            Sản phẩm tiêu biểu
        </h2>
        <ul>
            <?php 
            if(!empty($_items_new)) {
                foreach($_items_new as $k => $v) {
                    ?>
            <li>
                <a href="<?php echo FrontendUtil::url_format('item', 'default', array('title' => Flywheel_Inflector::filter($v['title']), 'id' => $v['id'])) ?>" title="<?php echo $v['title'] ?>">
                    <?php 
                    $img_src = !empty($v['link_crawl']) ? $v['img'] : $url_path . 'medias/items/' .$v['img'];
                    ?>
                    <img src="<?php echo $img_src; ?>" alt="<?php echo $v['title'] ?>" />
                </a>
                <h2>
                    <a href="<?php echo FrontendUtil::url_format('item', 'default', array('title' => Flywheel_Inflector::filter($v['title']), 'id' => $v['id'])) ?>" title="<?php echo $v['title'] ?>"><?php echo $v['title'] ?></a>
                </h2>
                <span class="price">Giá: <span><?php echo FrontendUtil::currencyFormat($v['price']) ?></span> VNĐ</span>
                <span class="remain">Còn <span><?php echo $v['instock'] ?></span> sp</span>
            </li>
            <?php
                }
            }
            ?>
        </ul>
    </div>

</div>
<?php
// Require browse left menu
require_once MODULES_DIR . 'BrowseRight/default.php';
?>

<div class="clear_fix"></div>