<div id="body" class="container_24">
    <div class="grid_10 title-box-body">
        <h2 style="color: orange">Cấu hình website</h2>
    </div>
    <form method="POST" class="admin-from" action="" onsubmit="return confirm('Cập nhật cấu hình website?')">	
        <div class="grid_24 border">
            <table cellpadding="5" cellspacing="0" width="100%">
                <tr>
                    <td width="30%">Tiêu đề website: </td>
                    <td><input name="setting[title]" class="text-field small" type="text" value="<?php echo System_Config::setting('title'); ?>"/></td>
                </tr>
                <tr>
                    <td width="30%">Địa chỉ website: </td>
                    <td><input name="setting[address]" class="text-field small" type="text" value="<?php echo System_Config::setting('address'); ?>"/></td>
                </tr>
                <tr>
                    <td width="30%">Tên website: </td>
                    <td><input name="setting[name]" class="text-field small" type="text" value="<?php echo System_Config::setting('name'); ?>"/></td>
                </tr>
                <tr>
                    <td width="30%">Từ khóa website: </td>
                    <td><textarea name="setting[keyword]" class="text-field medium" rows="2" cols="20"><?php echo System_Config::setting('keyword'); ?></textarea></td>
                </tr>
                <tr>
                    <td width="30%">Mô tả website: </td>
                    <td><textarea name="setting[description]" class="text-field medium" rows="2" cols="20"><?php echo System_Config::setting('description'); ?></textarea></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Cập nhật" /></td>
                </tr>
            </table>
        </div>
    </form>
</div>