<?php
// Require browse left menu
require_once MODULES_DIR . 'BrowseLeft/default.php';
?>

<div class="main-content fl">

    <div class="breadcrumb">
        Sản phẩm >> <a href=""><?php echo $_category->title ?></a> >> <?php echo $_item['title'] ?>
    </div>

    <div class="items-detail">
        <div class="fl img">
            <?php
            $img_src = preg_match('/http:\/\//', $v['img']) ? $_item['img'] : $url_path . 'medias/items/' . $_item['img'];
            ?>
            <a id="single_image" class="fancybox" href="<?php echo $img_src ?>">
                <img src="<?php echo $img_src ?>" alt="<?php echo $_item['title'] ?>" />
            </a>
        </div>
        <div class="detail fl">
            <h2 class="title"><?php echo $_item['title'] ?></h2>
            <div class="des">
                <?php echo html_entity_decode($_item['brief']) ?>
            </div>
            <hr/>
            <div class="order">
                <form action="<?php echo FrontendUtil::url_format('cart', 'default') ?>" method="post">
                    <input type="hidden" name="item_id" value="<?php echo $_item['id'] ?>" />
                    <table cellspacing="0">
                        <tr>
                            <td align="right"><b>Giá thành:</b></td>
                            <td><span class="price"><span><?php echo FrontendUtil::currencyFormat($_item['price']) ?></span> <sup>VNĐ</sup></span></td>
                        </tr>
                        <tr>
                            <td align="right"><b>Hiện có:</b></td>
                            <td><span class="remain"><span class="instock"><?php echo $_item['instock'] ?></span> sản phẩm</span></td>
                        </tr>
                        <tr>
                            <td align="right">Đặt mua:</td>
                            <td><input type="text" class="text" name="amount" style="width: 50px;" value="1" /></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="button" onclick="add_cart(<?php echo $_item['id'] ?>)" class="button" value="Đặt hàng"/></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <div class="clear_fix"></div>
    <div class="item_des">
        <h2 class="tab">
            Miêu tả sản phẩm
        </h2>
        <?php echo html_entity_decode($_item['des']) ?>
    </div>

    <div class="clear_fix" style="height: 20px;"></div>
    <div class="items same">
        <h2 class="tab">
            Sản phẩm cùng loại
        </h2>
        <ul>
            <?php
            if (!empty($_items)) {
                foreach ($_items as $k => $v) {
                    ?>
                    <li>
                        <a href="<?php echo FrontendUtil::url_format('item', 'default', array('title' => Flywheel_Inflector::filter($v['title']), 'id' => $v['id'])) ?>" title="<?php echo $v['title'] ?>">
                            <?php
                            $img_src = preg_match('/http:\/\//', $v['img']) ? $v['img'] : $url_path . 'medias/items/' . $v['img'];
                            ?>
                            <img src="<?php echo $img_src ?>" alt="<?php echo $v['title'] ?>" />
                        </a>
                        <h2>
                            <a href="<?php echo FrontendUtil::url_format('item', 'default', array('title' => $v['title'], 'id' => $v['id'])) ?>" title="<?php echo $v['title'] ?>"><?php echo $v['title'] ?></a>
                        </h2>
                        <span class="price">Giá: <span><?php echo FrontendUtil::currencyFormat($v['price']) ?></span> VNĐ</span>
                        <span class="remain">Còn <span><?php echo $v['instock'] ?></span> sp</span>
                    </li>
                    <?php
                }
            } else {
                echo '<li class="none-item"><i>Chưa có sản phẩm nào cùng danh mục.</i></li>';
            }
            ?>
        </ul>
    </div>

</div>
<?php
// Require browse left menu
require_once MODULES_DIR . 'BrowseRight/default.php';
?>

<div class="clear_fix"></div>

<script type="text/javascript">
    function add_cart(item_id) {
        var amount = $('input[name=amount]').val();
        try{
            if(isNaN(amount)) {
                alert('S\u1ed1 lượng định dạng không đúng!');
                return;
            }
            if(parseInt($('span.instock').html()) < parseInt(amount)) {
                alert('S\u1ed1 lượng không đủ!');
                return;
            }
        } catch(e) {
            alert("System error: " + e);
            return;
        }
        $.ajax({
            url: '<?php echo FrontendUtil::url_format('cart', 'default') ?>',
            type: 'POST',
            data: { 'item_id' : item_id, 'amount' : amount },
            success: function(d) {
                d = $.parseJSON(d);
                if(d.status) {
                    if(confirm('\u0110ặt hàng thành công! Bạn có muốn vào giỏ hàng?')) {
                        window.location.href = '<?php echo FrontendUtil::url_format('cart', 'default') ?>';
                    }                    
                } else {
                    alert(d.msg);
                }
            }, error: function(e) {
                alert("System error: " + e);
            }
        });
    }
</script>