<div id="login-wrap">
    	<a id="logo" href="<?php echo $url_path; ?>">Alimama</a>
    	<div class="clearfix"></div>
        <div class="login-content">
   <div id="page-head" class="container_12 clearfix">
       
   </div>
   <div class="container_12 clearfix">
       <h2 class="title">ĐĂNG KÝ TÀI KHOẢN</h2>
       <div class="content">
           <div class="content-l">

               <h2><?php echo @$status;?> !</h2>
               <ul>
                  <li><a href="<?php echo Flywheel_Factory::getDocument()->getPublicPath()?>dang-nhap" title="">Đăng nhập ?</a></li>
                   <li><a href="<?php echo Flywheel_Factory::getDocument()->getPublicPath()?>" title="">Quay về trang chủ ?</a></li>
               </ul>

           </div>
       </div>
   </div>
   <!-- Footer -->
  

</div></div>
