<div id="login-wrap">
    	<a id="logo" href="<?php echo $url_path; ?>">Alimama</a>
    	<div class="clearfix"></div>
        <div class="login-content">
   <div id="page-head" class="container_12 clearfix">
       
   </div>
            <div class="container_12 clearfix">
     
<form method="POST" action="<?php echo Flywheel_Factory::getDocument()->getPublicPath()?>registry">
<div class="swapper register">
  
   <div class="container_12 clearfix">
       <h2 class="title">ĐĂNG KÝ THÀNH VIÊN</h2>
       <div class="content">
           <div class="content-l step-2">

            <h2>Cám ơn bạn đã đăng ký thành viên tại sàn thương mại điện tử Alimama.vn!</h2>

            <p>Để quá trình đăng ký thành công, vui lòng truy cập email <a href="javascript:;"><?php echo $email;?></a> để
                kích hoạt tài khoản của bạn.
                <br/>
                Nếu không nhận được email, click vào link sau để gửi lại:&nbsp;<a href="javascript:;" code="<?php echo $code;?>" user_id="<?php echo $user_id;?>" id="link_render_code">Kích vào đây để gửi lại mail</a>
                <br />
            </p>

           </div>
       </div>

   </div>
  

</div>
</form>
</div></div>