<style type="text/css">
    #logo { background: url(<?php echo $url_path ?>frontend/img/logo_trans.png) no-repeat; }
</style>

<script type="text/javascript">
   function refreshCaptcha() {
        $("#captcha_img").attr('src', $("#captcha_img").attr('src') +  '?sid=' + Math.random());
    }
</script>
<form method="POST" action="<?php echo Flywheel_Factory::getDocument()->getPublicPath()?>registry">
<div id="login-wrap" >
    <a id="logo" href="<?php echo $url_path; ?>">Alimama</a>
    	<div class="clearfix"></div>
        <div class="login-content registry">
            <h3>Đăng ký thành viên</h3>
            <div class="field">
                <label class="caption" for="user">Tên đăng nhập <span class="red">*</span></label>
                <div class="fieldtext"><input id="res_username" k="username" value="<?php if(isset($username)){echo $username;}?>" type="text" class="text require_valid" name="username" /></div>
                <span class="msg success fr username_success">
                  <?php if(isset($sus_username))echo $sus_username; ?>
               </span> 
               <span class="msg error fr username_error">
                  <?php if(isset($err_username))echo $err_username; ?>
               </span>
            </div>
            <div class="clearfix"></div>
            <div class="field">
                <label class="caption" for="user">Mật khẩu <span class="red">*</span></label>
                <div class="fieldtext"><input type="password" k="password" id="res_password" class="text require_valid" name="password" /></div>
                <span class="msg success fr password_success">
                  <?php if(isset($sus_password))echo $sus_password; ?>
               </span>
               <span class="msg error fr password_error">
                  <?php if(isset($err_password))echo $err_password; ?>
               </span>
            </div>
            <div class="clearfix"></div>
            <div class="field">
                <label class="caption" for="user">Nhập lại mật khẩu: <span class="red">*</span></label>
                <div class="fieldtext"><input id="res_repassword" k="repassword" type="password" class="text require_valid" name="repassword" /></div>
                 <span class="msg success fr repassword_success">
                  <?php if(isset($sus_repassword))echo $sus_repassword; ?>
               </span> 
               <span class="msg error fr repassword_error">
                  <?php if(isset($err_repassword))echo $err_repassword; ?>
               </span>
               
            </div>
            <div class="clearfix"></div>
            <div class="field">
                <label class="caption" for="user">Email: <span class="red">*</span></label>
                <div class="fieldtext"><input id="res_email" k="email" type="text" class="text require_valid" value="<?php if(isset($email)){echo $email;}?>" name="email" /></div>
                <span class="msg success fr email_success">
                  <?php if(isset($sus_email))echo $sus_email; ?>
               </span> 
               <span class="msg error fr email_error">
                  <?php if(isset($err_email))echo $err_email; ?>
               </span>
            </div>
            <hr />
            <div class="clearfix"></div>
            <div class="field">
                <label class="caption" for="user">Mã bảo mật: <span class="red">*</span></label>
                <div class="fieldtext" style="width:200px">
                    <input type="text" k="captcha" id="res_captcha" class="text captcha" name="captcha" style="width:50px;" />
                    <img id="captcha_img" src="<?php echo $url_path ?>medias/secu_img.php" class="fr"  style="height: 26px;max-width: 100px"/>
                    <a href="javascript:;" class="icon-refresh" onclick="return refreshCaptcha();"></a>
                    
                </div>
                 <span class="msg success fr captcha_success">
                  <?php if(isset($sus_code))echo $sus_code; ?>
               </span> 
               <span class="msg error fr captcha_error">
                  <?php if(isset($err_code))echo $err_code; ?>
               </span>
            </div>
            <hr />
            <div class="field">
                <div class="fieldtext">
                    <div class="clearfix"></div>
<!--                    <label class="clearfix small"><input type="checkbox" value="" name=""> Tôi đã đọc vào chấp nhận các <a href="">điều khoản</a> của Alimama</label>-->
                    <button class="btn submit" type="submit" >Đăng ký</button>
                </div>
            </div>
            
        </div>
    </div>
 </form>   