<?php
// Require browse left menu
require_once MODULES_DIR . 'BrowseLeft/default.php';
?>

<div class="main-content fl">
    <div class="items same">
        <h2 class="tab">
            <a href="<?php echo FrontendUtil::url_format('browse', 'default') ?>" title="Danh sách sản phẩm">Sản phẩm</a><?php echo $_cate->title != "" ? " >> " . $_cate->title : "" ?>
        </h2>
            <?php 
            if(!empty($_items)) {
                echo '<ul>';
                foreach($_items as $k=>$v) {
                    ?>
            <li>
                <a title="<?php echo $v['title']; ?>" href="<?php echo FrontendUtil::url_format('item', 'default', array('title' => Flywheel_Inflector::filter($v['title']), 'id' => $v['id'])) ?>">
                    <?php
                    $img_src = preg_match('/http:\/\//', $v['img']) ? $v['img'] : $url_path . 'medias/items/' .$v['img'];
                    ?>
                    <img src="<?php echo $img_src ?>" alt="<?php echo $v['title']; ?>" />
                </a>
                <h2>
                    <a title="<?php echo $v['title']; ?>" href="<?php echo FrontendUtil::url_format('item', 'default', array('title' => Flywheel_Inflector::filter($v['title']), 'id' => $v['id'])) ?>"><?php echo $v['title'] ?></a>
                </h2>
                <span class="price">Giá: <span><?php echo FrontendUtil::currencyFormat($v['price']) ?></span> VNĐ</span>
                <span class="remain">Còn <span><?php echo $v['instock'] ?></span> sp</span>
            </li>
                    <?php
                }
                echo '</ul>';
            } else {
                echo '<div><i>Chưa có sản phẩm nào thuộc danh mục này.</i></div>';
            }
            ?>
            
    </div>

</div>
<?php
// Require browse left menu
require_once MODULES_DIR . 'BrowseRight/default.php';
?>

<div class="clear_fix"></div>