<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>  
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-40165932-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>

        <title><?php echo $document->title; ?></title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="<?php echo $document->keywork; ?>" />
        <meta name="description" content="<?php echo $document->descriptions; ?>" />
        <link rel="SHORTCUT ICON" href="<?php echo $path ?>frontend/images/logo-alimama.png" />
        <?php echo $document->css('TOP'); ?>
        <?php echo $document->js('TOP'); ?>

    </head>
    <body>
        <div class="wrapper">
            <?php
            include_once MODULES_DIR . 'TopBar/Topbar.php';
            include_once TEMPLATE_DIR . 'modules/menu.phtml';
            ?>
            <div id="body">
                <?php
                echo $document->getComponentData();
                ?>
            </div>
            <?php include_once TEMPLATE_DIR . 'modules/footer.phtml'; ?>
        </div>
    </body>
    <?php echo $document->js('BOTTOM'); ?>
</html>
