<?php
   $document = Flywheel_Factory::getDocument(); 
   $url_path = $document->getPublicPath();
   $base_url = $document->getBaseUrl(); 
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  dir="ltr" lang="en-US">
<head>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33896189-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--meta name="googlebot" content="Noindex" />
    <meta name="googlebot" content="Nofollow" /-->
    <?php echo $document->css(); ?>
    <?php echo $document->js('TOP'); ?>

    
    <link rel="SHORTCUT ICON" href="<?php echo $url_path ?>frontend/images/logo-alimama.png" />
    <title><?php echo $document->title; ?></title>
</head>

<body style="background:#f7f7f7">
     <?php 
        include_once MODULES_DIR.'TopBar/TopBar.php';
    ?>
<div id="body">
    
	<?php echo $document->getComponentData(); ?>
    </div>
     <?php include_once 'modules/frontend_footer.phtml'; ?> 
</body>
<?php echo $document->js('BOTTOM'); ?>
</html>