<strong>Xin chào <?php echo $username?> !</strong>
<br /><br />
Để kích họat email <strong><em><?php echo $email ?></em></strong>, xin vui lòng click vào link phía dưới: 
<br />
<a href="<?php echo $active_link;?>"><?php echo $active_link; ?></a>
<br /><em>Trong trường hợp bạn không sử dụng email này với tài khoản <strong><?php echo $username?></strong>
, xin không click vào link trên.</em>
<?php include_once GLOBAL_MODULES_DIR .'email_signature.php'; ?>