<strong>Xin chào <?php echo $username?> !</strong>
<br />
<br />
Cảm ơn bạn đã đăng kí tài khoản tại website <a href="<?php echo $site_link; ?>">Nhập Hàng.com</a>. Bạn có thể chỉnh sửa thông tin cá nhân của mình tại đây: <a href="<?php echo $profiles_link;?>" target="_blank"><?php echo $profiles_link;?></a>
<br />
Để kích họat email <strong><em><?php echo $email ?></em></strong>, xin bạn vui lòng click vào link sau:
<br />
<a href="<?php echo $active_link;?>"><?php echo $active_link; ?></a>
<br /><em>Trong trường hợp bạn không sử dụng tên tài khoản trên để đăng kí, xin không click vào link trên. 
Bạn vẫn có thể sử dụng email này để đăng kí tài khoản của mình.</em>

<?php include_once GLOBAL_MODULES_DIR .'email_signature.php'; ?>