<style type="text/css">
    #logo { background: url(<?php echo $url_path ?>frontend/img/logo_trans.png) no-repeat; }
</style>

<?php
$others_config = array();
// Read config file
if (file_exists(CACHE_DIR . 'others_config.php')) {
    include_once CACHE_DIR . 'others_config.php';
}

$img = $url_path . (array_key_exists('login_banner', $others_config) ? 
        'medias/advs/' . $others_config['login_banner']['img'] : 'frontend/img/ads.png');
$link = array_key_exists('login_banner', $others_config) ? $others_config['login_banner']['link'] : 'javascript:;';
$title = array_key_exists('login_banner', $others_config) ? $others_config['login_banner']['title'] : '';

?>
<div id="login-wrap">
    <a id="logo" href="<?php echo $url_path; ?>">Alimama</a>
    <div class="clearfix"></div>
    <div class="login-content">
        <div class="fl">
            <h3>Đăng nhập tài khoản</h3>
            <form method="POST" action="<?php echo Flywheel_Factory::getDocument()->getPublicPath() ?>/login">
                <input type="hidden" value="<?php echo $url; ?>" name="url"/>
                <?php
                if ($message)
                    echo $message;
                ?>
                <div class="field">
                    <label class="caption" for="user">Tên đăng nhập</label>
                    <div class="fieldtext"><input type="text" value="<?php echo @$_COOKIE['username']; ?>" name="username" /></div>
                </div>
                <div class="field">
                    <label class="caption" for="user">Mật khẩu</label>
                    <div class="fieldtext">
                        <input type="password" value="<?php echo @$_COOKIE['password']; ?>" name="password" />
                        <div class="clearfix"></div>
                        <label class="clearfix small"><input type="checkbox" value="" name=""> Ghi nhớ thông tin</label>
                        <button class="btn submit" type="submit">Đăng nhập</button>
                        <p class="bullet"><a href="<?php echo Flywheel_Factory::getDocument()->getBaseUrl() ?>dang-ky.html">Đăng ký tài khoản mới ?</a></p>
                        <p class="bullet"><a href="<?php echo Flywheel_Factory::getDocument()->getPublicPath() ?>quen-mat-khau.html">Quên Mật Khẩu ?</a></p>
                    </div>
                </div>
            </form>
            <hr />
            <div class="openid">
                <span>Đăng nhập bằng tài khoản:</span>
                <a class="icon-open fb" href="<?php echo Flywheel_Factory::getDocument()->getPublicPath()?>openid/index.php?type=facebook&is_req=1">Facebook</a>
                <a class="icon-open google" href="<?php echo Flywheel_Factory::getDocument()->getPublicPath()?>openid/index.php?type=gmail&is_req=1">Google</a>
                <a class="icon-open ym" href="<?php echo Flywheel_Factory::getDocument()->getPublicPath()?>openid/index.php?type=yahoo&is_req=1">Yahoo</a>
            </div>
        </div>
        <div class="fr">
            <a href="<?php echo $link ?>" title="<?php echo $title ?>">
                <img src="<?php echo $img; ?>" />
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>