<div class="swapper forget-pass">
   <div id="page-head" class="container_12 clearfix">
       <div class="grid_5" id="logo">
           <h1 style="width: 200px; float: left;"><a href="<?php echo Flywheel_Factory::getDocument()->getPublicPath();?>"></a></h1>
       </div>
   </div>
   <div class="container_12 clearfix">
       <h2 class="title">QUÊN MẬT KHẨU ?</h2>
       <div class="content">
           <div class="content-l" id="new_pass">

               <div class="label">
                   <label>Mật khẩu mới:</label>
               </div>
               <div class="data">
                   <input type="password" name="password" class="text" />
               </div>
               <div class="clear"></div>

               <div class="label">
                   <label>Gõ lại mật khẩu:</label>
               </div>
               <div class="data">
                   <input type="password" name="repassword" class="text" />
                   
                   <input type="hidden" value="<?php echo @$_REQUEST['code'];?>" name="code"/>
               </div>
               <div class="clear"></div>

               <div class="label">
                   <label>Mã bảo mật:</label>
               </div>
               <div class="data">
                   <input type="text" class="text captcha" name="captcha" />
                   <img src="<?php echo $url_path ?>medias/secu_img.php" class="fr" style="margin-left: 3px;margin-top: 2px;height: 26px;" />
               </div>
               <div class="clear"></div>
               <div class="label"></div>
               <div class="data">
                   <input class="bt-continue" id="bt-new-pass" style="cursor: pointer;" type="button" />
               </div>
           </div>
       </div>
   </div>
   <!-- Footer -->
   <?php include_once TEMPLATE_DIR .'modules/frontend_footer.phtml'; ?>

</div>