<script>
    function refreshCaptcha() {
        $("#captcha_img").attr('src', $("#captcha_img").attr('src') +  '?sid=' + Math.random());
    }
</script>
<style type="text/css">
    .data { overflow: auto; }
    .icon-refresh { margin-top: 5px; margin-left: 5px; }
</style>

<?php
$others_config = array();
// Read config file
if (file_exists(CACHE_DIR . 'others_config.php')) {
    include_once CACHE_DIR . 'others_config.php';
}

$img = $url_path . (array_key_exists('login_banner', $others_config) ? 
        'medias/advs/' . $others_config['login_banner']['img'] : 'frontend/img/ads.png');
$link = array_key_exists('login_banner', $others_config) ? $others_config['login_banner']['link'] : 'javascript:;';
$title = array_key_exists('login_banner', $others_config) ? $others_config['login_banner']['title'] : '';

?>
<div id="login-wrap">
    <a id="logo" href="<?php echo $url_path; ?>">Alimama</a>
    <div class="clearfix"></div>
    <div class="login-content">
        <div class="fl">
            <div class="content-l" id="content_pass_foget">
                <div class="field">
                    <label class="caption" for="email">Email của bạn:</label>
                    <div class="fieldtext">
                        <input type="text" class="text" id="email" name="email" />
                    </div>
                </div>
                <div class="field">
                    <label class="caption" for="captcha">Mã bảo mật:</label>
                    <div class="fieldtext">
                        <input type="text" class="text captcha" id="captcha" name="captcha" class="fl" />
                    </div>
                </div>
                <div class="field">
                    <div class="fieldtext">
                        <img id="captcha_img" src="<?php echo $url_path ?>medias/secu_img.php" style="float: left; margin-top: 2px;height: 22px; border-radius: 3px;" />
                        <a href="javascript:;" class="icon-refresh" onclick="return refreshCaptcha();"></a>
                    </div>
                </div>
                <div class="field">
                    <div class="fieldtext">
                        <input type="button" class="btn submit" id="bt-pass-forget" style="cursor: pointer" value=" Gửi " />
                    </div>
                </div>
            </div>
            <hr />
            <div class="openid">
                <span>Đăng nhập bằng tài khoản:</span>
                <a class="icon-open fb" href="<?php echo Flywheel_Factory::getDocument()->getPublicPath()?>openid/index.php?type=facebook&is_req=1">Facebook</a>
                <a class="icon-open google" href="<?php echo Flywheel_Factory::getDocument()->getPublicPath()?>openid/index.php?type=gmail&is_req=1">Google</a>
                <a class="icon-open ym" href="<?php echo Flywheel_Factory::getDocument()->getPublicPath()?>openid/index.php?type=yahoo&is_req=1">Yahoo</a>
            </div>
        </div>
        <div class="fr">
            <a href="<?php echo $link ?>" title="<?php echo $title ?>">
                <img src="<?php echo $img; ?>" />
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
