.grid_760 { width: 960px !important; }
.data-search {
    background: none repeat scroll 0 0 #F9F9F9;
}
.data-search span.filter-search {
    background: url("../images/bt-gray.png") no-repeat scroll 0 0 transparent;
    color: #333333;
    padding: 3px 7px 5px 8px;
    position: relative;
    top: 3px;
}
/* For sale tab */
.tab-step {
    border-bottom: 1px solid #DDD;
    height: 29px;
    line-height: 27px;
    overflow: visible;
}
div.tab-step a { 
    color: #444; 
    padding: 5px 10px; 
    text-decoration: none; 
}
.tab-step div {
    background: url("../images/bt-large.png") no-repeat scroll center -57px transparent;
    border: 1px solid #ddd;
    /*border-radius: 8px 8px 0 0;*/
    color: #333;
    cursor: pointer;
    float: left;
    font-weight: bold;
    font-weight: normal;
    height: 27px;
    margin: auto 8px auto 0;
    padding: 0;
    position: relative;
    text-align: center;
    top: 1px;
    vertical-align: middle;
    width: auto;
}
.tab-step div:first-child {
    margin-left: 10px;
}
.tab-step div.actived, .tab-step div:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #DDDDDD #DDDDDD #FFFFFF;
    font-weight: bold;
}
.tab-step div:hover { font-weight: normal; }
.tab-step div.actived:hover { font-weight: bold; }
/* End tab */

/* Table width */
.table-item { width: 100%; }
.dpicker{ width: 72px;margin-left: 5px;}
.header-box {
    /*background: url("../images/bg-39-gray.png") repeat scroll 0 0 transparent;*/
    border: 1px solid #DDDDDD;
    line-height: 30px;
}
.header-item-bill {
    background: none repeat scroll 0 0 #F3F3F3;
    border: 1px solid #DDDDDD;
    color: gray;
}
.table-item input[type=checkbox] {
    position: relative;
    top: 2px;
}
span.support {
    padding: 3px 12px;
}
.table-item td {
    padding: 10px 5px;
}
.grid_760 a {
    color: #571BF0;
}
td { vertical-align: top; }
.description {
    width: 300px;
}
.description .title {
    height: 45px;
    overflow: hidden;
}
.buyer-item .text {
    padding: 3px 10px 4px;
    width: 700px;
}

/* Buyer bill */
.note-contain {
    max-height: 52px;
    overflow: auto;
    position: relative;
}
.note-contain .dd-box {
    right: 5px;
    position: absolute;
    top: 20px;
}
.note-contain .dd-box.up {
    background-position: 1px -826px;
    right: 5px;
    position: absolute;
    top: 2px;
}
.button.payment, .button.confirm {
    padding: 2px;
}
.payment-info, .dlg-transfer-info {
    font: 12px Arial,'Liberation Sans',FreeSans,sans-serif;
}
.payment-info div, .dlg-transfer-info div { 
    float: left;
    padding: 5px 0;
}
.payment-info div.label, .dlg-transfer-info div.label { 
    margin-top: 5px;
    width: 150px;
}
.payment-info div.data, .dlg-transfer-info div.data {
    float: right;
    line-height: 20px;
    width: 300px;
}
.payment-info div.data input.text {
    padding: 4px 2px;
    width: 80%;
}
.payment-info .bt-gray {
    padding: 4px;
}
.vc-info {
    color: green;
    cursor: pointer;
}
.dlg-transfer-info a  {
    color: blue;
}

/* Item */
.table-item img {
    height: 80px;
    width: 80px;
}
.table-item img {
    padding: 5px 0 0 5px;
}
.tr_old {
    background-color: #DDDDDD;
}
.tr_td_approval{
    color:#00FF00
}
.a_color{
    color:#034B8A
}
