@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	padding:0;
	color:#333;
	background:url(../images/body-bg.gif) repeat-x 0 0;
	}
#swraper{
	width:960px;
	margin:0 auto;
	}
a{
	color:#0066cc;
	text-decoration:none;
	}
a:hover{
	text-decoration:underline;
	}
img{
	border:0;
	}
ul, li, h1, h2, h3, h4{
	margin:0;
	padding:0;
	}
#header, #body{
	overflow:hidden;
	}
input[type=text], input[type=password], input.text, input.title, textarea, select {
	border:1px solid #d2d2d2;
	padding:2px 2px 3px;
	background:url(../images/input-bg.gif) repeat-x 0 0 #fff;
	color:#555;
	}
	
input[type="text"].focus, input[type="password"].focus {
	background-color: #fcffcc;
	background-image: none;	
}

.yell{
	color:#ff5a00;
	font-weight:bold;
	}
#paging{
	
	border:1px solid #e8f1fa;
	}
#paging-content{
	border:1px solid #fff;
	overflow:hidden;
	height:30px;
    background:#e8f1fa;
    line-height: 30px;
}
#paging-content ul.paging {
	display: inline-block;	
}
#paging-content ul.paging li {
	display: inline-block;	
}
#paging-content ul.paging li span,
#paging-content ul.paging li a{
	padding:2px 7px 2px 7px;
	margin:3px 0 5px;
	height:18px;
	border:1px solid #cedfeb;
	background:#f2f6f8 url(../images/paging-bg.gif) repeat-x 0 0;
	text-align:center;
}
#paging-content ul.paging li span {
	font-weight: bold;
}
#paging-content a:hover{
	color:#ff5a00;
	text-decoration:none;
	}
#paging img{
	float:none;
	}
#footer{
	text-align:right;
	padding:10px 0;
	color:#777;
	font-size: 12px;
	/* background:#4068a0; */
	border-top: 1px solid #efefef;
	margin-bottom:10px;
}
/* TYPHOGRAPY */
.right {
	text-align: right;
}
