/* 
    Document   : item_home
    Created on : Apr 6, 2012, 3:52:59 PM
    Author     : binhnt
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
.data-category {
    margin-top: 10px;
}
.data-category table a {
    float: left;
    max-width: 350px;
    word-wrap: break-word;
}
.data-category table td:last-child a { float: none; }

.data-category table {
    border: 1px solid #DDD;
    margin-bottom: 2px;
    width: 100%;
}

.data-category table th {
    background: none repeat scroll 0 0 #D4E5F6;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #DDD;
    color: #4068A0;
    text-transform: uppercase;
}
.data-category table th, .data-category table td {
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    padding: 5px;
    vertical-align: top;
}
.data-category table th.last, .data-category table td.last {
    border-right: 0 none;
}
.box-cate .label, .box-item .label, .box .label {
    float: left;
    width: 100px;
    margin-bottom: 10px;
}
.box-cate .data-add, .box-item .data-add, .box .data-add {
    float: left;
    width: 250px;
}
.data-add img { 
    height: 100px;
    margin: 0 5px 5px 0; 
    width: 100px;
}
.odd {
    background-color: #FAFAFA;
}
.text { width: 100%; }
.text.small {
    width: 20%;
}
.small.fix {
    width: 50px;
}
.filter {
    border: 1px solid #DDD;
    margin: 20px 0 10px;
    padding: 10px 5px;
}
.filter span { float: left; margin-left: 10px; margin-top: 3px; }
.filter span.first { margin-left: 0; }
.filter input.text, .filter select { float: left; margin-left: 5px; }
.filter input[type=checkbox] { float: left; margin-top: 6px; }

.filter .bt-gray {
    margin-left: 10px;
    margin-bottom: 0;
}
#paging-content { 
    border: 0 none;
    margin-bottom: 2px;
}
#paging-content div {
    text-align: right;
}
.filter select { width: 70px; }
.filter select[name=cb_cate] { width: 114px; }
span.note {
    font-style: italic;
    font-size: 11px;
}
.cb-cate-sys {
    width: 102%;
}