/*------------login page-------------*/
#login {
	width: 615px;
	margin: 0 auto;
	position:relative;
	top: 50px;
	padding-bottom:30px;	 
}

.login-logo{
	text-align:center;
}

.login-form {
	margin:0 auto;
	padding: 30px;
	border:1px solid #dfdfdf;
	margin-top:15px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	background-color: #efefff;
	width:414px;
}

.login-form label {
	display: block;
	font-size: 18px;
	margin-bottom:5px;
}

.login-form-input {
	border: 1px solid #fff;
	margin-bottom: 20px;		
}

.login-form-input input.input-login {
	border:1px solid #d2d2d2;
	color:#25313C;
	font-family:Georgia,Times,"Times New Roman",serif;
	font-size:26px;
	width:400px;
	padding: 5px;
}