/* 
    Document   : news
    Created on : May 11, 2012, 3:44:32 PM
    Author     : binhnt
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
textarea { resize:none; }
root { 
    display: block;
}
.news .filter {
    border: 1px solid #DDDDDD;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 10px 5px 5px;
}
.list-cates table { border-top: 1px solid #DDD; border-left: 1px solid #DDD; width: 100%; }
.list-cates table td, .list-cates table th { padding: 5px; border-right: 1px solid #DDD; border-bottom: 1px solid #DDD; }
.list-cates table th { 
    background: url("../images/bt-large.png") repeat scroll center -60px transparent; 
    border-right: 1px solid #FFF; 
    border-bottom: 1px solid #DDD; 
}
.list-cates table th:nth-child(1) { width: 2%; }
.list-cates table th:nth-child(2) { width: 20%; }
.list-cates table th:nth-child(3) { width: 30%; }
.list-cates table th:nth-child(4) { width: 10%; }
.list-cates table th:nth-child(5) { width: 10%; }
.list-cates table th:nth-child(6) { width: 10%; }
.list-cates table th:nth-child(7) { width: 10%; }
.list-cates table th:last-child {border-right: 1px solid #DDD; }

.list-cates table td:nth-child(4) { text-align: center; }
.list-cates table td:nth-child(5) { text-align: center; }
.list-cates table td:nth-child(6) { text-align: center; }
.list-cates table td:nth-child(7) { text-align: center; }
.list-cates table td:last-child { text-align: center; }

.label {
    float: left;
    width: 100px;
    margin-bottom: 10px;    
}
.data {
    float: left;
    width: 150px;
}

/* News */
.dlg-art .data { margin-bottom: 5px; overflow: hidden; width: 760px; }
.dlg-tag .data { width: 400px; }
.data .img-des { 
    border: 1px solid #DDD;
    float: left;
    height: 100px;
    margin: 0 10px 0 1px;
}
.list-news table { border-top: 1px solid #DDD; border-left: 1px solid #DDD; width: 100%; }
.list-news table td, .list-news table th { padding: 5px; border-right: 1px solid #DDD; border-bottom: 1px solid #DDD; }
.list-news table th { 
    background: url("../images/bt-large.png") repeat scroll center -60px transparent; 
    border-right: 1px solid #FFF; 
    border-bottom: 1px solid #DDD; 
}
.list-news table th:nth-child(1) { width: 2%; }
.list-news table th:nth-child(2) { width: 20%; }
.list-news table th:nth-child(3) { width: 30%; }
.list-news table th:nth-child(4) { width: 15%; }
.list-news table th:nth-child(5) { width: 9%; }
.list-news table th:nth-child(6) { width: 8%; }
.list-news table th:nth-child(7) { width: 8%; }
.list-news table th:last-child {border-right: 1px solid #DDD; }

.list-news table td:nth-child(4) { text-align: center; }
.list-news table td:nth-child(5) { text-align: center; }
.list-news table td:nth-child(7) { text-align: center; }
.list-news table td:last-child { text-align: center; }

.dlg-art .label { margin: 2px 0 5px; width: 110px; }

/* NICEdit style */
.nicEdit-main { background-color: #FFF; max-height: 120px; overflow: auto !important; }
/* textbox length */
.tb-extra { width: 98%; }
.tb-big { width: 75%; }
.tb-medium { width: 50%; }
.tb-small { width: 25%; }
.tb-tiny { width: 10%; }
.ui-dialog .ui-dialog-content, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
    font-size: 12px;
}