@charset "utf-8";
/* CSS Document */
/* ...............*/
.btn-muahang, .btn-hethang, .btn-kiemhang, .btn-giaohang, .btn-nhanhang{
	display:inline-block;
	padding:4px 10px;
	color:#fff;
	text-transform:uppercase;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	font-size:11px;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	}
.btn-muahang{
	border:1px solid #f36d21;
	background:#f37321 url(order_bnt_img/yellow.gif) repeat-x 0 0;
	}
.btn-hethang{
	border:1px solid #303030;
	background:#292929 url(order_bnt_img/black.gif) repeat-x 0 0;
	}
.btn-kiemhang{
	color:#444;
	border:1px solid #c1c1c0;
	background:#d5d5d5 url(order_bnt_img/grays.gif) repeat-x 0 0;
	}
.btn-giaohang{
	border:1px solid #1f8d44;
	background:#26a549 url(order_bnt_img/green.gif) repeat-x 0 0;
	}
.btn-nhanhang{
	border:1px solid #ca2027;
	background:#ca2027 url(order_bnt_img/red.gif) repeat-x 0 0;
	}