@charset "utf-8";
/* CSS Document */
/* ...............*/
.fr { float: right; }
.fl { float: left; }
.float-none { clear: both; }
.hidden { display: none; }
.right {float: right;}
.left {float: left;}
.center {text-align: center;}
.padd-5-0 {padding: 5px 0;}
.padd-10-0 {padding: 10px 0;}
.padd-15-0 {padding: 15px 0;}
.mar-top-8 {margin-top: 8px;}
.mar-5-0 {margin-top: 5px; margin-bottom: 5px;}
.mar-8-0 {margin-top: 8px; margin-bottom: 8px;}
.mar-10-0 {margin-top: 10px; margin-bottom: 10px;}
.border {border: solid 1px #d2d2d2;}
.box-body-content table {margin: 0;}
.box-body-content table tr td  table.sub_table {
    font-size: 11px;
    margin: 0;
    padding: 0;
}
.box-body-content table tr td table.sub_table td {
    border: none;
    padding: 2px;
    margin: 0;
    vertical-align: top;
}
.box-body-content table table.sub_table td.header {
    /*background-color: #efefef;*/
    font-weight: bold;
}
.key-search {color:#ff5a00; font-weight: bold; }
.type-search {color:#06c; font-weight: bold; }
.category {}
.box-body-content td.sub {border-top: none;}
.level-1 p.name {padding-left: 25px;}
.level-2 p.name {padding-left: 50px;}
.alt td span {font-size: 10px; float: left; vertical-align:top; padding-right: 5px; color: #ff5a00;}
input.text-large { width: 710px;}
input.text-medium { width: 260px;}
.width-200 {width: 200px;}
.width-100 {width: 100px;}
.width-50 {width: 50px;}
.width-25 {width: 25px;}
input.text-small {width: 25px;}
.text-input {width: 710px; height: 105px;}
.form-desc {margin-bottom: 0; font-style: italic;}

/* Category */
.cate-edit {  background: url(../images/f3icons/page_edit.gif) no-repeat left; padding:10px 10px 10px 20px; margin-left: 15px; }
.cate-del { background: url(../images/f3icons/page_delete.gif) no-repeat left; padding: 10px 10px 10px 20px; }
.add-new {font-style: italic; background: url(../images/f3icons/page_new.gif) no-repeat left; padding: 0 20px;}
/*............... */
/* content */
.button {border: 1px solid #d2d2d2; text-decoration: none; float: left; padding: 3px 10px;}
.small-text {font-size: 9px;}
.rich-text {width: 560px; height: 105px;}
/*-----------------*/
#header-top{
    height:38px;
    margin-bottom:15px;
    overflow:hidden;
}
#acc{
    float:left;
    margin-top:8px;
    width:700px;
    font-size:11px;
}
#acc-name, #acc a{
    font-weight:bold;
    margin-right:5px;
    font-size:12px;
}
#acc-name{
    color:#ff5a00;
}
#backhome{
    position: relative;
    top: 10px;
    float: right;
    width: auto;
    padding: 0;
}
#backhome a { padding-left: 10px; }
#backhome a:hover{
    text-decoration:none;
}
#backhome span.home{
    background:url(../images/icon-backhome.gif) no-repeat 0 50%;
    padding-left:25px;
}
#header-content{
    margin:20px auto 10px;
}
.admin-title { color: #FF5A00; font-size: 30px; margin-top: 20px; text-align: center; }
#menu-main{
    height:71px;
    background:url(../images/menu-bg.gif) no-repeat 50% 0;
    clear: both;
}
#menu-main li{
    list-style:none;
    float:left;
    padding:0 5px 0 3px;
}
#menu-main-f{
    height:45px;
    line-height:45px;
}
#menu-main-f{
    margin-left:10px;
}
#menu-main-f li{
    background:url(../images/menu-line.gif) no-repeat 100% 50%;
}
#menu-main-f li a{
    padding:0 0 0 10px;
    text-transform:uppercase;
    color:#fff;
    font-weight:bold;
    display:block;
    overflow:hidden;
    float:left;
}
#menu-main-f li a span{
    float:left;
    display:block;
    padding-right:5px;
}
#menu-main-f li a:hover{
    background:url(../images/menu-hover.gif) no-repeat 0 48%;
    text-decoration:none;
}
#menu-main-f li a:hover span{
    background:url(../images/menu-hover.gif) no-repeat 100% 48%;
}
#menu-main-f li.active a, #menu-main-f li.active a:hover, #menu-main-f li.active a:hover span{
    background:url(../images/menu-active.gif) repeat-x 0 0;
    color:#ff5a00;
}
#menu-main #menu-main-sub{
    margin-left:25px;
    margin-bottom: 0px;
}
#menu-main #menu-main-sub li{
    margin-right:20px;
    list-style:square;
    color:#777;
}

/**/

.box-body{
    margin-bottom:10px;
    overflow:hidden;
}
.title-box-body{
    /*background:url(images/square-grays.gif) repeat-x 0 50%;*/
    margin-bottom:10px;
    margin-top:10px;
}
.title-box-body span{
    /*background:#fff;
	padding:0 5px;
	margin-left:5px;*/
    color:#666;
    font-weight:bold;
    font-size:18px;
}
.title-box-body span.other-tab{
    margin-left:20px;
    text-transform:none;
    font-size:12px;
}
.box-body-content{
    border:1px solid #d2d2d2;
}
#fillder .box-body-content table{
    margin:10px;
}
#fillder .box-body-content,#Order-list .box-body-content{
    padding:10px;
}
#fillder .box-body-content td{
    border:0;
}

.label-fillder{
    width:150px;
    text-align:right;
}
.fillder-input{
    width:262px;
}
.fillder-input-s{
    width:100px;
}

.a.button-link, 
.button-content-yell{
    background:#ffa800 url(../images/button-bg-yell.gif) repeat-x 0 100%;
    height:24px;
    border:0;
    color:#fff;
    padding: 0 8px;
    cursor:pointer;
}

.big_button {
    background:#ffa800 url(../images/button-bg-yell.gif) repeat-x 0 100%;
    -moz-border-radius:5px 5px 5px 5px;
    border-color:#dddddd #e38100 #e38100 #dddddd;
    border-style:solid;
    border-width:0 1px 1px 0;
    color:#fff;
    cursor:pointer;
    font-size:20px;
    height:40px;
    line-height:40px;
    margin:0;
    overflow:visible;
    padding:0 15px;
    text-shadow:1px 1px #719E03;
}
.button-content-grays{
    background:#f0f5f8 url(../images/button-bg-grays.gif) repeat-x 0 100%;
    height:24px;
    border:0;
    color:#7192a8;
}
.tab-box-body{
    height:27px;
}
.tab-box-body li{
    float:left;
    margin-right:1px;
    list-style:none;
}
.tab-box-body li a{
    background:url(../images/tab-bg.gif) no-repeat 0 0;
    display:block;float:left;
    line-height:27px;
    padding-left:10px;
}
.tab-box-body li a span{
    background:url(../images/tab-bg.gif) no-repeat 100% 0;
    display:block;
    float:left;
    padding-right:10px;
}
.tab-box-body li a:hover, .tab-box-body li.active a{
    background:url(../images/tab-bg-active.gif) no-repeat 0 0;
    color:#fff;
    text-decoration:none;
}
.tab-box-body li a:hover span, .tab-box-body li.active a span{
    background:url(../images/tab-bg-active.gif) no-repeat 100% 0;
}
#Order-list .box-body-content table{
    margin:5px 10px;
    margin:5px;
    border:1px solid #d2d2d2;
}
.box-body-content th{
    color:#4068a0;
    background:#d4e5f6;
    text-align:left;
    padding:5px;
    border-top:1px solid #fff;
    border-right:1px solid #eee;
    border-bottom:1px solid #f1f8ff;
}
.box-body-content td.end{
    border-right:0;
}
.box-body-content td{
    border-right:1px solid #eee;
    border-top:1px solid #d2d2d2;
    padding:5px;
}
.box-body-content td.money{
    text-align:right    
}
.box-body-content p{
    margin:0 0 5px 0;
    position:relative;
}

.label-box-body-content td{
    background:url(../images/bill-title-bg-box.gif) repeat-x 0 0;
    border-right:1px solid #f2f2f2;
    border-top:1px solid #fff;
}
.box-body-content .odd{
    background:#f9f9f9;
}
.Order-sp{
    vertical-align:middle;
    width:350px;
}
.Order-sp img, #news-list img, #product-list img{
    float:left;
    margin-right:10px;
}
#Order-list .box-body-content .price, #Order-list .box-body-content .number-sp{
    width:90px;
}
#Order-list .box-body-content th{
    border-bottom:1px solid #d2d2d2;
}
.status-sp{
    text-align:right;
}
/**/
#admin-menu{
    overflow:hidden;
}
#admin-menu-1, #admin-menu-2, #admin-menu-3{
    width:220px;
    float:left;
    margin-top:20px;
    margin-left:20px;
}
#admin-menu .box-body-content{
    height:260px;
    overflow:auto;
}
#admin-menu .box-body-content ul{
    margin:0 10px 0 5px;
}
#admin-menu .box-body-content li{
    margin-bottom:5px;
    padding-bottom:5px;
    padding-left:5px;
    list-style:none;
    border-bottom:1px dashed #dfdfdf;
}
#admin-menu .box-body-content li a{
    font-weight:bold;
}
#admin-menu-edit{
    margin-top:20px;
    overflow:hidden;
}
#admin-menu-edit td{
    padding:5px;
    border:0;
}
.label-admin-menu-edit{
    width:200px;
    text-align:right;
}
.input-admin-menu-edit{
    width:340px;
    color:#555;
}

/*************
	FORM
 *************/
input.text-field {
}

textarea.tiny,
input.tiny {
    width: 10%;
}

textarea.small,
input.small {
    width: 30%;
}

textarea.medium,
input.medium {
    width: 50%;
}
textarea.large,
input.large {
    width: 90%;
}

form.admin-form table tr td {
    border-bottom: 1px solid #efefef;
    padding: 3px;
}
form.admin-form table.no-border tr td,
form.admin-form table tr td.no-border {
    border: none;
}

.label-error {
    color: #c40200;
}

.media-buttons a {
    cursor:pointer;
    padding:0 0 0 10px;
}

/*--

#partner-list , #news-list #paging, #product-list #paging, #help-list #paging{
	margin:5px 0 0 0;
	}
*/
.acc-login{
    font-weight:bold;
}
#fillder-news-select{
    margin-top:20px;
    overflow:hidden;
    margin-bottom:20px;
}
#fillder-news-select label{
    font-size:14px;
    font-weight:bold;
    float:left;
    text-align:right;
    width:165px;
}
#fillder-news-select #fillder-news-select-r{
    float:left;
    margin-left:10px;
}
#news-list #news-list-select{
    width:50px;
}
#news-list #news-list-select img{
    float:none;
}
#news-list #admin-menu-edit{
    margin-top:0;
    padding:10px 0px;
}

.button-manipulation-add a{
    background:url(../images/bullit-triangle-down.gif) no-repeat 0 50%;
    padding-left:15px;
}
.button-manipulation-add a.active{
    background:url(../images/bullit-triangle-up.gif) no-repeat 0 50%;
    padding-left:15px;
}
.box-body-content .box-label-manipulation{
    position:absolute;
    width:300px;
    background:#fff;
    border:1px solid #ccc;
    z-index:999999;
}
.box-body-content .box-label-manipulation th{
    background:none;
    width:70px;

}
.box-body-content .box-label-manipulation th, .box-body-content .box-label-manipulation td{
    border-bottom:1px solid #ccc;
    border-top:0;
}
#partner-list .partner-list-detail table{
    margin:20px;
}
#partner-list .partner-list-detail th{
    background:none;
}
#partner-list .partner-list-detail th, #partner-list .partner-list-detail td{
    border:0;
}
#partner-list .partner-list-detail th{
    width:120px;
    text-align:right;
    font-weight:normal;
}
/* table
---------------------------------- */
table.admin-table {
    font-size: 12px;
}

.user-table-acl{font-size: 11px; font-weight: lighter; color: #7f7f7f;}

div.add-new-button a {
    -moz-border-radius:5px;
    border-radius: 5px;
    border: 1px solid #ccc;	
    padding: 7px 10px 7px 27px;	
    background: url(../images/famfamfam/add.png) 7px 7px no-repeat;
    text-decoration: none;
}

div.add-new-button a.all_user {
    -moz-border-radius:5px;
    border-radius: 5px;
    border: 1px solid #ccc;	
    padding: 7px 10px 7px 27px;	
    background: url(../images/famfamfam/server_database.png) 7px 7px no-repeat;
    text-decoration: none;
}

div.add-new-button .cancel-button{
    -moz-border-radius:5px;
    border-radius: 5px;
    border: 1px solid #ccc;	
    padding: 7px 10px 7px 27px;	
    background: url(../images/famfamfam/cancel.png) 7px 7px no-repeat;
    text-decoration: none;
}

div.add-new-button .search-button{
    -moz-border-radius:5px;
    border-radius: 5px;
    border: 1px solid #ccc;	
    padding: 7px 10px 7px 27px;	
    background: url(../images/famfamfam/server_database.png) 7px 7px no-repeat;
    text-decoration: none;
}

div.add-new-button .syn-button{
    -moz-border-radius:5px;
    border-radius: 5px;
    border: 1px solid #ccc;	
    padding: 7px 10px 7px 27px;	
    background: url(../images/famfamfam/arrow_refresh.png) 7px 7px no-repeat;
    text-decoration: none;
}

div.add-new-button a:hover {
    background-color: #efefef;
}

.tool-hover {	
    visibility : hidden;
}

.tool-hover a {
    padding: 2px 5px 0 20px;
    line-height: 20px;
}
.tool-hover a.tool-hover-edit {
    line-height: 20px;
    background: url(../images/famfamfam/pencil.png) no-repeat;
}
/* message
---------------------------------- */
.system-message {
    -moz-border-radius:5px;
    border-radius: 5px;
    padding: 5px 5px 5px 40px;
    background-repeat:no-repeat;
    font-size: 13px;
}

.system-message dt {
    font-weight:bold;
}

.system-message dd {
    margin: 0px;
}

.msg-success{
    color:#40550d;
    border:1px solid #b2dc4d;
    background:url(../images/icon/accept.png) 10px 50% no-repeat #cce296;
}

.msg-warning{
    color:#a9a014;
    border:1px solid #efdc90;
    background:url(../images/icon/error.png) 10px 50% no-repeat #fffecc;
}

.msg-error{
    color:#c40200;
    border:1px solid #ff0000;
    background:url(../images/icon/cancel.png) 10px 50% no-repeat #e7928d;
}

.button-search{ margin-left: 15px;}
.delActive{}
.hint{
    font-size:10px;
}

/* agency order */
.item-form{
    display:none;
}
/* order_file */
#media-upload_form {
    width: 650px;
    margin: 10px;
}

.button {
    vertical-align: middle;
}

.swfupload {
    margin: 5px 10px;
    vertical-align: middle;
    text-align: center;
}

.media-file {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    min-height: 36px;
    width: 100%;
    border-bottom-color: #dfdfdf;
}

.file-edit-form {
    border-top: 1px dotted #dfdfdf;
    padding: 10px;
}

#media-items {
    border-bottom: medium none;
    border-style: solid solid none;
    border-width: 1px 1px medium;    
    margin-bottom: 10px;
    border-color: #dfdfdf;
    width: 623px;
}

a.describe-toggle-off,
a.describe-toggle-on {
    line-height: 36px;
    margin: 0 10px;
}

a.describe-toggle-off {
    display: none;
}

div.file-edit-form {
    display: none;
}

.file-name {
    line-height: 36px;
    overflow: hidden;
    padding: 0 10px;
    font-weight: bold;
}

#divFileProgressContainer {
    color: #999;
    border: 1px dotted #999;
    width: 623px;
}

.media-file table.table-form-large tr td.label {
    width: 15%;
}

.media-file table.table-form-large tr td, table.table-form tr td {
    padding: 2px;
}

.media-file table.table-form-large tr td.form-element {
    width: 85%;
}
div#reupload-success{
    display: none;
}
#reupload-success.media-title{
    color:#999;
}
.reupload-message{
    color: red;
}

.grey-price{
    color: #ccc;
    font-weight: bold;
    text-decoration: line-through;
}

/* Tabs */
.tabs {
    border-bottom: 1px solid #DDDDDD;
    margin-top: 20px;
}
.tabs ul {
    margin-bottom: 0;
    overflow: auto;
    position: relative;
    top: 1px;
}
.tabs li {
    background: url("../images/bt-large.png") no-repeat scroll center -57px transparent;
    border: 1px solid #DDDDDD;
    border-radius: 8px 8px 0 0;
    display: inline;
    float: left;
    line-height: 27px;
    list-style: none outside none;
    margin-left: 5px;
    text-align: center;
    min-width: 100px;
}
.tabs li span { padding: 5px 20px; }
.tabs li.actived, .tabs li:hover {
    background: none repeat scroll 0 0 transparent;
    border-bottom-color: #FFFFFF;
    cursor: default;
    font-weight: bold;
}
.tabs li.actived, .tabs li:hover a { text-decoration: none; }
.tabs li.first {
    margin-left: 50px;
}

/* Button */
.bt-gray {
    background: url("../images/bt-large.png") no-repeat scroll center -57px transparent;
    margin-bottom: 10px;
    padding: 1px 10px;
}
.bt-blue {
    background: url("../images/bt-blue.png") no-repeat scroll center transparent;
    margin-bottom: 10px;
    padding: 1px 10px;
}

/**
* Color
*/
div.bgcolor-bac {
    background: url('../images/color/bac.png') no-repeat transparent;
}
div.bgcolor-be {
    background: url('../images/color/be.png') no-repeat transparent;
}
div.bgcolor-cam {
    background: url('../images/color/cam.png') no-repeat transparent;
}
div.bgcolor-cham-bi {
    background: url('../images/color/cham-bi.png') no-repeat transparent;
}
div.bgcolor-da {
    background: url('../images/color/da.png') no-repeat transparent;
}
div.bgcolor-da-bao {
    background: url('../images/color/da-bao.png') no-repeat transparent;
}
div.bgcolor-do-sam {
    background: url('../images/color/do-sam.png') no-repeat transparent;
}
div.bgcolor-do-tuoi {
    background: url('../images/color/do-tuoi.png') no-repeat transparent;
}
div.bgcolor-hoa-van {
    background: url('../images/color/hoa-van.png') no-repeat transparent;
}
div.bgcolor-hong {
    background: url('../images/color/hong.png') no-repeat transparent;
}
div.bgcolor-hong-canh-sen {
    background: url('../images/color/hong-canh-sen.png') no-repeat transparent;
}
div.bgcolor-ke-caro {
    background: url('../images/color/ke-caro.png') no-repeat transparent;
}
div.bgcolor-ke-doc {
    background: url('../images/color/ke-doc.png') no-repeat transparent;
}
div.bgcolor-ke-ngang {
    background: url('../images/color/ke-ngang.png') no-repeat transparent;
}
div.bgcolor-mau-den {
    background: url('../images/color/mau-den.png') no-repeat transparent;
}
div.bgcolor-mau-dong {
    background: url('../images/color/mau-dong.png') no-repeat transparent;
}
div.bgcolor-mau-ke {
    background: url('../images/color/mau-ke.png') no-repeat transparent;
}
div.bgcolor-mau-khoi {
    background: url('../images/color/mau-khoi.png') no-repeat transparent;
}
div.bgcolor-mau-loang {
    background: url('../images/color/mau-loang.png') no-repeat transparent;
}
div.bgcolor-mau-rr {
    background: url('../images/color/mau-rr.png') no-repeat transparent;
}
div.bgcolor-nau {
    background: url('../images/color/nau.png') no-repeat transparent;
}
div.bgcolor-tia {
    background: url('../images/color/tia.png') no-repeat transparent;
}
div.bgcolor-tim {
    background: url('../images/color/tim.png') no-repeat transparent;
}
div.bgcolor-tim-than {
    background: url('../images/color/tim-than.png') no-repeat transparent;
}
div.bgcolor-trang {
    background: url('../images/color/trang.png') no-repeat transparent;
}
div.bgcolor-vang {
    background: url('../images/color/vang.png') no-repeat transparent;
}
div.bgcolor-vang-chanh {
    background: url('../images/color/vang-chanh.png') no-repeat transparent;
}
div.bgcolor-vang-non {
    background: url('../images/color/vang-non.png') no-repeat transparent;
}
div.bgcolor-xam {
    background: url('../images/color/xam.png') no-repeat transparent;
}
div.bgcolor-xam-long-chuot {
    background: url('../images/color/xam-long-chuot.png') no-repeat transparent;
}
div.bgcolor-xanh-com {
    background: url('../images/color/xanh-com.png') no-repeat transparent;
}
div.bgcolor-xanh-da-troi {
    background: url('../images/color/xanh-da-troi.png') no-repeat transparent;
}
div.bgcolor-xanh-den {
    background: url('../images/color/xanh-den.png') no-repeat transparent;
}
div.bgcolor-xanh-la-cay {
    background: url('../images/color/xanh-la-cay.png') no-repeat transparent;
}
div.bgcolor-xanh-nuoc-bien {
    background: url('../images/color/xanh-nuoc-bien.png') no-repeat transparent;
}
div.bgcolor-xanh-reu {
    background: url('../images/color/xanh-reu.png') no-repeat transparent;
}
.edit-link, .email-link, .add-icon, .delete-link, .clean-close, .excel-link, .active-link {
    background-image: url("../images/icons.gif");
    background-repeat: no-repeat;
    margin: 0 5px;
    padding-left: 20px;
}
.excel-link {
    background-position: 0 -436px;
}