<style>
.button-content-blue{
	background:#7FB6F9 url(../public_html/admin/images/button-bg-blue.gif) repeat-x 0 100%;
	height:24px;
	border:0;
	color:#fff;
    padding: 0 8px;
	cursor:pointer;
}
</style>
<?php
$document = Flywheel_Factory::getDocument(); 
$url_path = $document->getPublicPath();
$base_url = $document->getBaseUrl(); 
?>         
<div class="clear"></div>
<?php if(isset ($message)) {
    echo $message;
}?>
<div class="clear"></div>
<div id="fillder" class="box-body">
    <div id="fillder-header" class="title-box-body"><span>Lọc menu</span></div>
    <div id="fillder-content" class="box-body-content">
    <form class="admin-from" method="GET" action="">
        <input type="hidden" name="com" value="<?php echo $com; ?>" />
        <input type="hidden" name="act" value="default" />
        <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
            <tr>
                <td class="label-fillder">Tên menu: </td>
                <td><input type="text" value="<?php echo $title; ?>" class="fillder-input" name="title" id="title" /></td>
                
                <td class="label-fillder">Cấp cha: </td>
                <td>
                    <select name="parent_id" id="parent_id">
                        <option value="0">Chọn cấp cha: </option>
                        <?php echo $selectParent; ?>
                    </select>
                </td>
            </tr>
            
            <tr>
                <td class="label-fillder">URL(tương đối): </td>
                <td><input type="text" value="<?php echo $url; ?>" class="fillder-input" name="url" id="url" /></td>
                
                <td class="label-fillder">Mã quyền: </td>
                <td>
                    <input type="text" value="<?php echo $privilege; ?>" class="fillder-input" onclick="string_to_slug()" name="privilege" id="privilege" />
                </td>
            </tr>
            
            <tr>
                <td class="label-fillder">Mô tả: </td>
                <td><input type="text"  class="fillder-input" name="comment" id="comment" value="<?php echo $comment; ?>" /></td>
                <td></td>
                <td><input style="width: 90px;" class="button-content-yell" name="" value="Tìm kiếm" type="submit" />&nbsp;<input style="width: 90px;" class="button-content-blue" name="" value="Thêm mới" type="button" onclick="addNewMenu()" /></td>
            </tr>
            </tbody>
        </table>    
    </form>
    </div>
</div>
<?php  if (isset ($datas)) { ?>
<div class="grid_10 title-box-body">
    <span>Danh sách Menu</span>
</div>
<div class="clear"></div>
<div class="grid_10">
    <p>
    Có <?php echo $count; ?> kết quả.
    </p>
</div>

<div class="clear"></div>
<div class="box-body-content grid_24 user">
    <table class="admin-table user" width="100%;" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <th width="3%">STT</th>
            <th width="15%">Tên menu</th>
            <th width="15%">Cấp cha</th>
            <th width="15%">Quyền hệ thống</th>
            <th width="7%">Thao tác</th>   
        </tr>
        <?php
        $i = 1;    
        if ($datas) {
            foreach ($datas as $row) 
            {
                if($row['parent_id'] == 0)
                {?>
                    <tr class="alt">
                        <td><?php echo $i; ?></td>
                        
                        <td>
                            <strong><?php echo $row['title']; ?></strong>
                        </td>
                        <td>
                            <?php
                            if($row['parent_id'] == 0)
                                echo '-';
                            else     
                            {
                                if($title_parent)
                                    echo $title_parent[$row['parent_id']]['title'];   
                            } 
                            ?>
                        </td>
                        <td>
                            <?php echo $row['privilege_code']; ?>
                        </td>
                        
                        <td>
                            <p>                
            					<a title="Sửa menu" href="<?php echo $link_edit.$row['id']; ?>" class="">Sửa</a>&nbsp;|&nbsp;					                      
            					<a title="Xoá menu" href="<?php echo $link_del.$row['id']; ?>" class="">Xoá</a>					                      
                            </p>
                        </td>
                        
                    </tr>
                <?php
                foreach($datas as $sub)
                {
                    if($sub['parent_id'] == $row['id'])
                    {
                        ++$i;
                        ?>
                        <tr class="alt">
                            <td><?php echo $i; ?></td>
                            
                            <td>
                                <?php echo '.'.$sub['title']; ?>
                            </td>
                            <td>
                                <?php
                                if($sub['parent_id'] == 0)
                                    echo '-';
                                else     
                                {
                                    if($title_parent)
                                        echo $title_parent[$sub['parent_id']]['title'];   
                                } 
                                ?>
                            </td>
                            <td>
                                <?php echo $sub['privilege_code']; ?>
                            </td>
                            
                            <td>
                                <p>                
                					<a title="Sửa menu" href="<?php echo $link_edit.$sub['id']; ?>" class="">Sửa</a>&nbsp;|&nbsp;					                      
                					<a title="Xoá menu" onclick="javascript:return confirm('Có chắc chắn xoá nó không?');" href="<?php echo $link_del.$sub['id']; ?>" class="">Xoá</a>					                      
                                </p>
                            </td>
                            
                        </tr>
                        <?php
                    }
                }
                ++$i;
            } 
            }
       }?>
    </table>
</div>
<?php }?>
<script lange="text/javascript">
	$(function () {
       
	});
</script>