<?php
    $path = Flywheel_Factory::getDocument()->getPublicPath();
?>
<link href="<?php echo $path ?>admin/stylesheet/item_home.css" rel="stylesheet" type="text/css" />

<style type="text/css">
    .list-action li {
        clear: both;
        list-style: decimal;
        margin-left: 50px;
    }
    h3 {
        font-weight: normal;
        margin: 20px 0;
    }
</style>
<script type="text/javascript">
    $(document).ready(function() {
        $('.del').click(function(e) {
           if(confirm('Xóa cache ' + $(this).attr('content') + '?')) {
               $.ajax({
                   url: '<?php echo $path ?>del_cache.php',
                   data: { 'cmd' : $(this).attr('act') },
                   type: 'GET',
                   success: function(d) {
                       alert('Xóa thành công!');
                   }, error: function(e) {
                       alert('Xóa lỗi');
                   }
               });
           } 
        });
    });
</script>

<div style="margin-left: 20px;">
    <h3>
        Xóa cache hệ thống:
    </h3>

    <div style="width: 300px;" class="list-action">
        <ul>
            <li>
                Sản phẩm
                <input type="button" class="del bt-gray fr" act="items" value="Xóa" content="sản phẩm" />
            </li>
            <li>
                Danh mục sản phẩm
                <input type="button" class="del bt-gray fr" act="item_categories" value="Xóa" content="danh mục" />
            </li>
        </ul>
    </div>
</div>