<?php
$document = Flywheel_Factory::getDocument(); 
$url_path = $document->getPublicPath();
$base_url = $document->getBaseUrl(); 
?>         
<div class="clear"></div>
<?php if(isset ($message)) {
    echo $message;
}?>
<div class="clear"></div>
<div id="fillder" class="box-body">
    <div id="fillder-header" class="title-box-body"><span>Thêm mới menu</span></div>
    <div id="fillder-content" class="box-body-content">
    <form class="admin-from" method="GET" action="">
        <input type="hidden" name="com" value="<?php echo $com; ?>" />
        <input type="hidden" name="act" value="edit" />
        <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
            <tr>
                <td class="label-fillder">Tên menu: </td>
                <td><input type="text"  class="fillder-input" name="title" value="<?php echo $data['title']; ?>" /></td>
                
                <td class="label-fillder">Cấp cha: </td>
                <td>
                    <select name="parent_id" id="parent_id">
                        <option value="0">Là cấp cha: </option>
                        <?php echo $selectParent; ?>
                    </select>
                </td>
            </tr>
            
            <tr>
                <td class="label-fillder">URL(tương đối): </td>
                <td><input type="text"  class="fillder-input" name="url" value="<?php echo $data['url']; ?>" /></td>
                
                <td class="label-fillder">Mã quyền: </td>
                <td>
                    <input type="text"  class="fillder-input" name="privilege" value="<?php echo $data['privilege_code']; ?>" />
                </td>
            </tr>
            
            <tr>
                <td class="label-fillder">Mô tả: </td>
                <td><input type="text"  class="fillder-input" name="comment" value="<?php echo $data['comment']; ?>" /></td>
                <td></td><td><input style="width: 90px;" class="button-content-yell" name="ok" value="Cập nhật" type="submit" /></td>
            </tr>
            </tbody>
        </table>    
        <input type="hidden" name="id" value="<?php echo $data['id']; ?>" />
    </form>
    </div>
</div>