<?php

/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */
// Require browse left menu
$req = Flywheel_Factory::getRequest();
require_once MODULES_DIR . 'BrowseLeft/default.php';
?>

<div class="main-content fl">
    <div class="cart">
        <h2 class="tab">
            Giỏ hàng
        </h2>
        
        <h3 style="margin-top: 10px;"><u>Sản phẩm trong giỏ:</u></h3>
        <table cellspacing="0">
            <tr>
                <th style="width: 10px;">STT</th>
                <th>Tiêu đề</th>
                <th style="width: 80px;">Số lượng</th>
                <th style="width: 80px;">Đơn giá <br/>(VNĐ)</th>
                <th style="width: 80px;">Thành tiền <br/>(VNĐ)</th>
                <th style="width: 65px;">#</th>
            </tr>
            <?php 
            $inc = $total_amount = $total_money = 0;
            if(!empty($_itemsCart)) {
                foreach($_itemsCart as $k => $v) {
                    $inc++;
                    $total_amount += $v['amount'];
                    $total_money += $v['amount'] * $v['price'];
                    ?>
            <tr>
                <td><?php echo $inc; ?></td>
                <td>
                    <a href="<?php echo FrontendUtil::url_format('item', 'default', array('title' => array_key_exists($k, $_itemsData) ? $_itemsData[$k]['title'] : "", 'id' => $v['item_id'] )) ?>" target="_blank" 
                       title="<?php echo array_key_exists($k, $_itemsData) ? $_itemsData[$k]['title'] : "" ?>">
                            <?php echo array_key_exists($k, $_itemsData) ? $_itemsData[$k]['title'] : "" ?>
                    </a>
                </td>
                <td><input type="text" class="text amount" name="amount[]" value="<?php echo $v['amount'] ?>" /></td>
                <td><?php echo FrontendUtil::currencyFormat($v['price']) ?></td>
                <td><?php echo FrontendUtil::currencyFormat($v['amount'] * $v['price']) ?></td>
                <td>
                    <a href="javascript:;" onclick="update_cart(<?php echo $v['item_id'] ?>, this)">[Cập nhật]</a> 
                    <a href="javascript:;" onclick="delete_cart(<?php echo $v['id'] ?>, this)">[Xóa]</a>
                </td>
            </tr>
            <?php
                }
            }
            ?>
            <tr class="last">
                <td colspan="2" style="text-align: right;"><b>Tổng:</b></td>
                <td><?php echo $total_amount ?></td>
                <td></td>
                <td><?php echo FrontendUtil::currencyFormat($total_money) ?></td>
                <td></td>
            </tr>
        </table>
        
        <div class="continue-buy">
            <a href="<?php echo FrontendUtil::url_format('browse', 'default') ?>" title="Tiếp tục mua hàng">[Tiếp tục mua hàng]</a>
        </div>
    </div>
    <div class="customer_info">
        <form method="post" name="from_data" onsubmit="return confirm('B\u1ea1n đã sẵn sàng đặt đơn tại website chúng tôi?')">
            <h2 class="tab">Thông tin người dùng</h2>
            <table>
                <?php
                if(!$_result['status']) {
                ?>
                <tr>
                    <td></td>
                    <td><span class="require">[ <?php echo $_result['msg'] ?> ]</span></td>
                </tr>
                <?php } ?>
                <tr>
                    <td class="label">Tên người mua hàng <span class="require">(*)</span>:</td>
                    <td><input type="text" class="text" name="name" value="<?php echo $req->post('name') ?>"/></td>
                </tr>
                <tr>
                    <td class="label">Địa chỉ mua hàng <span class="require">(*)</span>:</td>
                    <td><input type="text" class="text" name="address" value="<?php echo $req->post('address') ?>" /></td>
                </tr>
                <tr>
                    <td class="label">Điện thoại <span class="require">(*)</span>:</td>
                    <td><input type="text" class="text" name="phone" value="<?php echo $req->post('phone') ?>" /></td>
                </tr>
                <tr>
                    <td class="label">Fax:</td>
                    <td><input type="text" class="text" name="fax" value="<?php echo $req->post('fax') ?>" /></td>
                </tr>
                <tr>
                    <td class="label">Email:</td>
                    <td><input type="text" class="text" name="email" value="<?php echo $req->post('email') ?>" /></td>
                </tr>
                <tr>
                    <td class="label">Ghi chú đơn hàng:</td>
                    <td><textarea name="note"><?php echo $req->post('note') ?></textarea></td>
                </tr>
                <tr>
                    <td></td>
                    <td><u>Ghi chú:</u><i>Những nội dung có <span class="require">(*)</span> là bạn phải điền thông tin chính xác.</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Gửi đơn hàng" /></td>
                </tr>
            </table>
        </form>
    </div>
</div>

<?php
// Require browse left menu
require_once MODULES_DIR . 'BrowseRight/default.php';
?>

<div class="clear_fix"></div>

<script type="text/javascript">
    function update_cart(id, obj) {
        $.ajax({
            url: '<?php echo FrontendUtil::url_format('cart', 'default') ?>',
            type: "POST",
            data: { 'item_id' : id, 'amount' : $(obj).parent().parent().find('input.amount').val(), 'type' : 'update' },
            success: function(d) {
                d = $.parseJSON(d);
                if(d.status) {
                    window.location = window.location.href;
                }
            }
        })
    }
    function delete_cart(id, obj) {
        if(confirm('Xóa s\u1ea3n phẩm khỏi giỏ hàng?')) {
           $.ajax({
               url: '<?php echo FrontendUtil::url_format('cart', 'del') ?>',
               type: 'POST',
               data: { 'id' : id },
               success: function(d) {
                    d = $.parseJSON(d);
                    if(d.status) {
                        window.location = window.location.href;
                    }
               }
           })
        }
    }
</script>