<?php
/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */
// Require browse left menu
$req = Flywheel_Factory::getRequest();
require_once MODULES_DIR . 'BrowseLeft/default.php';
?>

<style type="text/css">
    .customer_info { border: 1px solid #DDD; padding: 15px 5px 25px;  }
    .label { width: 30%;}
</style>

<div class="main-content fl">
    <div class="order_detail">
        <h2 class="tab">Chi tiết đơn hàng</h2>
    </div>
    <?php
    if ($_order->id == 0) {
        echo "<div class='order_not_fount'>Không tìm thấy đơn hàng này! Hãy kiểm tra lại.</div>";
    } else {
        ?>
        <div class="customer_info">
            <table>
                <tr>
                    <td class="label">Tổng giá trị tiền hàng</td>
                    <td>
                        <span  class="price"><span><?php echo FrontendUtil::currencyFormat($_order->total_money) ?></span> <sup>VNĐ</sup></span>
                    </td>
                </tr>
                <tr>
                    <td class="label">Tên người mua hàng:</td>
                    <td><?php echo $_order->username ?></td>
                </tr>
                <tr>
                    <td class="label">Địa chỉ mua hàng:</td>
                    <td><?php echo $_order->address ?></td>
                </tr>
                <tr>
                    <td class="label">Điện thoại:</td>
                    <td><?php echo $_order->phone ?></td>
                </tr>
                <tr>
                    <td class="label">Fax:</td>
                    <td><?php echo $_order->fax ?></td>
                </tr>
                <tr>
                    <td class="label">Email:</td>
                    <td><?php echo $_order->email ?></td>
                </tr>
                <tr>
                    <td class="label">Ghi chú đơn hàng:</td>
                    <td><?php echo $_order->note ?></td>
                </tr>
            </table>
        </div>
    
        <div class="order_notify">
            Cám ơn bạn đã đặt đơn hàng tại website của công ty chúng tôi.
        </div>
    <?php } ?>
    
    <div class="items hot" style="margin-top: 30px;">
        <h2 class="tab">
            Sản phẩm tiêu biểu
        </h2>
        <ul>
            <?php 
            if(!empty($_items_special)) {
                foreach($_items_special as $k => $v) {
                    ?>
            <li>
                <a href="<?php echo FrontendUtil::url_format('item', 'default', array('title' => Flywheel_Inflector::slug($v['title']), 'id' => $v['id'])) ?>" title="<?php echo $v['title'] ?>">
                    <img src="<?php echo $url_path ?>medias/items/<?php echo $v['img'] ?>" alt="<?php echo $v['title'] ?>" />
                </a>
                <h2>
                    <a href="<?php echo FrontendUtil::url_format('item', 'default', array('title' => Flywheel_Inflector::slug($v['title']), 'id' => $v['id'])) ?>" title="<?php echo $v['title'] ?>"><?php echo $v['title'] ?></a>
                </h2>
                <span class="price">Giá: <span><?php echo FrontendUtil::currencyFormat($v['price']) ?></span> VNĐ</span>
                <span class="remain">Còn <span><?php echo $v['instock'] ?></span> sp</span>
            </li>
            <?php
                }
            }
            ?>
        </ul>
    </div>

</div>

<?php
// Require browse left menu
require_once MODULES_DIR . 'BrowseRight/default.php';
?>
<div class="clear_fix"></div>

